[2012-07-09 14:18] pippinsplugins opened #7 "Configure Admin Emails with Template Tags"
The admin emails should be significantly improved to allow modification.

[2013-04-01 18:19] pippinsplugins opened #68 "Don't send to https for confirmation page"
When the registration page uses https, the confirmation page ends up using https too, though it shouldn't.

[2014-01-27 18:19] pippinsplugins opened #92 "Add report for active counts over time"
This will allow site admins to see how their active subscribers count is changing over time.

It will require that a new option get stored in the database (not autoloaded) that stores the counts over time. The counts will be populated via a daily cron job that runs and records the number of active subscribers for each subscription level.

[2014-02-03 19:59] pippinsplugins opened #94 "Bundle Stripe in core"
The Stripe gateway is getting put into the core plugin.

[2014-02-12 16:39] pippinsplugins opened #95 "Allow discount code to be pre-filled by a query arg"
An option to prefill a discount code via a URL should be added. If a code is present, the field will be prefilled and the code will be validated.

Perhaps a URL should be displayed in the admin to make it easy for site admins to copy and paste a URL for specific codes.

[2014-04-16 15:46] pippinsplugins opened #102 "Introduce RCP_Member class"
A class similar to WP_User that makes it nice and easy to retrieve all member data.

This will be done after the move to a custom table for member meta data.

[2014-08-08 05:11] tnorthcutt opened #105 "Currency chosen should dynamically change the currency position select menu"
Choosing a currency that uses a symbol other than "$" should dynamically update the "Currency Position" select list to use the appropriate symbol, if applicable.

I'm assuming the simplest (best?) way to do this is to store an array of possible "before/after" text, and use js to swap out them out if the selected currency matches one of the before/after pairs. Hopefully that makes some sense.

By t

[2014-09-02 20:08] sumobi opened #106 ""unexpected output during activation" notice on plugin activation"
When I activate the plugin locally (2.0.8) I get this:

    The plugin generated 2009 characters of unexpected output during activation. If you notice “headers already sent” messages, problems with syndication feeds or other issues, try deactivating or removing this plugin.

Seems to be caused by these lines in `rcp_options_upgrade()`. Commenting these out prevents the notice from appearing.

	/**

[2014-12-05 03:04] pippinsplugins opened #109 "Gateway API 2.0"
A new, improved gateway API.

[2014-12-19 19:32] pippinsplugins opened #113 "Incorrect expiration date during renewals"
There is a bug with new expiration date calculations during renewals.

Upon renewal, the expiration date is calculated from today, not from the previous expiration date. If a user renews early, they effectively double-pay for the overlapping period. For example: a user is set to expire on 12/31/14. They renew today on 11/6/14 for a year. Their membership now expires 11/6/15 and they have paid twic

[2014-12-19 19:34] pippinsplugins opened #114 "Don't update status / expiration until renewal is complete"
If a member renews their membership manually, there is potential for their account status and expiration to get set improperly.

Status and expiration date are updated after a user completes registration/renewal, but before payment is received. For example, if a member starts to renew on 11/6/14 but then cancels when they get to Paypal, their membership is now in Pending status with an expiration

[2014-12-19 20:22] pippinsplugins opened #116 "Auto-create pages during install"
The registration and account pages should be automatically created during install.

[2014-12-19 20:42] pippinsplugins opened #117 "Introduce statuses for payments"
Payment records should all include a status.

This will be necessary in order to facilitate a refund / cancellation system in the future.

[2015-01-07 17:39] pavelevap opened #119 "Shortcodes not recognized in Ajax calls"
Hi,

we are using Ajax calls for loading posts and shortcodes are not recognized.
It is probably caused by `is_admin()` check in `restrict-content-pro.php` (which is always true for Ajax calls) for loading `includes/shortcodes.php` file.

Line 164 should be probably changed from:

`if( is_admin() ) {`

to:

`if( is_admin() && ( !defined( 'DOING_AJAX' ) || !DOING_AJAX ) ) {`

[2015-01-08 03:10] pippinsplugins commented on #119
Yep you're right. I've gone ahead and fixed it by making it a globally included file: https://github.com/pippinsplugins/Restrict-Content-Pro/commit/86d9278657545d7d7faa1f68215c163ae3f919d4

[2015-01-08 03:10] #119 closed

[2015-01-08 09:10] pavelevap commented on #119
Great, thank you!

[2015-01-08 17:13] pippinsplugins opened #120 "Rework registration form processing to submit via ajax"
I'd love to see the registration form processing to work similar to EDD where it is submitted via ajax and any errors are returned without a page reload.

[2015-01-08 17:15] pippinsplugins opened #121 "Improve discount code validation"
The discount code validation on registration could really use some love.

It should work more like EDD's discount validation.

- The discounted amount should show up on the registration form
- The current validation is buggy

[2015-01-08 17:15] pippinsplugins commented on #121
Relevant support ticket: https://secure.helpscout.net/conversation/54813740/3581/

[2015-01-08 17:42] #121 closed

[2015-01-08 18:44] pippinsplugins commented on #102
I'm going to go ahead and merge this into `release/2.1`. The new Gateways API still needs to make use of it in #109

[2015-01-08 18:46] pippinsplugins commented on #102
Merged into `release/2.1`

[2015-01-08 18:49] pippinsplugins commented on #116
Merged into `release/2.1`

[2015-01-08 18:49] #116 closed

[2015-01-08 18:49] pippinsplugins commented on #94
This is dependent on #109

[2015-01-08 22:57] pippinsplugins commented on #117
Merged into `release/2.1`

[2015-01-08 22:58] #117 closed

[2015-01-21 21:56] pippinsplugins commented on #109
This is just about ready for some serious testing. It's also time to start bringing the Stripe gateway into core.

[2015-01-21 22:27] pippinsplugins opened #124 "Display login link on registration form"
In order to assist with members that need to renew their subscription, there should be a login link on the registration form along with some text about logging in before renewing a subscription.

[2015-01-21 22:36] pippinsplugins opened #125 "Show email address on member detail screen"
I have always found it annoying that the email address is not displayed on the member detail screen.
![screen shot 2015-01-21 at 4 35 23 pm](https://cloud.githubusercontent.com/assets/1034109/5846718/8646ea1c-a18b-11e4-88be-fe9c4aa96737.png)

[2015-01-21 22:36] pippinsplugins commented on #109
So far this appears to be working beautifully. I've tested both the new PayPal and new Manual payment, as well as the old version of the Stripe gateway to check for backwards compatibility. So far so good.

[2015-01-21 22:39] #125 closed

[2015-01-21 22:58] #124 closed

[2015-01-21 23:00] pippinsplugins commented on #109
Merged into `release/2.1` for more complete testing.

[2015-01-25 18:46] pippinsplugins commented on #120
This appears to be working great, including with the current Stripe gateway (which uses JS validation). I will test more before merging into `release/2.1` though.

[2015-01-25 18:50] pippinsplugins commented on #120
Merged into `release/2.1`

[2015-01-25 18:50] #120 closed

[2015-01-28 23:31] pippinsplugins opened #126 "Add used discount codes to member and payment export"
It'd be great if the discount codes the members have used were included in the export files.

[2015-02-03 15:49] pippinsplugins opened #127 "Allow "unlimited" expiration for members"
There should be an option to make members never expire. This can sort of be done already by setting the expiration date to `none`, but the UI of the datepicker actually prevents this from happening at the moment.

[2015-02-03 15:57] carter2422 commented on #127
Yes please :)

[2015-02-03 15:58] pippinsplugins opened #128 "Combine Edit and View Details screens for members"
It's silly that there are two screens.

[2015-02-03 18:42] pippinsplugins opened #129 "Add support for User Switching plugin"
If User Switching is activated, a Switch To link should be shown on the Members page and the Edit member screen.

[2015-02-07 00:00] pippinsplugins commented on #94
This is now in `release/2.1`.

Things to test:
- [ ] One time signup
- [ ] Recurring plan signup (with webhooks active)
- [ ] Cancelling from `[subscription_details]`
- [ ] One time signup with discount
- [ ] Recurring plan signup with discount
- [ ] Signup with 100% discount

[2015-02-07 00:00] pippinsplugins commented on #94
- [ ] `[card_form]` short code needs re-implemented.
- [ ] Add check for old Stripe plugin and show notice

[2015-02-09 18:05] tnorthcutt opened #130 "Page dropdowns can be ambiguous"
The signup form tab of the settings page (`/wp-admin/admin.php?page=rcp-settings&settings-updated=true#forms`) contains two select lists of pages. Currently, these only display the page title, and can thus be ambiguous:
![image](https://cloud.githubusercontent.com/assets/796639/6112070/4379694a-b053-11e4-8a54-c688551e57bf.png)

Since the list of pages is fetched by `get_pages()`, one possible solu

[2015-02-10 19:59] tnorthcutt opened #131 "Stripe credit card expiration display is not customizable"
*This applies to the Stripe addon, but @pippinsplugins suggested I log an issue here since it's being added to core.*

Currently, the expiration date portion of the registration form looks like this when using the Stripe addon:

![2015-02-10 at 1 56 pm](https://cloud.githubusercontent.com/assets/796639/6135272/dca70512-b12c-11e4-8388-b4bc560cf244.png)

Obviously it's subjective, but to me the `/`

[2015-02-10 20:15] tnorthcutt commented on #129
I can probably tackle this if you'd like.

My initial thought is to have e.g. `rcp_is_user_switching_active()` and `rcp_get_user_switching_url()` functions – does it make sense to do it that way? If so, any preference on where they should go?

[2015-02-10 20:49] pippinsplugins commented on #129
I"d love the help! I like the idea of a conditional and then the helper
function for the URL.

On Tue, Feb 10, 2015 at 2:15 PM, Travis Northcutt <notifications@github.com>
wrote:

[2015-02-11 15:31] pippinsplugins opened #132 "Conflict with The Event Calendar"
When RCP and The Event Calendar are active, all events get hidden and errors like this show up:

WordPress database error: [Unknown column 'ipX_postmeta.meta_value' in 'order clause']
SELECT SQL_CALC_FOUND_ROWS DISTINCT ipX_posts.ID FROM ipX_posts LEFT JOIN ipX_postmeta as tribe_event_end_date ON ( ipX_posts.ID = tribe_event_end_date.post_id AND tribe_event_end_date.meta_key = '_EventEndDate' ) WH

[2015-02-11 23:43] pippinsplugins commented on #131
:+1:

[2015-02-11 23:44] pippinsplugins commented on #130
Hmm. Maybe if we just display it with the proper hierarchy so you see the indention. Would that suffice?

[2015-02-12 01:36] #132 closed

[2015-02-12 15:28] tnorthcutt commented on #131
@pippinsplugins do you plan to add the `expiry-separator` class? I have a client site I need to do this on, so if you already know how you'll do this in core, I can just mimic that in what I do so it'll work seamlessly on update :smile:

[2015-02-12 15:30] tnorthcutt commented on #130
Not sure what you mean by indention. Just to clarify, those two `Thank You` pages aren't in a hierarchical relationship; sorry if that was unclear. They just happen to have the same title (silly, I know).

Does that make sense?

[2015-02-12 15:44] pippinsplugins commented on #131
Yes, I'll add it as `rcp-expiry-separator`.

Note, the card form is also going to exist as a template file in 2.1.

[2015-02-12 23:03] cliffordp commented on #130
`%post_title% (ID: %post_id%)`

e.g.
 - Thank You (ID: 24)
 - Thank You (ID: 92)

[2015-02-13 00:48] tnorthcutt commented on #130
I considered that option, but my concern is that regular users wouldn't understand the implications of a post ID, or know where to find it, whereas they would hopefully be more likely to understand the implications of a URL. Does that make sense?

[2015-02-13 17:09] cliffordp commented on #130
URL could get really long. Slug might be same unless you include everything after site_url().

[2015-02-17 22:15] pippinsplugins opened #133 "Add support for cancelling PayPal subscriptions"
Turns out the API allows us to cancel subscriptions in PayPal: https://gist.github.com/thomasgriffin/188e9ae21576a9b567cb

[2015-02-17 22:17] carter2422 commented on #133
Fantastic!

[2015-02-19 05:38] JakePT opened #134 "Log in user and create account at the same time"
One issue I've run into is that the plugin appears to log the user in after payment is received, but registers the account as soon as the registration form is validated.

For example, when paying by credit card with the PayPal extension, if the credit card no. is incorrect the account still gets created, but the user doesn't get signed in or subscribed. This led to a situation where someone's paym

[2015-02-19 14:54] pippinsplugins commented on #134
This is a bug I'm working on resolving with v2.1. It's getting taken care of largely by getting the payment gateways integrated into the core plugin instead of as add-ons along with the introduction of the new gateways API #109

[2015-03-03 16:10] tnorthcutt commented on #130
@cliffordp are you saying slug could be the same because of cases where e.g. you might have a 2nd level (or lower) page with the same slug as a first level page?

Something like:
`http://example.com/first-level/thank-you`
`http://example.com/thank-you`
`http://example.com/another-first-level/second-level/third-level/thank-you`

If so, then combining slug with Pippin's suggestion for showing hierar

[2015-03-16 14:36] bearded-avenger opened #135 "Sluggish Queries"
Pippin,
Here's those slow queries from CGC (10+ seconds to compute):

https://gist.github.com/bearded-avenger/259c94bcf1073fa95161

[2015-03-18 21:37] pippinsplugins commented on #135
Thanks @bearded-avenger, I'm digging into these!

[2015-03-19 02:48] #131 closed

[2015-03-19 03:06] pippinsplugins commented on #94
Discount codes appear to be causing some issues.

[2015-03-19 04:15] #113 closed

[2015-03-20 21:10] tnorthcutt opened #137 "Allow restricting content within custom taxonomies"
It would be pretty cool if you could somehow get the RCP custom fields that are on category edit screens on custom taxonomy edit screens as well (and of course restrict access to content in those taxonomies accordingly).

Of course this would mean a pretty significant refactoring of [`/includes/admin/categories.php`](https://github.com/pippinsplugins/Restrict-Content-Pro/blob/master/includes/admin

[2015-03-21 02:22] etcook commented on #135
@pippinsplugins Here's another set:

https://gist.github.com/etcook/5b5f165881da955b72b3

Thanks!

[2015-03-23 21:56] pippinsplugins commented on #137
I'd love to get this added.

[2015-03-25 19:24] tnorthcutt commented on #129
Based on johnbillion's comments in https://github.com/johnbillion/user-switching/issues/5 I'm planning on not using a separate function to check if the user switching plugin is active. Instead, I'll add a method to `RCP_Member` (something like `switch_to_url()`), and a corresponding wrapper function in `includes/member-functions.php`.

[2015-03-26 00:13] pippinsplugins commented on #129
Sounds great!

[2015-03-26 00:24] pippinsplugins commented on #135
Thanks guys, I'll be looking at these soon.

[2015-03-26 00:32] pippinsplugins commented on #130
I'm inclined to agree with @cliffordp's proposal and add the IDs. It's not as clear for users that don't know what page IDs are, but it's better than having a drop down that is 10,000ft long because of super long page names.

[2015-03-26 19:45] tnorthcutt commented on #7
@pippinsplugins To clarify, are you talking about emails that are sent to admins (e.g. when a user signs up, cancels, etc.)?

If so, would you be in favor of keeping those on the existing `Emails` tab, or splitting off into separate tabs (e.g. `User Emails` and `Admin Emails`)?

[2015-03-27 19:23] pippinsplugins commented on #7
This is referring to the ones sent to the admin.

I'd like to rework this whole tab to be a lot more user friendly. The settings will probably still be under one tab, but they need cleaned up a lot.

[2015-03-27 23:12] #130 closed

[2015-04-03 14:26] #129 closed

[2015-04-03 14:33] pippinsplugins commented on #135
@etcook @bearded-avenger Do either of you know where this query is originating?
[code]

That doesn't exist anywhere in RCP.

Is that in the user experience plugin on CGC perhaps?

[2015-04-03 14:40] bearded-avenger commented on #135
Good question. I ran a search for rcp_subscription_level across all themes, and XP Dashboard, and I don't see anything. I can safely say I would have never formed a query like that, so if it is in our codebase, it would have been something that was introduced before 2014.

Does that ring any bells? Any RCP helper plugins for CGC? I'm still looking.

[2015-04-03 14:40] pippinsplugins commented on #135
Can you link me to the XP Dashboard file that has similar queries in it? I vaguely recall Ti helping to write some like that.

[2015-04-03 14:41] bearded-avenger commented on #135
One sec, that was for the rank views though....

[2015-04-03 14:41] bearded-avenger commented on #135
https://github.com/CGCookie/cgc-xp-dashboard

xp dashboard doesnt call anything for RCP

[2015-04-03 14:43] ryanduff commented on #135
Only place I saw anything related in RCP was the nested meta queries here. Though not sure it'd generate that output.

https://github.com/pippinsplugins/Restrict-Content-Pro/blob/aaa643114df391cec68af1ad260ce5f209e11f63/includes/member-functions.php#L73-169

Can you run debug bar w/ savequeries to see where it originates?

[2015-04-03 14:44] bearded-avenger commented on #135
Pippin I"m almost 100% positive this isn't in our codebase, I'd be super surprised if it was. I"m continuing the search.

[2015-04-03 14:45] bearded-avenger commented on #135
@ryanduff thanks, that looks like it's it actually?

[2015-04-03 14:47] pippinsplugins opened #140 "Bundle PayPal Pro / Express into core"
They need to be added to core, just like Stripe.

Related #133

[2015-04-03 15:51] pippinsplugins commented on #133
@carter2422 Would you be up for doing some testing on this?

[2015-04-03 16:02] carter2422 commented on #133
Absolutely! Is it ready for testing now @pippinsplugins?

[2015-04-03 16:04] pippinsplugins commented on #133
Super close. I'll let you know how to test shortly.

[2015-04-03 16:08] pippinsplugins commented on #133
Ok to test:

1. Put `issue/133` branch on a live site (so that the IPN can work)
2. Signup for a recurring subscription through PayPal
3. Confirm the member is set to `active` properly and that they have a `Profile ID` in their `Restrict > Members > Edit` screen.
4. Log in as that user (if you are not already) and visit the page that has the `[subscription_details]` short code on it.
5. Click `Can

[2015-04-03 16:08] pippinsplugins commented on #133
Oh, also, you must enter your API credentials in `Restrict > Settings` for PayPal.

[2015-04-03 16:29] pippinsplugins commented on #133
I've tested this on a live site now and it worked beautifully.

[2015-04-03 16:30] pippinsplugins commented on #133
- [ ] Add a notice to page after successful cancellation

[2015-04-03 16:36] pippinsplugins commented on #133
![screen shot 2015-04-03 at 11 36 04 am](https://cloud.githubusercontent.com/assets/1034109/6985133/a07f320c-d9f5-11e4-8b22-21659de5ed24.png)

[2015-04-03 16:36] #133 closed

[2015-04-03 17:04] pippinsplugins commented on #140
This will be 2.2 in order to give a bit more time for Stripe to be tested on the new gateway API.

[2015-04-03 17:04] pippinsplugins opened #142 "Bundle Braintree into core"
Braintree should be put into core.

[2015-04-11 03:30] pippinsplugins commented on #102
Final class (I think): https://github.com/pippinsplugins/Restrict-Content-Pro/blob/release/2.1/includes/class-rcp-member.php

[2015-04-11 03:30] #102 closed

[2015-04-11 03:36] pippinsplugins opened #145 "Add license checker"
RCP should have a license checker, just like AffiliateWP, that shows the status of the license and informs a customer if their key is expired or invalid.

[2015-04-12 03:58] tnorthcutt opened #146 "Should RCP_Member->cancel() call set_expiration_date()"
The [inline comment](https://github.com/pippinsplugins/Restrict-Content-Pro/blob/f401521fa6413f1624fef657efbffcf195bc3c02/includes/class-rcp-member.php#L188) for `RCP_Member->cancel()` says:
[code]
But, that method doesn't actually update the expiration date... perhaps it should?

[2015-04-12 15:27] pippinsplugins commented on #146
Oops, good catch.

No, that method shouldn't update expiration, at least I don't think so. A member can still access content when their subscription is cancelled if the expiration date is still in the future.

[2015-04-12 18:03] #145 closed

[2015-04-12 18:04] #146 closed

[2015-04-12 18:32] #109 closed

[2015-04-12 18:32] #94 closed

[2015-04-12 18:35] #126 closed

[2015-04-12 18:44] pippinsplugins commented on #135
@bearded-avenger I can't find anything for this in RCP or CGC. Are there any plugins (related to RCP or user accounts) running on the CGC site that are not on Github?

[2015-04-12 18:50] bearded-avenger commented on #135
There are definitely no plugins on staging and production that are not under version control.

@etcook are we able to trace this query down to the file it's originating from?

@pippinsplugins is this not it? https://github.com/pippinsplugins/Restrict-Content-Pro/blob/aaa643114df391cec68af1ad260ce5f209e11f63/includes/member-functions.php#L73-169

[2015-04-12 22:18] pippinsplugins commented on #135
That is a slow query but it's not the one I was referencing above: https://github.com/pippinsplugins/Restrict-Content-Pro/issues/135#issuecomment-89304951

[2015-04-12 22:37] bearded-avenger commented on #135
Let me run through again. If it's not in RCP it has to be in the mountain of a codebase that is CGC 4.

[2015-04-21 19:02] pippinsplugins commented on #140
I've changed my mind and this will now be 2.1.

[2015-04-21 19:23] carter2422 commented on #140
:+1:

[2015-04-21 19:49] pippinsplugins commented on #140
This is ready for testing.

Anyone want to help test?

[2015-04-24 16:22] #140 closed

[2015-04-24 18:52] pippinsplugins opened #147 "Reorganize settings"
The settings page is confusing.

[2015-04-24 19:22] #147 closed

[2015-04-24 19:49] pippinsplugins commented on #135
@bearded-avenger any luck finding it?

[2015-04-24 19:54] bearded-avenger commented on #135
Nopers.

I'm hand pruning all code that goes into FIVE as I'm building it, so I think one way to tell is to see if this query is still present when FIVE goes live. If it IS present, we know it's NOT in our codebase.

I can't think of any query that would be specifically pulling the expired status from a level 6 rcp meta object.

Is it possible this is remnants from leaving amember? Maybe part of a

[2015-04-24 21:09] cklosowski opened #148 "Error creating Stripe Plans"
If you enable the stripe gateway AFTER you create your subscription levels, the subscription comes up as invalid when attempting to process the payment:
[code]

It appears that the request doesn't have the proper currency value to configure the plan:
Request:
[code]
_Notice the missing value for `currency`_

Response:
[code]

[2015-04-26 04:27] ahansson89 opened #150 "Undefined index: currency"
Notice	Undefined index: currency	1	wp-content/plugins/Restrict-Content-Pro/includes/admin/subscriptions/subscription-levels.php:167

[2015-04-26 04:27] ahansson89 commented on #150
This is happening on a clean install WP4.2 and RCP 2.1

[2015-04-26 04:28] ahansson89 commented on #150
Looks like the currency just needs a default

[2015-04-26 04:30] ahansson89 commented on #150
There were a bit more coming up when browsing around the settings

Notice	Undefined index: registration_page	3	wp-content/plugins/Restrict-Content-Pro/includes/admin/settings/settings.php:80		Unknown
Undefined index: redirect	3	wp-content/plugins/Restrict-Content-Pro/includes/admin/settings/settings.php:103		Unknown
Undefined index: currency	26	wp-content/plugins/Restrict-Content-Pro/includes/admi

[2015-04-27 15:20] #150 closed

[2015-04-27 15:20] #148 closed

[2015-04-27 15:22] ahansson89 commented on #150
Awesome! Was going to patch it myself today, but you beat me to it!

[2015-04-28 07:48] ahansson89 opened #151 "Payment through AJAX instead of reloading page with form post submit?"
I like AJAX and would love to see something like this.

[2015-04-28 14:16] pippinsplugins commented on #151
This is already done in `release/2.1` via #120

[2015-04-28 14:17] #151 closed

[2015-05-02 14:08] vispthree commented on #142
Need to beef up my resume and hone my coding skills so I've started wrapping my head around this plugin... all the better that success = promoting crypto-currencies and all the free education you offer.  Although, if this is too large of a project then I'll refocus my efforts.

[2015-05-02 22:49] pippinsplugins commented on #142
Let me know if you have any questions.

On Sat, May 2, 2015 at 9:08 AM, Alain Kassabian <notifications@github.com>
wrote:

[2015-05-05 04:22] tnorthcutt opened #155 "Add easy handling of settings for extensions"
It would be pretty great to have RCP provide easy handling of settings for extensions, much like EDD does: https://github.com/easydigitaldownloads/Easy-Digital-Downloads/blob/52b0a65c9e05e93b690e4d452e624f5d781394ca/includes/admin/settings/register-settings.php#L577

Combined with much of the work that went into 2.1, this could help open up extension development significantly.

@pippinsplugins is

[2015-05-05 11:48] wolffe opened #156 "RCP_Plugin_Updater.php"
Is there any documentation for this feature? This is offtopic, but I'd like to use it with some of my plugins.

[2015-05-05 12:47] #156 closed

[2015-05-05 12:48] pippinsplugins commented on #156
Take a look here:
http://easydigitaldownloads.com/extensions/software-licensing

On Tuesday, May 5, 2015, Ethan Saaris <notifications@github.com> wrote:

[2015-05-05 12:49] wolffe commented on #156
Thank you!

[2015-05-05 15:56] pippinsplugins commented on #155
Definitely the right approach I think.

Now that most of the add ones are included in core, this shouldn't be hard
to do :)

On Monday, May 4, 2015, Travis Northcutt <notifications@github.com> wrote:

[2015-05-12 14:56] cliffordp commented on #106
Uploaded Master, renamed folder to `restrict-content-pro`, added to site, activated plugin: `The plugin generated 2247 characters of unexpected output during activation. If you notice “headers already sent” messages, problems with syndication feeds or other issues, try deactivating or removing this plugin.`

[2015-05-12 15:28] pippinsplugins commented on #106
Hmm okay, I'll dig into it further.

[2015-05-12 16:45] cliffordp commented on #106
Turns out I didn't rename it. I meant to ;)
I had the name of `restrict-content-pro v2.1.4` as the folder name.
Everything worked fine except I noticed https://pippinsplugins.com/wp-content/uploads/2015/02/Screen-Shot-2015-02-11-at-1.33.52-PM.png showed user levels draggable to re-order and mine didn't. Opened console, lots of errors, renamed directory, reactivated plugin, and still got the "unexp

[2015-05-12 18:13] cliffordp opened #157 "Auto creating pages upon activation causes WP_DEBUG message after de- and re-activated"
These WP_DEBUG notices appeared after deactivating and reactivating RCP:
- `Notice: Undefined index: free_message in /wp-content/plugins/restrict-content-pro/includes/content-filters.php on line 235`
- `Notice: Undefined index: paid_message in /wp-content/plugins/restrict-content-pro/includes/content-filters.php on line 236`

I only had 2 pages (auto-created from initial RCP activation: Register a

[2015-05-16 13:36] cliffordp commented on #129
https://premium.wpmudev.org/project/protected-content/ has a REALLY nice feature in the Admin Bar to simulate as a user: /wp-admin/?action=ms_simulate&membership_id=167&_wpnonce=64c30c329b

![screen shot 2015-05-16 at 8 33 57 am](https://cloud.githubusercontent.com/assets/1812179/7666299/60e0f360-fba6-11e4-91a1-e792c52b452c.png)

![screen shot 2015-05-16 at 8 34 51 am](https://cloud.githubusercont

[2015-05-18 00:19] pippinsplugins commented on #129
Thanks for the suggestion! I'll have to look into that.

[2015-05-18 15:36] cliffordp opened #158 "Get all User Roles for metabox's User Level setting"
I'm unclear if "User Level" is referring to WordPress' user roles, but I think it is.
If it is, then shouldn't it display all user roles, not just a hard-coded list of the default ones?

References:
- https://github.com/pippinsplugins/Restrict-Content-Pro/blob/master/includes/admin/metabox.php#L56
- http://codex.wordpress.org/Function_Reference/get_editable_roles

[2015-05-18 17:50] pippinsplugins commented on #158
It is default user roles. Custom roles aren't supported yet.

[2015-05-18 23:45] cliffordp commented on #129
Another alternative could be something like this: https://gist.github.com/strangerstudios/7357594

[2015-05-21 15:32] misulicus opened #159 "Access level text change"
Adding new subscription and at Access level you got dropdown 1 through 10.
Under in the description it says `Leave at 0`. There is no 0 in the dropdown. Change wording to None maybe if that is equal to the 0 level.

[2015-05-21 15:49] misulicus commented on #157
got the same issue with new pages created on each activation and also these in debug.log:
[code]

[2015-05-21 18:09] pippinsplugins commented on #159
Whoops!

[2015-05-21 18:10] pippinsplugins commented on #157
Thanks, I'll get these resolved for 2.1.8

[2015-05-21 21:02] misulicus opened #160 "Payment gateway settings reset"
Once you deactivate the plugin and reactivate the Payment settings all get reset and you have to do them again.

Also on that page it shows all the paypal/stripe api boxes. I think it should maybe hide the payment api fields and show them when the gateway that uses them is selected.

[2015-05-21 21:35] misulicus commented on #134
not sure on how its supposed to work but i did noticed this.
Right after registration the user is created even if let`s say my payment failed or i abandoned. Next time i`l try it will say my email is taken.

Once i do manage to register and subscribe i`m redirected to the store but not logged in. And if the website owner does not show a Login menu anywhere me (As a noobie) i got no clue about goin

[2015-05-21 21:38] misulicus commented on #134
Ok after looking at the code it seems that setting above ONLY works when Hide Premium Posts is enabled BUT i had no idea they depend on each other.
Maybe group settings if one requires the other

[2015-05-21 21:40] misulicus opened #162 "Redirect Default Login URL"
Redirect Default Login URL checkbox does not stay checked no matter what i do.
also some admin_notices maybe when settings are saved. There is no "notification" if settings were saved or not

[2015-05-21 23:43] pippinsplugins commented on #162
That's intentional. In order to stay checked, you have to have `[login_form]` on the redirect page. This is to prevent locking yourself out.

[2015-05-21 23:43] #162 closed

[2015-05-21 23:44] #159 closed

[2015-05-21 23:44] pippinsplugins commented on #159
Thanks!

[2015-05-21 23:46] pippinsplugins commented on #160
Fixed!

Improving the settings display is something I've wanted to do for a while.

[2015-05-21 23:47] #160 closed

[2015-05-24 07:38] sumobi opened #164 "Typos within "Subscription Levels""
Days(s) should be Day(s)
Years(s) should be Year(s)

![screen shot 2015-05-24 at 7 35 28 pm](https://cloud.githubusercontent.com/assets/52581/7787093/13d5ba90-024c-11e5-84fa-9477a270c7b6.png)

[2015-05-24 08:08] sumobi opened #166 "Missing full stops"
For consistency there should be a full stop on the `Show Excerpt` description ![screen shot 2015-05-24 at 8 08 33 pm](https://cloud.githubusercontent.com/assets/52581/7787150/b6ad3bb8-0250-11e5-9bfc-86722547720a.png)

Also found various other instances where full stops should be aded.

[2015-05-24 09:06] sumobi opened #168 "Add labels to subscription levels"
I think the subscription levels should have labels so you can easily click on the text and change the level

![screen shot 2015-05-24 at 9 04 30 pm](https://cloud.githubusercontent.com/assets/52581/7787290/8eb06740-0258-11e5-902d-9b05838bc926.png)

[2015-05-24 09:27] sumobi opened #170 "Fatal error when registering"
When registering with`Credit/Debi`t card I get:

    PHP Fatal error:  Call to private method RCP_Payment_Gateway::add_error() from context 'RCP_Payment_Gateway_PayPal_Pro' in /wp-content/plugins/Restrict-Content-Pro/includes/gateways/class-rcp-payment-gateway-paypal-pro.php on line 164

I suspect this is because I simply haven't entered any credentials for PayPal Pro in the settings, only enabled

[2015-05-24 09:29] sumobi opened #171 "Limit the CC field"
We should limit the CC field so you can't enter more than what is shown.

![screen shot 2015-05-24 at 9 28 27 pm](https://cloud.githubusercontent.com/assets/52581/7787356/e4d2f4be-025b-11e5-8d07-16c71a8de54b.png)

[2015-05-24 09:40] sumobi opened #172 "Change description divs to paragraph tags"
For consistency with WordPress core (and because it looks a lot nicer IMO) we should change the description divs in the settings to paragraph tags:

Before:

![screen shot 2015-05-24 at 9 39 52 pm](https://cloud.githubusercontent.com/assets/52581/7787386/7f224316-025d-11e5-9901-db5a0d48134e.png)

After:

![screen shot 2015-05-24 at 9 39 37 pm](https://cloud.githubusercontent.com/assets/52581/77873

[2015-05-24 18:32] #164 closed

[2015-05-24 18:33] #166 closed

[2015-05-24 18:34] pippinsplugins commented on #170
Agreed.

[2015-05-24 18:34] pippinsplugins commented on #171
:+1:

[2015-05-25 02:04] #172 closed

[2015-05-25 02:05] pippinsplugins commented on #172
#173

[2015-05-27 00:49] ghost1227 opened #175 "Missing CC field"
In one specific set of circumstances, the CC field fails to show. Reproducible as follows:

1. Install and activate RCP
1. Activate Strip or PayPal Pro (tested in Sandbox Mode)
1. Add two products
  1. First (auto-selected) product MUST be free
  2. Second product should be paid
1. Go to `/register` and switch the selected option to the paid option

For some reason, if the auto-selected option is

[2015-05-27 16:14] ghost1227 commented on #170
Fallback to what?

[2015-05-27 16:43] pippinsplugins commented on #175
Aha! I've just replicated it.

[2015-05-27 16:44] #175 closed

[2015-05-27 16:44] ghost1227 commented on #175
Seriously? That fast? You suck.

[2015-05-27 16:45] #171 closed

[2015-05-27 16:47] pippinsplugins commented on #170
Fixed the fatal error. Can address the JS error later. Not as crucial.

[2015-05-27 16:47] #170 closed

[2015-05-27 16:48] pippinsplugins commented on #175
It helps when you wrote the code ;)

[2015-05-27 16:50] pippinsplugins commented on #168
@sumobi This changes the display of the levels:

Before: https://cloudup.com/c8RciQ0mKZu

After: https://cloudup.com/cyFzspcTQ0f

Was that intentional?

[2015-05-27 19:13] misulicus opened #178 "help menu link"
Clicking the Help menu when first viewing the Logs menu is not redirecting to the help website.

[2015-05-29 01:17] pippinsplugins commented on #178
Is it redirecting fine on all other pages for you?

On Wed, May 27, 2015 at 2:13 PM, Joldis Mihai Alexandru <
notifications@github.com> wrote:

[2015-05-29 06:59] misulicus commented on #178
Yeah. Just when I'm on logs page and then clicking help

[2015-05-29 14:09] misulicus opened #181 "discount validation on single signup pages"
On the main Register page the validate request looks like:
https://dl.dropboxusercontent.com/u/16683640/WPeCommerce-Dev/2015-05-29_1706.png

On the individual register form ( [register_form ID=X] ) the request looks like:
https://dl.dropboxusercontent.com/u/16683640/WPeCommerce-Dev/2015-05-29_1707.png

The `subscription_id` is missing. It exists inside a hidden field in the template but i`m not su

[2015-05-29 14:31] misulicus opened #184 "instant discount validation on membership change"
Assume you got 2 membership levels and 1 discount that only applies to membership 2
You get to register page select membership 1 and enter discount code. It will say its invalid.
If you change your mind and select memberhsip 2 the coupon will not validate again and still say invalid (confusing)
There is a coupon validation that happens on submit but user will not know why its invalid if he selecte

[2015-06-04 17:17] colomet opened #185 "problem with installation"
The plugin generated 2327 characters of unexpected output during activation. If you notice “headers already sent” messages, problems with syndication feeds or other issues, try deactivating or removing this plugin.

[2015-06-04 17:19] #185 closed

[2015-06-04 17:19] pippinsplugins commented on #185
This is a known bug that I'm working on fixing (another issue opened on it
already).

It won't cause any negative affects.

On Thu, Jun 4, 2015 at 12:17 PM, On-lingua.com <notifications@github.com>
wrote:

[2015-06-04 17:21] colomet commented on #185
ok. thanks

[2015-06-04 21:21] tnorthcutt opened #186 "RCP should store a member's join date (and maybe more)"
Use case: a site where some members (let's say "basic") should only get access to content added to the site _since their join date_, but other members (let's say "premium") should get access to all content.

Storing a join date on member creation would make this possible (still requiring custom code, of course, but the data would be available).

Complications: what if a user's status goes to cance

[2015-06-05 15:34] pippinsplugins commented on #186
After thinking about it more, I think the date should represent the signup date for their current subscription.

We can access the actual creation date for the account from wp_users->user_registered

[2015-06-05 15:39] tnorthcutt commented on #186
@pippinsplugins What would that date be in the following scenarios?

1. Member joins on January 1, 2015.
2. Member expires on March 1, 2015.
3. Member becomes active on June 1, 2015.

1. Member joins on January 1, 2015.
2. Member cancels on March 1, 2015.
3. Member becomes active (re-joins?) on June 1, 2015.

[2015-06-18 12:57] bearded-avenger commented on #186
+1 i just came across this need in the new CGC build. I need to grab the number of days a user has been active on this membership, and can only be gotten if we had a member join date. http://cl.ly/image/1i3225300e3v

[2015-06-18 16:46] tnorthcutt commented on #186
MemberMouse has a somewhat useful set of options for this. Of course I'm not suggesting we implement an identical solution, but could be inspiration for a good option:
![image](https://cloud.githubusercontent.com/assets/796639/8236688/d6642ea6-159e-11e5-9538-5353f83eec90.png)

[2015-06-18 21:20] pippinsplugins commented on #186
@tnorthcutt I think the join date is the date their subscription starts for the first time. That does bring up the question of whether or not the `renewed last` date should also be stroed.

[2015-06-18 21:25] carter2422 commented on #186
I think it may make sense to store a **Initial Join Date** and **Renewed Date**. Often time I'd like to know when a user first subscribed, and sometimes when they most recently subscribed.

In my mind the **Initial Join Date** should be set once and only once, much like an account created date. The reason being is it's valuable to know when someone *first* became a paying customer.

[2015-06-18 21:33] #184 closed

[2015-06-18 21:40] #181 closed

[2015-06-18 21:43] #178 closed

[2015-06-18 21:43] pippinsplugins commented on #157
Partially resolved in #187

[2015-06-18 21:44] pippinsplugins commented on #157
Duplicate pages issue has been resolved as well.

[2015-06-18 21:44] #157 closed

[2015-06-19 14:35] pippinsplugins opened #189 "Add support for Visual Composer"
Every week or so someone tries to use RCP with the Visual Composer plugin.

When using Visual Composer, the content restriction options get ignored.

[2015-06-19 14:42] pippinsplugins commented on #189
Actually appears that the Visual Composer developer has made some updates so RCP works just fine with it now.

/me does a happy dance

[2015-06-19 14:42] #189 closed

[2015-06-23 13:30] pippinsplugins opened #190 "Add better WooCommerce support"
A lot of people would like to see better WooCommerce support that includes:

- hiding product descriptions and meta data
- hiding products from the shop
- preventing purchase from non-active subscribers

[2015-06-23 15:07] pippinsplugins commented on #190
Merged into release/2.2
![screen shot 2015-06-23 at 10 01 16 am](https://cloud.githubusercontent.com/assets/1034109/8309357/b1206eb2-198f-11e5-98cc-020a7b09ce95.png)

[2015-06-23 15:07] #190 closed

[2015-06-26 06:04] mihche opened #191 "Login template needs actions"
Add actions and filters in login template as they are in register.
Ex: do_action( 'rcp_before_register_form_fields' );
The login template should have something similar like
do_action( 'rcp_before_login_form_fields' );

[2015-06-26 14:44] pippinsplugins commented on #191
Inside or outside of the `form` element?

There are ones outside of it:

[code]

[2015-06-26 14:45] #191 closed

[2015-06-26 15:02] pippinsplugins commented on #114
This is no longer valid.

[2015-06-26 15:02] #114 closed

[2015-06-26 15:08] pippinsplugins opened #192 "Add batch export API"
Just like we added in EDD, RCP should have a batch export API to allow it to handle large amounts of data.

[2015-06-26 15:08] pippinsplugins opened #193 "Add ability to bulk edit members"
A lot of users have wanted the option to edit members in bulk.

[2015-06-26 15:17] pippinsplugins opened #194 "Add profile_id to member export."
This will help people that need to move away from RCP or move RCP data between sites.

[2015-06-26 15:22] pippinsplugins commented on #193
Oops, wrong commit.

[2015-06-26 15:22] pippinsplugins commented on #194
43a0baac94055e3a5b6cc52056b443cf37d21b2f

[2015-06-26 15:22] #194 closed

[2015-06-26 15:33] pippinsplugins opened #195 "Build out API / UI for upgrading / downgrading between levels"
This will be pretty complex but needs to happen.

[2015-06-26 15:34] carter2422 commented on #195
:confetti_ball:

[2015-06-26 15:37] pippinsplugins opened #196 "Add support for 2-factor auth through Google Authenticator plugin"
https://wordpress.org/plugins/google-authenticator/

[2015-06-26 15:39] mihche commented on #191
Perfect!
Thanks

[2015-06-26 16:02] #196 closed

[2015-06-26 19:24] 2bearstudio opened #197 "Required custom user fields stop "Upgrade Your Subscription" form"
If custom user field presents in user profile, when submit "Upgrade Your Subscription" form, it pops up error message saying (the custom field is required)

I added the custom user fields following this instruction:
https://pippinsplugins.com/adding-custom-user-fields-restrict-content-pro/

[2015-06-26 19:30] pippinsplugins commented on #197
Please submit this as a support ticket: https://pippinsplugins.com/plugin-support

Github is for development tracking only.

[2015-06-26 19:30] #197 closed

[2015-06-30 18:48] cliffordp opened #198 "shortcodes display regardless of being inside [restrict]...[/restrict]"
I have 1 WP user (subscriber) that's not a RCP member. I have zero RCP members.
I do have 1 membership/subscription in RCP settings.
The "blah blah" text won't display, but both of these 2 shortcodes do render:
[code]

Seems like a bug to me.

Please advise.

[2015-06-30 21:34] pippinsplugins commented on #198
See my response to your support ticket.

[2015-06-30 21:34] #198 closed

[2015-07-01 03:32] jb510 opened #199 "Update ReCaptcha to APIv2.0"
Google newser ReCpatcha V2.0 (just click the box) is available and way friendlier for things like registration forms where not losing people to visual captchas is particularly important.

There is a new PHP library available: https://github.com/google/recaptcha

I briefly looked at implementing it here: https://github.com/9seeds/Restrict-Content-Pro/tree/feature/recaptcha-api-v2

Seems like it's w

[2015-07-02 00:13] pippinsplugins commented on #199
I'm going to get it added for RCP 2.2

[2015-07-02 00:13] pippinsplugins commented on #199
Would you be up for sending me a PR so I can look at it closer?

[2015-07-02 00:24] jb510 commented on #199
Well my fork is currently not working. I need to rewrite more of the return verification than I expected.  I can submit a PR, but do you really want a half finished/broken PR?

[2015-07-02 00:26] jb510 commented on #199
Also since I seem to do PRs wrong half the time...  you want a PR of /feature/recaptcha-api-v2 against what, master?

[2015-07-02 00:29] jb510 commented on #199
#200

[2015-07-02 21:36] bearded-avenger opened #201 "Username Invalid if using capital letters on MU"
When registering a user on an MU install, and a user tries to register a username with capital letters, comes back `invalid user`. This is because capital letters are not allowed in usernames on MU installs.

RCP should warn the user if attempting to register a username with capital letters on an MU install.

[2015-07-03 03:22] pippinsplugins commented on #201
:+1:

We've had to address this in EDD too.

[2015-07-06 00:00] pippinsplugins opened #202 "Add support for restricting menu items"
This can be done with Widget Login, as shown in [this tutorial](https://pippinsplugins.com/restricting-menu-items-active-members-restrict-content-pro/), but native support would be so much better.

[2015-07-06 00:12] #201 closed

[2015-07-06 00:13] pippinsplugins commented on #199
Could you submit it against the `issue/199` branch?

[2015-07-06 00:16] #134 closed

[2015-07-06 00:17] pippinsplugins commented on #168
@sumobi

[2015-07-06 00:19] pippinsplugins commented on #106
Resolved via https://github.com/pippinsplugins/Restrict-Content-Pro/commit/6e5f4d05c752faf0b989ce4ec30251c7dddd0993 and https://github.com/pippinsplugins/Restrict-Content-Pro/commit/8c2b9e37e32044ca33bbf453e829d1ca77ad8863

[2015-07-06 00:19] #106 closed

[2015-07-06 00:22] pippinsplugins opened #203 "Add 2Checkout gateway"
2Checkout should be supported

[2015-07-06 00:22] pippinsplugins opened #204 "Add Authorize.net gateway"
Authorize.net should be supported.

[2015-07-06 00:43] sumobi commented on #168
@pippinsplugins no, radio buttons should still be on left, let me have a look and see why that is

[2015-07-09 18:33] pippinsplugins opened #207 "Days show 0 earnings when viewing "Last Week" and it crosses a month boundary"
![70386bafbec79326d9a5c737d1e6c1f6](https://cloud.githubusercontent.com/assets/1034109/8603631/08cc19ac-263f-11e5-8d23-62f49ffe2318.png)

[2015-07-15 08:11] misulicus opened #208 "New User Notifications wording"
I looked at the code and aparently the description of the option might be confusing.
The checkbox 'disable_new_user_notices' when enabled it will no longer notify the user on any of the membership statuses (cancel/expired/etc)
Might need to maybe rephrase?

[2015-07-20 18:09] pippinsplugins commented on #208
This is just to disable the site admin notifications, not the customer notifications.

It says this right now: `Check this option if you do NOT want to receive emails when new users signup.`

I think that's correct.

[2015-07-24 20:46] pippinsplugins commented on #193
![screen shot 2015-07-24 at 3 45 49 pm](https://cloud.githubusercontent.com/assets/1034109/8884274/18bccd1a-321b-11e5-8e7a-8303a47276a5.png)

[2015-07-26 01:33] carter2422 commented on #193
Yay!

On Friday, July 24, 2015, Pippin Williamson <notifications@github.com>
wrote:

--
Jonathan Williamson
http://cgcookie.com

[2015-07-26 16:51] tnorthcutt commented on #193
Awesome! :+1:

[2015-08-05 15:45] carter2422 opened #210 "Expiration Date set twice on Stripe Signups, causing date to be off by one term"
It would seem that users whom signup with Stripe are getting their expiration date set one term off. In other words, if a user signs up for a `monthly` subscription on `2015-08-05` then their expiration gets set to `2015-10-05`, when it should be set to `2015-09-05`.

For example, here are the **User Notes** for a real user that subscribed yesterday:

Notice that the expiration date is first chang

[2015-08-06 14:03] #210 closed

[2015-08-06 14:04] #208 closed

[2015-08-06 17:41] BorislavZlatanov opened #211 "Unable to get subscription levels"
When I go to the Subscription Levels menu on a Wordpress multi-site, it always says that there are no levels. Debugging this issue, I see that in /includes/class-rcp-levels.php, on line 135 we have:

$levels = $wpdb->get_results( "SELECT * FROM {$this->db_name} {$where} ORDER BY {$args['orderby']}{$limit};" );

When then continuing to the get_results() method of the db object, it shows the query a

[2015-08-06 18:13] pippinsplugins commented on #211
@BorislavZlatanov did you activate it on a multisite network?

[2015-08-06 19:13] BorislavZlatanov commented on #211
Yes, it's activated as a plugin on the multisite network.

[2015-08-06 19:55] pippinsplugins opened #212 "Negative signup fees not working with Stripe"
From a customer:

Trying to setup a $100 off the first year type subscription $390 - $100 = $290):
https://cloudup.com/cCrFtDRoe-X

Registration form shortcode:
https://cloudup.com/cYt9E57anhQ

Odd, registration form says $390 - no indication of first year discount?
https://cloudup.com/cm7cK0Z5zk0

Charge went through at $390, not $290!
https://cloudup.com/c7Uz9UC1-xM

Subscription cost is $390 as

[2015-08-07 20:35] tnorthcutt commented on #212
Additional data point: on my local testing install, I at first tried this in Paypal Sandbox mode and was (as expected) not able to reproduce. Then, I switched Stripe on (in test mode), and was able to reproduce, as expected.

However, then I switched Stripe back off, to try and see how the Paypal Sandbox mode was getting the correct price, and was able to reproduce the problem there, too (getting

[2015-08-08 15:54] jawittdesigns commented on #203
2Checkout recurrence issue need resolved #213

[2015-08-10 02:12] pippinsplugins commented on #211
Activate it in individual sites then it should retrieve them properly.

Does that work as expected for you?

[2015-08-11 19:15] pippinsplugins opened #215 "Stripe: Declined card errors not caught when updating billing card"
If a card is declined when updating the billing card, the error doesn't get caught properly.

https://secure.helpscout.net/conversation/110519605/14329/

[2015-08-11 19:16] pippinsplugins commented on #215
[11-Aug-2015 00:19:18 UTC] PHP Fatal error: Uncaught exception 'Stripe\Error\Card' with message 'Your card was declined.' in C:\Users\Administrator\Documents\GitHub\cswealth\wp-content\plugins\restrict-content-pro\includes\libraries\stripe\lib\ApiRequestor.php:148

Stack trace:

#0 C:\Users\Administrator\Documents\GitHub\cswealth\wp-content\plugins\restrict-content-pro\includes\libraries\stripe\li

[2015-08-11 19:22] #215 closed

[2015-08-11 19:23] pippinsplugins opened #216 "No confirmation message shown when billing card is updated"
A confirmation message should be shown.

[2015-08-11 19:26] #216 closed

[2015-08-11 19:46] pippinsplugins commented on #212
I've tracked this down, at least for Stripe.

[2015-08-11 19:48] carter2422 commented on #216
:+1:

[2015-08-11 19:48] pippinsplugins commented on #212
@tnorthcutt Were you signing up for a recurring or one time with PayPal?

[2015-08-11 19:50] pippinsplugins commented on #212
The signup fee only works for recurring subscriptions in PayPal standard.

[2015-08-11 19:50] #212 closed

[2015-08-11 19:55] BorislavZlatanov commented on #211
Well, the plugin actually does not show in the individual site's plugin area. It just shows in the Network plugins, not in the site's plugins. So I can't activate or deactivate it for the site, just for the Network.

[2015-08-11 19:56] tnorthcutt commented on #212
@pippinsplugins I believe recurring, but I can try again if you need a repro.

[2015-08-11 19:58] pippinsplugins commented on #212
@tnorthcutt if you do try it again and can replicate it, reopen this please.

[2015-08-13 21:35] pippinsplugins commented on #211
That's because it's network activated. Deactivate it on the network then you can activate it individually.

[2015-08-14 09:49] BorislavZlatanov commented on #211
Yes, that was it. Deactivating it on the network and activating it for the site worked.

Thanks for your help and sorry for the confusion.

[2015-08-14 09:49] #211 closed

[2015-08-20 03:04] pippinsplugins opened #218 "Expiration dates extended twice during registration"
User accounts are getting their expiration dates extended twice during registration. If a monthly account is signed up, the expiration is set to one month ahead and then set to another month ahead and soon as the payment is made.

This is happening because the date is set during the registration form processing and then again when the `renew()` method is called during the webhook processing.

[2015-08-20 03:05] #218 closed

[2015-08-21 15:11] pippinsplugins opened #219 "Coinbase payment gateway"

[2015-08-22 11:22] colomet opened #220 "It is a pity there is not a centralised system of payment for a wp multisite."
To chose one installation, and handle there the subscriptions for all the blogs.

[2015-08-24 13:53] pippinsplugins opened #221 "Add support for WP Approve User plugin"
A lot of people have asked for user moderation. This plugin handles it really well: https://wordpress.org/plugins/wp-approve-user/

Let's integrate it.

[2015-08-24 15:47] pippinsplugins commented on #199
@jb510 I see that this is not functional yet (as mentioned in your comments). Did you want to finish it up? If not, I can take over.

[2015-08-24 15:49] pippinsplugins commented on #193
Merged into `release/2.3` for further testing.

[2015-08-24 15:50] #193 closed

[2015-08-24 15:51] pippinsplugins commented on #168
@sumobi did you get a chance to look at this?

[2015-08-24 15:55] pippinsplugins commented on #203
In `issue/203` now.

[2015-08-24 18:38] pippinsplugins opened #222 "JS validation for discount codes fails"
Customers keep reporting that the `valid`/`invalid` text that shows up when a discount code is entered is inconsistent. It shows `invalid` a lot of times when it's actually valid.

I believe this is due to the validation happening on `keyup`. I'm going to move it to an `Apply` button to help alleviate the problem.

[2015-08-24 22:11] jb510 commented on #199
I don't have plans to complete it, at least not any time soon.

[2015-08-24 22:19] pippinsplugins commented on #220
@colomet it's a feature I've considered.

[2015-08-24 22:23] pippinsplugins commented on #199
Ok I'll take it over.

[2015-08-25 07:57] sumobi commented on #168
@pippinsplugins see https://github.com/pippinsplugins/Restrict-Content-Pro/pull/169

Fixed the issue with labels above, fixed label id's so you can click on them and added a cursor rule so you get that sweet hand icon on the labels

2015 with its 100% wide inputs:

![screen shot 2015-08-25 at 7 54 26 pm](https://cloud.githubusercontent.com/assets/52581/9461518/613ff092-4b63-11e5-8aa4-0086e13d9566.

[2015-08-25 08:56] colomet commented on #220
i think is the only feature will make your plugin better than Membership 2 Pro for multisite enviroment.

[2015-08-26 03:58] pippinsplugins commented on #168
Thanks! I'll test again and see how it works

[2015-08-26 17:14] pippinsplugins commented on #195
Customer sent me some custom code they wrote that may be helpful:

https://github.com/dcavins/Restrict-Content-Pro/commit/3b4a5edb359b940f90ff221f5f6cded2f0d57c6d

https://github.com/dcavins/cc-restrict-content-pro-bp-bridge/commit/5c3f52487e9791fed4175031af2b39abfa1705fe

[2015-08-27 17:48] pippinsplugins opened #224 "Subscription details improperly shows "Renew" for free members"
If an account has a status of free, the text should say "upgrade", never "renew".

https://secure.helpscout.net/conversation/115190132/15484/

[2015-08-28 19:03] pippinsplugins commented on #222
Merged into `release/2.3`

[2015-08-28 19:03] #222 closed

[2015-08-28 19:11] #224 closed

[2015-08-28 19:53] pippinsplugins commented on #221
Some thoughts on this:

1. It should support requiring approval based on the subscription level
2. It should be done in the `integrations` folder / API
3. Members should be able to be approved from the list table and the member edit screen
4. `[subscription_details]` short code should include a message for members pending approval

[2015-08-30 14:58] tnorthcutt commented on #221
Additional feature request/idea items:

5. Ability to approve members directly from a notification email to admins (similar to WP core's comment notification emails with "click here to approve, here to mark spam") would be slick, but obv. just "nice to have."
6. Option to send an email to members upon approval would be *very* nice to have – this is needed for the particular project you and I discu

[2015-08-31 02:59] pippinsplugins commented on #221
Definitely agree with all of those.

[2015-08-31 19:47] #168 closed

[2015-08-31 20:19] pippinsplugins commented on #199
Merged into release/2.3

[2015-08-31 20:19] #199 closed

[2015-08-31 22:33] pippinsplugins opened #225 "Add Payment Received email"
RCP should have an option to send an email when a payment is received. The Stripe add-on used to support this.

[2015-09-01 00:20] carter2422 commented on #225
:+1:

If it's not already I'd also like to see this have an action so that it can be hooked into for sending these emails through external systems (like Intercom); mostly for the sake of consistency and finer control

[2015-09-01 01:31] pippinsplugins commented on #225
:+1:

On Mon, Aug 31, 2015 at 7:20 PM, Jonathan Williamson <
notifications@github.com> wrote:

[2015-09-01 14:19] #207 closed

[2015-09-06 11:23] pippinsplugins opened #226 "Auto create account pages"
The account pages should be automatically created:

- Your Membership
- Your Profile
- Update Billing Card
- Login

[2015-09-06 11:28] pippinsplugins commented on #226
Actually won't do log in page since a lot of people want the login form in a sidebar.

[2015-09-06 11:45] pippinsplugins opened #227 "[subscription_details] text too large in 2015"
![screen shot 2015-09-06 at 6 45 14 am](https://cloud.githubusercontent.com/assets/1034109/9704198/eadde75c-5462-11e5-823f-9aea77358ec4.png)

[2015-09-06 11:48] #226 closed

[2015-09-06 11:53] pippinsplugins commented on #227
Much better:
![screen shot 2015-09-06 at 6 53 19 am](https://cloud.githubusercontent.com/assets/1034109/9704235/fa9e8254-5463-11e5-8a16-a6eba8589727.png)

[2015-09-06 11:53] #227 closed

[2015-09-10 17:38] carter2422 opened #229 "PayPal Express payments log the Profile ID in place of the Transaction ID"
Recurring payments received via PayPal Express are logging the subscription `Profile ID` in place of the `Transaction ID`.

For example, this payment shows the Transaction ID as `I-TYSXMM1AEENF`, when it should be `52W67004UJ358100L`:
![screen shot 2015-09-10 at 12 36 37 pm](https://cloud.githubusercontent.com/assets/1648631/9795875/ba971574-57b8-11e5-810f-3f7163ccbe35.png)

[2015-09-10 21:12] carter2422 commented on #195
Let's get this done! We can make Wes send down another case of Penrose in return :beers:

[2015-09-10 21:13] pippinsplugins commented on #195
I'm hoping to start working on it in the next few weeks.

On Thu, Sep 10, 2015 at 11:12 PM, Jonathan Williamson <
notifications@github.com> wrote:

[2015-09-10 21:18] carter2422 opened #230 "Card Details shortcode always displays empty fields"
The `[card_details]` short code output always displays empty fields, even after a successful card update. This gives the impression that the card update failed and/or that no card is on file.

These fields should show the last four of the card on file, along with the expiration and any other relevant details.

![screen shot 2015-09-10 at 4 17 52 pm](https://cloud.githubusercontent.com/assets/16486

[2015-09-10 21:19] carter2422 commented on #195
Excellent, let me know when you do and I'll help where I can.

[2015-09-11 07:53] pippinsplugins commented on #230
There should be a confirmation message after updating the card. Is CGC using a customized template file?

[2015-09-13 20:32] bthibault opened #232 "restrict shortcode not displaying premium message"
[code]

I can't get the premium message to display using the manual [restrict] tag unless i pass in message=''

i believe it should be  --> elseif( **!$paid** ) {   .. yes ?

[2015-09-14 14:04] pippinsplugins commented on #232
In order to display the premium message, you need to add `paid="true"` to the short code. Without `paid="true"`, it will always display the free message.

[2015-09-14 14:06] carter2422 opened #233 "Add support for Stripe customer Credit"
As it is right now RCP does not seem to support adding credit to customers accounts in Stripe. This would be very useful, though.

Currently if you want to comp someone's account then you must add a negative value invoice item, such that a payment is still created (and thus updates RCP) but doesn't actually charge the user the full subscription amount.

The current issue is that if you add Credit

[2015-09-14 14:06] bthibault commented on #232
i see. thanks.

[2015-09-14 14:19] #232 closed

[2015-09-15 16:24] carter2422 opened #235 "Stripe users are getting their expiration set one month ahead"
I'm not sure when this started but most all Stripe users are getting their expiration in RCP pushed one month ahead of their Stripe renewal date.

For example, if a user is set to renew on September 20th, then their expiration in RCP will be October 20th. Soon as payment is received on the 20th the expiration will again be pushed ahead an extra month, making it November 20th rather than October 20

[2015-09-15 16:50] pippinsplugins commented on #235
I saw this happen a month or two ago and fixed it. Are you on latest?

[2015-09-15 16:57] carter2422 commented on #235
Ah no, we're on 2.2.5. I'll upgrade and confirm. I hadn't seen that fix go in.

[2015-09-15 16:58] pippinsplugins commented on #235
https://github.com/pippinsplugins/Restrict-Content-Pro/commit/32b7fc53b613b3a8da49f35d41a348b6aaa86323

[2015-09-15 17:40] carter2422 commented on #235
K will close out. My bad.

[2015-09-15 17:40] #235 closed

[2015-09-15 22:04] pippinsplugins commented on #233
I'm not sure this is something I can fix.

When a customer has credit greater than their payment amount, Stripe doesn't send the webhook that RCP relies on for recording payments.

I may be able to use a different webhook but I'm not sure.

[2015-09-15 22:53] pippinsplugins commented on #229
Whoops!

[2015-09-16 13:29] carter2422 commented on #230
@pippinsplugins the issue is more that the fields always being empty (regardless of a confirmation message) gives the user the impression that they have no card on file.

Typically most card update forms will show key info about the card on file, which is really helpful.

Is this doable?

[2015-09-16 15:42] pippinsplugins commented on #230
Ah! Ok I fix that.

[2015-09-16 16:37] carter2422 commented on #230
:+1:

[2015-09-18 01:34] termoplus opened #236 "Reduce JS"
Hi,
There are many JS files in the plugin.
Is it possible to combine them?

If I add the plugin all JS will be loaded from main page correct? even if user dont use membership plugin all js will be loaded.

thanks

[2015-09-18 14:43] #225 closed

[2015-09-18 14:52] pippinsplugins commented on #203
Moving to 2.3.2

[2015-09-18 15:45] pippinsplugins commented on #236
The JS files are not always loaded. On the frontend, only one JS file is loaded.

In the backed, there are several both those are each needed. As each one is a library / plugin, they cannot be combined.

[2015-09-18 15:45] #236 closed

[2015-09-22 18:36] carter2422 opened #238 "PayPal Express IPN not picked up by RCP"
It would seem that no Express IPNs are being picked up by RCP even though they're being sent by Paypal and getting a `200` status back.

Example user:
https://cgcookie.com/wp-admin/admin.php?page=rcp-members&edit_member=169473

This user subscribed on August 21st, and then renewed in PayPal on September 21st, but did not update in RCP. RCP has no record of the Sept 21st payment. Details below:

 -

[2015-09-22 18:43] pippinsplugins commented on #238
It failed because there's no `custom` parameter in the POST data.

`custom` is supposed to be set to the user ID of the account.

Can you look at 10 random EIPNs and see if any of them have a `custom` var set?

[2015-09-22 18:44] pippinsplugins commented on #238
Without `custom`, the user account isn't looked up.

I'm going to add a fallback so that it looks up members based on the profile ID.

[2015-09-22 19:03] #238 closed

[2015-09-24 12:45] etcook opened #239 "RCP does not account for Paypal's renewal date changes for monthly subscriptions"
As described here: https://developer.paypal.com/webapps/developer/docs/classic/paypal-payments-standard/integration-guide/subscribe_buttons/

Paypal walks the renewal date for monthly subscriptions that are initiated on the 29th, 30th and 31st. I've confirmed with Paypal that this is the case for both standard and express subscriptions.

As I see it, we really have two ways to approach this issue.

[2015-09-28 18:18] carter2422 opened #241 "Occasional user goes from expired > active > expired > active while upgrading"
Occasionally when user signs up they cycle between `active`, `pending`, and `expired` status more than once, causing Expiration emails to be sent out.

So far this seems to be limited to users whom previously had a subscription and then returned, but I cannot yet verify.

Here're the notes for a user today:
[code]

[2015-09-28 18:29] pippinsplugins commented on #241
Which gateway?

[2015-09-28 19:02] carter2422 commented on #241
Stripe.

[2015-09-30 17:08] mindctrl commented on #204
Someone just said they wanted this in EDD support. :laughing:

[2015-10-01 17:52] pippinsplugins commented on #204
:+1:

[2015-10-01 17:59] carter2422 opened #242 "One month interval Stripe signups are setting expiration 2 days ahead of next invoice date"
All new Stripe signups in v2.3.3 are having their expiration set 2 days ahead of the next invoice date.

For example, this user signed up yesterday:
`September 30, 2015 18:31:31 - Member's expiration changed from  to 2015-11-01 23:59:59`

The expiration is set to November 1st, when it should be October 30th:
![screen shot 2015-10-01 at 12 58 23 pm](https://cloud.githubusercontent.com/assets/164863

[2015-10-03 09:45] sumobi opened #244 "PHP Notice: Undefined indexes"
Undefined index: free_message in /plugins/restrict-content-pro/includes/content-filters.php on line 237

    Undefined index: paid_message in /plugins/restrict-content-pro/includes/content-filters.php on line 238

You'll see these on a new install since the options have not been saved yet.

[2015-10-03 09:53] sumobi opened #246 "Incorrect view documentation link"
The `view documentation` link on a page links to a blank page:
http://trustedd.rcp.dev/wp-admin/admin.php?page=rcp-help#restricting-content

I believe it should link to this doc:
http://docs.pippinsplugins.com/article/36-restricting-post-and-page-content

[2015-10-04 06:51] sumobi opened #248 "Mail Chimp should be MailChimp"

[2015-10-04 08:56] sumobi opened #250 "Question: login URL"
@pippinsplugins Any particular reason why the login URL has a query string?
https://github.com/pippinsplugins/restrict-content-pro/blob/master/includes/login-functions.php#L29

As opposed to:
`$url = get_permalink( absint( $rcp_options['login_redirect'] ) );`

The URL would be a lot nicer (/login vs /login/?redirect=http://rcp.dev/register/)

[2015-10-04 09:18] sumobi opened #251 "Remove fixed widths from labels + more"
We've discussed this before. Just realised I posted on PR. See: https://github.com/pippinsplugins/restrict-content-pro/pull/169#issuecomment-145329385

In summary:

1. Fixed widths on labels should be removed

2. The `Remember` checkbox (let's also rename this to Remember Me) doesn't look good on the 2015 or upcoming 2016 theme

3. Floats on labels should be removed (I see no need for them)

I thi

[2015-10-05 03:23] #248 closed

[2015-10-05 03:24] pippinsplugins commented on #251
Tagging for 2.4 to try and make it happen.

[2015-10-05 03:28] pippinsplugins commented on #250
The redirect is necessary for handling the URl that the user is sent to after logging in successfully.

[2015-10-05 03:29] sumobi commented on #250
@pippinsplugins :+1:

[2015-10-05 03:30] #246 closed

[2015-10-05 03:31] #244 closed

[2015-10-05 03:31] #250 closed

[2015-10-05 03:34] sumobi commented on #251
:+1:  :+1:  :+1:

[2015-10-05 10:04] sumobi opened #252 "Change logout to log out"
logout should be log out (verb)

[2015-10-05 11:04] sumobi opened #254 "Undefined index errors when activating/deactivating discount codes when Stripe enabled"
- Stripe test gateway activated
- 1 discount code set up

if you try and deactivate or activate a discount code:

    Notice: Undefined index: code in /wp-content/plugins/restrict-content-pro/includes/gateways/stripe/functions.php on line 410

    Notice: Undefined index: unit in /wp-content/plugins/restrict-content-pro/includes/gateways/stripe/functions.php on line 414

    Notice: Undefined inde

[2015-10-05 12:02] sumobi opened #255 "Non-numerical amounts can be entered for payments"
![screen shot 2015-10-06 at 1 01 15 am](https://cloud.githubusercontent.com/assets/52581/10279905/df8c0a8a-6bc5-11e5-843b-3a00a2f61b00.png)

Eg. $HELLO

![screen shot 2015-10-06 at 1 02 34 am](https://cloud.githubusercontent.com/assets/52581/10279915/f47d256e-6bc5-11e5-80b6-9602ab1c1ef9.png)

[2015-10-05 15:48] #252 closed

[2015-10-05 16:02] pippinsplugins commented on #254
Will get it fixed!

[2015-10-05 16:04] pippinsplugins commented on #239
There's no way to pro-rate subscription amounts since the amount is set once and cannot be changed in PayPal. That leaves us with option 2.

I'll see if I can work this out for v2.4

[2015-10-05 16:12] carter2422 commented on #239
:+1:

[2015-10-05 18:03] carter2422 opened #256 "New Subscription emails have old expiration date"
When a user becomes `Active` after having been expired/cancelled/otherwise not a member then the `%expiration%` in the welcome email display their old expiration date rather than the new one.

I believe this is because the status is set before the expiration is updated. See the notes on this user, who reported it:

[code]

[2015-10-05 18:20] carter2422 opened #257 "Add Stripe Checkout support to core"
As discussed on Slack I'm going to work on getting Stripe Checkout supported added to core, enabling site admins to add a signup button anywhere via shortcode. This will work alongside the regular Registration page, rather than replacing it.

[2015-10-06 01:57] sumobi opened #258 "Show membership level and content to member via shortcode"
Members are redirected to the welcome page when they register for a membership level, or when they renew a subscription. It would be nice to be able to use a shortcode on the welcome page that outputs the member's current level. Eg:

and for renewals:

Based on the above, it would also be handy to show different blocks of content based on the member level. This would allow the site owner to fine-t

[2015-10-06 09:41] tnorthcutt commented on #257
Huge +1 from me!

[2015-10-06 14:12] pippinsplugins opened #259 "Payment dates offset from server time"
Payments are getting created with an offset. They should match up to server time but don't.

[2015-10-06 14:34] pippinsplugins opened #260 "Expiration date in payment received emails is wrong sometimes"
Stripe and PayPal standard store the payment record (thus sending the email) before the member's expiration date is updated. This caused the `Payment Received` email to show the old expiration date.

[2015-10-06 14:35] #260 closed

[2015-10-06 14:48] #254 closed

[2015-10-06 14:49] #259 closed

[2015-10-06 15:07] carter2422 commented on #233
We should be able to tackle this by checking for `starting_balance` during invoicing. I'll try and tackle.

[2015-10-06 15:10] carter2422 commented on #258
:+1: from me!

[2015-10-06 23:10] chuckreynolds opened #261 "spelling error on category page"
Edit category spelling issue. `thie` -> `this`

![edit_category_ _cleardata_partner_portal_ _wordpress](https://cloud.githubusercontent.com/assets/46185/10325257/a48bf772-6c44-11e5-9e72-b9bc85bb4be0.png)

[2015-10-06 23:42] chuckreynolds opened #263 "issue with user search ajax overlay when no results"
**Where:** /wp-admin/admin.php?page=rcp-members

**Problem:**
![screengrab 2015-10-06 at 15 44 07](https://cloud.githubusercontent.com/assets/46185/10325747/0ddc12a8-6c49-11e5-88bf-47286d35681d.png)
When no results found the message wasn't wrapped in an unordered list.

**Solution:**
Wrap the no results in the same ul/li combo and update the javascript to allow html in the message.

**Fixed:**
![s

[2015-10-07 00:06] chuckreynolds commented on #202
:+1:  but to jump in here.
I did see the tutorial but I'm not willing to add another plugin into the mix. So native support would be nice. I hard coded `if ( rcp_is_active() ) :` around `wp_nav_menu( $args );` in our theme. That just happened to work for this particular instance.
Having the ability to just check a box to hide !active on `/wp-admin/nav-menus.php?action=edit&menu=X` would be nice bu

[2015-10-07 00:21] chuckreynolds commented on #258
To me it just looks like we'd need a `[member_level_name]` shortcode that just spits out the membership level name.  Extend `[subscription_details]` maybe?

The messaging content, imo, could be wrapped with shortcodes currently available.
Example:
```[restrict subscription="333"]Thanks for signing up to our [member_level_name] [/restrict]```

Because there's only one field, currently, for the memb

[2015-10-07 00:38] chuckreynolds opened #265 "adding a new role 500's"
When adding a new role from `/wp-admin/admin.php?page=rcp-members` the admin 500's.

![cdpartnerportal_app_wp-admin_admin_php_page_rcp-members](https://cloud.githubusercontent.com/assets/46185/10326475/7f41a28a-6c50-11e5-89cc-68b5d38b28bb.png)

WP -- 4.3.1
RCP -- 2.3.5
no other plugins active

Initially I thought it was just w/ [query-monitor](https://wordpress.org/plugins/query-monitor/) plugin a

[2015-10-07 01:11] pippinsplugins commented on #202
@chuckreynolds Why do you refuse to add another plugin? It's a super simple plugin that has as close to zero impact on your site as it can.

I do want to get this in core though :)

[2015-10-07 01:12] #261 closed

[2015-10-07 01:12] pippinsplugins commented on #261
Thanks!

[2015-10-07 01:16] pippinsplugins commented on #258
I'd think the best option, at least to start, is just a single shortcode like @chuckreynolds mentioned. That way it can be used inside of a paragraph.

[2015-10-07 01:16] chuckreynolds commented on #202
@pippinsplugins simple answer. less stuff. I hand these things off and expect people to maintain them. It's something else that'll eventually update.. and/or change something.. may conflict... client(s)/team(s) use it for additional purposes that cause me headaches later.. or causes support questions for me later.. etc. I could go on. Just don't need it unless very necessary.
I handled it well for

[2015-10-07 01:17] pippinsplugins commented on #265
@chuckreynolds What do you mean when adding a new role? RCP doesn't add roles.

Do you mean when adding a subscription to an existing user?

[2015-10-07 01:17] #263 closed

[2015-10-07 01:17] pippinsplugins commented on #263
Good catch!

[2015-10-07 01:21] pippinsplugins commented on #202
Fair enough. For that particular plugin, however, I'd say you're really safe.

[2015-10-07 01:22] chuckreynolds commented on #265
Yeah when adding via this form:
![screengrab 2015-10-06 at 18 18 27](https://cloud.githubusercontent.com/assets/46185/10326978/c9beb6d0-6c56-11e5-8875-3871d7e2bf53.png)

I just now realize that it says "(for existing user)"... I thought, and my use case at the time, was I could use this to add a new member/subscriber.
If that's truly meant to only `edit` current subscribers... I don't think that s

[2015-10-07 01:31] pippinsplugins commented on #265
I agree: submit button should not be available until a user is selected.

You're right that it failed because it's for existing users only.

This is the form you should use as an admin to create a subscription for a user. You just have to create the user account first.

[2015-10-07 01:37] chuckreynolds commented on #265
Right. I get that now. just wasn't immediately apparent to me that's what it was for.
So flow would be ...
- admin creates new user via WP User screen.
- admin go to RCP settings and assign a subscription to said user.

Yes?

[2015-10-07 01:43] sumobi commented on #258
:+1:

[2015-10-07 01:49] pippinsplugins commented on #265
Yes.

I'll see if I can improve that.

[2015-10-07 01:49] pippinsplugins commented on #265
Closing and opening a new issue that describes the suggested enhancement

[2015-10-07 01:49] #265 closed

[2015-10-07 01:50] pippinsplugins opened #266 "Allow users to be created from Members > Add New"
As pointed out in #265, the add new form for members should also support creating new user accounts, not just assigning subscriptions to existing users.

[2015-10-07 01:51] pippinsplugins commented on #257
@carter2422 Could you go ahead and submit the PR so we can start reviewing it?

[2015-10-07 01:51] pippinsplugins commented on #257
Super excited for this :D

[2015-10-07 01:55] pippinsplugins commented on #233
:+1:

[2015-10-07 02:06] carter2422 commented on #257
@pippinsplugins I'll work on that PR tomorrow or later in the week :tada:

[2015-10-07 08:02] sumobi commented on #255
Related, leaving the payment blank should create a $0.00 payment

![screen shot 2015-10-07 at 9 01 21 pm](https://cloud.githubusercontent.com/assets/52581/10332019/a5215716-6d36-11e5-91d1-6b8819204dd7.png)

[2015-10-07 08:05] sumobi opened #268 "Manually entered payments does not update total earnings shown on the payments screen"
Manually entered payments does not update total earnings shown on the payments screen

![screen shot 2015-10-07 at 9 04 51 pm](https://cloud.githubusercontent.com/assets/52581/10332069/1641a180-6d37-11e5-909d-bacb52a485d7.png)

[2015-10-07 08:15] sumobi opened #269 "Update payment notice carried through to next screen"
If you update a payment it shows the update notice

![screen shot 2015-10-07 at 9 13 31 pm](https://cloud.githubusercontent.com/assets/52581/10332222/6743fd2a-6d38-11e5-8aa9-f8ff1290e0d5.png)

If you then click to update another payment the notice is carried through

![screen shot 2015-10-07 at 9 13 43 pm](https://cloud.githubusercontent.com/assets/52581/10332213/54e84b9a-6d38-11e5-827f-b166747411

[2015-10-07 08:26] sumobi opened #270 "Resizing the browser window causes graph's Y axis to move"
Resizing the browser window causes graph's Y axis to move

![screen shot 2015-10-07 at 9 25 21 pm](https://cloud.githubusercontent.com/assets/52581/10332477/f9deecb6-6d39-11e5-90f5-ff62e85f6fe3.png)

![screen shot 2015-10-07 at 9 25 29 pm](https://cloud.githubusercontent.com/assets/52581/10332476/f9b7e97c-6d39-11e5-91dc-3c4378b96fc8.png)

[2015-10-07 17:51] pippinsplugins commented on #203
@cklosowski This is almost done. Just two parts left:

1. Finish the INS (webhook listener)
2. Add support for cancelling subscriptions. To do this, you have to have the "lineitem_id" (that's what 2Checkout requires for the cancellation call). To get that, you have to fire an extra API call to retrieve it. I started on it in https://github.com/pippinsplugins/restrict-content-pro/commit/f1af17b46bd

[2015-10-07 17:56] pippinsplugins commented on #137
This could be easily done now with taxonomy meta in WP 4.4

[2015-10-07 18:03] tnorthcutt commented on #137
Thinking through this now, I'm wondering: would it be better to have the settings for this on each individual taxonomy term screen, or on an RCP settings page? The advantage to the former is of course visibility as you're editing that taxonomy term, but the advantage to the latter is that all (well, more of) your restriction settings are centralized and visible in one place.

Just food for thought

[2015-10-07 18:07] pippinsplugins commented on #137
I've considered that. I think for now, adding them to the term page like categories makes most sense.

[2015-10-07 18:07] tnorthcutt commented on #137
:+1:

[2015-10-07 23:31] chuckreynolds commented on #266
:+1:

[2015-10-08 19:45] carter2422 opened #271 "Refactor rcp_check_for_existing_payment() to use transaction_id"
The `rcp_check_for_existing_payment()` function doesn't work reliably and it seems it'd be far more reliable to simply check against transaction IDs. In particular, this would help avoid duplicate payments where the date is different for one reason or another.

One such example is if an admin has manually entered payments with their transaction IDs after a web hook failure. If that web hook were t

[2015-10-09 00:52] cklosowski commented on #256
So the `RCP_Member::renew()` method seems to have it in the order of setting expiration, then setting the status update (which is what triggers the emails:
[code]

@carter2422 what lines were your logging entered at? I'd love to try and replicate with your debugging in place.

[2015-10-09 00:54] cklosowski commented on #256
@carter2422 n/m, I see it's in the Member's profile...#noob

[2015-10-09 01:09] #255 closed

[2015-10-09 01:16] #269 closed

[2015-10-09 01:51] carter2422 commented on #256
Were you able to replicate this @cklosowski?

[2015-10-09 03:19] pippinsplugins opened #276 "Active / Welcome email should only send on new accounts and when manually renewing an account"
Currently, the `Active` email gets sent anytime a member's status is set to active. This means members receive the same email anytime a payment is processed (which renews their account and sets it to active).

This is incorrect behavior and should not happen.

The email should only be sent when member's go through the registration form.

[2015-10-09 03:22] carter2422 commented on #276
I've just seen this happen multiple times. It seems this is a recent change?

[2015-10-09 03:26] pippinsplugins commented on #276
It was part of 2.3 I believe.

[2015-10-09 03:31] carter2422 commented on #276
I don't think this :point_up: is a good solution. Particularly not with Stripe Checkout coming soon. Instead I think we need a way to determine if a user is upgrading for the first time or coming back; each of which should be different emails.

[2015-10-09 03:41] pippinsplugins commented on #276
@carter2422 The problem I have run into is trying to best determine _when_ it should be sent. Through the registration form is the only reliable solution I've come up with.

[2015-10-09 03:45] carter2422 commented on #276
What about using `user_meta` in the same way that you do to determine if an email has been sent to determine if it's a users first time upgrading or if they're returning?

Going this route you could set the meta during `process_signup()`.

During initial registration would be more ideal, but that only works for brand new users. Any free user that's been around for a while would not get the flag.

[2015-10-09 18:39] pippinsplugins commented on #276
I'll see if I can work that up.

[2015-10-12 19:24] pippinsplugins commented on #276
See https://github.com/pippinsplugins/restrict-content-pro/commit/c5a77d62007a2de444647a32e2697c8475c4f577

[2015-10-12 19:24] #276 closed

[2015-10-12 19:41] carter2422 commented on #276
Excellent! @pippinsplugins to ensure this is set for free users created through other forms, I assume I should update the meta during those registrations?

[2015-10-12 19:42] pippinsplugins commented on #276
Yes.

[2015-10-17 03:21] tannerm opened #279 "Renewal date does not update"
When I subscript without auto renewing and then update to a subscription and select auto-renew, the renewal date does not update to the new subscription.

[2015-10-17 18:39] pippinsplugins commented on #279
@tannerm Are you referring to when editing a member's subscription in the admin?

[2015-10-20 23:50] tannerm commented on #279
No, this is when a member chooses a membership without auto-renewing it and then switches to a different membership with auto renew.

[2015-10-21 00:38] pippinsplugins commented on #279
Does the expiration date get set properly when subscribing to a recurring subscription from the get go?

It sounds like you don't have webhooks / IPN configured or working properly.

[2015-10-21 00:51] tannerm commented on #279
ah... that makes sense. I saw this while developing locally. I'll test on a staging site.

[2015-10-21 00:52] #271 closed

[2015-10-21 00:53] pippinsplugins commented on #271
@carter2422 You can use it like this:
[code]

[2015-10-21 01:03] pippinsplugins commented on #279
Some gateways update the expiration date during a webhook call. Stripe (for example) does.

[2015-10-21 01:05] #268 closed

[2015-10-21 01:08] pippinsplugins commented on #256
I've found one place it's in the wrong order, but only when manually updating users.

[2015-10-21 01:10] pippinsplugins commented on #256
Correction! I found a few.

[2015-10-21 01:10] #256 closed

[2015-10-21 01:26] #233 closed

[2015-10-21 01:32] carter2422 commented on #233
Thanks @pippinsplugins!

[2015-10-21 01:33] carter2422 commented on #271
Nice. Thanks @pippinsplugins

[2015-10-22 01:09] pippinsplugins opened #280 "100% discount code generates "Free subscriptions cannot be automatically renewed" message"
When using a 100% discount code, the `Free subscriptions cannot be automatically renewed` error is sometimes shown. It should never be shown.

[2015-10-22 01:10] #280 closed

[2015-10-22 01:10] pippinsplugins opened #281 "Trial email triggered by 100% discount"
Using a 100% discount code makes the subscription get flagged as a trail.

[2015-10-22 01:22] #281 closed

[2015-10-22 01:25] pippinsplugins opened #282 "Active email not properly sent out"
The active emails are not getting sent out anymore.

Appears to be due to changes in #276

[2015-10-22 01:36] pippinsplugins opened #283 "Duplicate active email sent after registration"
Two active emails are sent after members register. Definitely happens with 100% discount codes. Might happen to others too.

[2015-10-22 01:45] #283 closed

[2015-10-22 01:46] pippinsplugins commented on #282
Fixes 752604e8d89a2c62f7c9a5658f4a9f988dc0618b

[2015-10-22 01:46] #282 closed

[2015-10-22 17:19] pippinsplugins commented on #203
See https://www.2checkout.com/documentation/api/sales/stop-lineitem-recurring for API docs on cancelling a subscription.

[2015-10-22 17:25] pippinsplugins commented on #203
Complete todo items that I"m aware of at this time:

- [ ] Finish INS for updating subscription status based on posts sent by 2checkout
- [ ] Allow 2Checkout subscribers / site admins to cancel subscriptions. See rcp_can_member_cancel()
- [ ] Introduce `rcp_is_2checkout_subscriber()`
- [ ] Add 2Checkout support to rcp_cancel_member_payment_profile() (this needs to be abstracted better but can be d

[2015-10-24 15:51] pippinsplugins commented on #221
Complete!

[2015-10-24 15:55] #221 closed

[2015-10-24 16:00] pippinsplugins commented on #257
@carter2422 PR? :)

[2015-10-24 16:04] pippinsplugins commented on #203
2Checkout lets admins create new users in their account that are given just API access:
![screen shot 2015-10-24 at 11 04 11 am](https://cloud.githubusercontent.com/assets/1034109/10711385/060f967c-7a3f-11e5-9e95-09ed71caba8b.png)
I think that solves some of our concerns about adding the username/password constants.

[2015-10-24 23:17] carter2422 commented on #257
When I get back from BCon I’ll try and finish it up.

[2015-10-25 01:02] pippinsplugins commented on #203
Complete!

[2015-10-25 01:03] #203 closed

[2015-10-25 14:46] pippinsplugins commented on #239
I believe I have this fixed. See #284 for changes.

Still testing to be sure.

[2015-10-25 15:13] pippinsplugins commented on #239
Unit tests are passing!

[2015-10-25 20:55] etcook commented on #239
@pippinsplugins Great job on this. I have some thoughts and would like to know what you think.

1) The subscriptions from the 29th and 30th don't actually get moved to the 1st until the subsequent February. This means the renewals could be off by 2-3 days for nearly an entire year.
2) The subscriptions on the 31st don't get moved to the 1st until a month that has 30 days. This could mean the renew

[2015-10-26 02:09] kaizau commented on #279
@tannerm I'm running into the same problem. You may need to update your Stripe API version, but that was only part of the answer in our case.

@pippinsplugins With Stripe in particular, sometimes the `charge.succeeded` event doesn't seem to register at all. Not in Stripe's logs and not in RCP. This only seems to happen on renewals. As a result, the expiration dates doesn't get set and those custom

[2015-10-26 19:14] pippinsplugins commented on #279
@kaizau Usually that means the customer's account had a balance on it. When there is a balance that covers the amount of the charge, a `charge.succeeded` event is not fired. Instead a `invoice.payment_succeeded` event is fired.

[2015-10-29 18:19] pippinsplugins commented on #202
Cool snippet from customer: https://secure.helpscout.net/conversation/133843656/19900/

[2015-10-29 19:06] kaizau commented on #279
Updated the plugin to 2.3.8 and this still seems to be happening.

You're right that it has to do with the balance. I've been testing this by manually expiring subscribers from the admin panel. Initially, this has no effect on Stripe's event log. But when I use the same subscriber to renew, Stripe's event log shows the following (in order of occurrence) :

[code]

It does not log a `invoice.paymen

[2015-10-29 23:30] chuckreynolds commented on #202
pretty sure we can't see that @pippinsplugins

[2015-10-30 13:55] pippinsplugins commented on #202
Sorry, meant that as an internal note for myself. Here's the code snippet:
[code]

[2015-10-30 19:12] pippinsplugins commented on #279
Which events are fired when the adjustment is made?

[2015-10-30 19:41] pippinsplugins opened #286 "Discount codes not applying to PayPal subscriptions"
Discount codes applied during registration are not discounting the amount once reaching PayPal.

[2015-10-30 19:47] #286 closed

[2015-10-30 23:50] kaizau commented on #279
In this order:

* customer.updated (deletes old card)
* customer.source.created (adds new card)
* invoiceitem.created (negative proration adjustment)
* invoiceitem.created (positive proration adjustment)
* customer.subscription.updated (changes plan, in this case, a downgrade)

[2015-10-31 17:36] pippinsplugins commented on #257
Have to punt to 2.5 so I can get 2.4 out the door.

[2015-10-31 17:43] pippinsplugins commented on #239
@etcook

1. Based on my understanding of the PayPal algorithm, the adjustment happens on a month-by-month (or payment by payment period). If the next payment is due to fall on the 29th-31st, it gets walked forward. I've set this up to work the same way. When the expiration date (which is equal to the date of the next payment) is calculated, it walks it forward by 2 days if it lands on the 29th-31s

[2015-10-31 17:54] pippinsplugins commented on #239
@etcook look better? ^

[2015-11-02 20:36] pippinsplugins commented on #239
I believe this is fixed and all unit tests are passing. I'm going to close now but if further issues are noticed, feel free to re-open or open a new issue.

[2015-11-02 20:36] #239 closed

[2015-11-02 22:23] pippinsplugins commented on #279
@kaizau Are you on the latest version of the Stripe API?

[2015-11-02 23:49] etcook commented on #239
@pippinsplugins I believe the examples and explanation provided by PayPal indicate a more complicated "walk" schedule than you anticipate.

There are two schedules:

1) "If the initial recurring payment falls on the 29th or 30th, PayPal adjusts the billing cycle to the 1st of the month on the following February."

Therefore, if a subscription is triggered on March 29th - it doesn't "walk" until th

[2015-11-03 04:33] kaizau commented on #279
Upgraded on 10/12. Doesn't look like there have been any major changes since? https://stripe.com/docs/upgrades

[2015-11-10 00:08] carter2422 opened #289 "Report Active Subscribers Over Time"
In order to track the overall health of a subscription-business it's important to know the the change in active subscribers over time.

My suggestion, as a simple solution, would be to simply log the active subscribers on a daily basis, via a cron, and then graph that over time.

[2015-11-10 17:32] pippinsplugins commented on #289
:+1:

[2015-11-12 18:49] richardtabor commented on #257
This would be fantastic! Any idea about when you're shooting to push 2.5?

[2015-11-12 19:10] pippinsplugins commented on #257
I'd like to see it within a month or so.

[2015-11-13 22:22] Mono-Code opened #290 "Subscription price not updated in Stripe when updated in RCP"
I don't know if I can call this a feature request or an "un-feature" request but I found out that if you update the price of a subscription (that someone has signed up for already) Stripe doesn't update the price for the subscription on it's end. Although this makes sense, since I don't think you can legally up the price for an existing subscription without the member's consent, it makes all subsc

[2015-11-16 19:33] pippinsplugins commented on #290
This is a bug that I need to fix :)

The subscription level should be updated in Stripe but existing subscribers should not be affected.

[2015-11-22 01:13] tannerm opened #292 "User can upgrade with failed stripe transaction"
To recreate the issue, register for an account with RCP then upgrade to a new account and enter an invalid card (if in test mode with Stripe, use 4000000000000069). The transaction will fail, but when you visit the dashboard you will notice that the upgrade happened and the account is active.

Ideally the user should either retain the previous subscription or change to the new subscription with a

[2015-11-22 02:01] tannerm opened #293 "Wrong auto renew date"
When a user cancels an auto renew subscription then switches to another auto renew subscription, the new renewal date is incorrect when compared with Stripes renewal date.

To recreate, register for a subscription with auto renew checked. Then cancel the subscription and upgrade to a new one. Once the new subscription receives a pingback from Stripe you'll notice that the renewal date from RCP is

[2015-11-23 23:44] etcook commented on #239
@pippinsplugins Have you had a chance to look at what I was referencing? Can you reopen this unless I've mistaken?

[2015-11-24 15:28] pippinsplugins opened #294 "Subscription level changed too early when upgrading existing account"
Say a user has an active subscription and then chooses to upgrade or change to a new level. During the registration process, the subscription level ID is changed to the new level and the status is left as `active`. The member can go through the registration process but then bail before completing the payment in PayPal.

Their account will be left as active and they will have the new subscription l

[2015-11-24 16:23] #294 closed

[2015-11-24 18:25] pippinsplugins commented on #292
@tannerm This should be resolved with #294

[2015-11-24 18:25] #292 closed

[2015-11-24 18:29] tannerm commented on #292
Super, thanks @pippinsplugins!

[2015-11-24 23:10] tannerm commented on #293
@pippinsplugins This seems like a pretty big deal and want to make sure you see it.

[2015-11-24 23:16] swb1192 commented on #293
When this renewal goes through, it looks like it is doing a duplicate of the renewal, as per the User Notes in the member data:

November 22, 2015 18:23:19 - Member's expiration changed from 2016-11-22 23:59:59 to 2017-11-22 23:59:59

November 22, 2015 18:23:19 - Member's expiration changed from 2017-11-22 23:59:59 to 2018-11-22 23:59:59

[2015-11-24 23:18] pippinsplugins commented on #293
I'll dig into this as soon as I can.

[2015-11-25 22:00] pippinsplugins commented on #293
@tannerm How much are the dates off by?

[2015-11-25 22:01] pippinsplugins commented on #279
Related to #293

[2015-11-25 22:03] tannerm commented on #293
@pippinsplugins normally by a year or two. (I'm assuming that would change to whatever unit is used for the subscription).

[2015-11-25 22:03] swb1192 commented on #293
The renewals should be 1 year, but instead they are two years (see https://github.com/pippinsplugins/restrict-content-pro/issues/293#issuecomment-159436317).

[2015-12-01 16:43] carter2422 opened #298 "Payment Dates in RCP are five hours ahead of payment processor"
We thought this was fixed a while back but it's still an issue.

When payments are entered into RCP they are pushed five hours into the future, causing confusing for users and admins.

For example, a user paid via Stripe on `2015/10/31 19:49:04`, yet in RCP the payment is noted as `2015-11-01 12:49:05`

[2015-12-01 16:49] carter2422 opened #299 "Member expiration calculation incorrect sometimes"
I had a user reactivate an expired account, yet their expiration was incorrectly calculated. Rather than setting the expiration to 1 month in the future, it set it 8 months from their previous expiration.

The user resubscribed, and submitted payment on `2015/10/31 19:49:04`, yes expiration was changed like this:
`October 31, 2015 19:49:09 - Member's expiration changed from 2015-04-24 23:59:59 to

[2015-12-07 16:05] carter2422 opened #302 "Stripe: account for Unpaid subscriptions when re-subscribing"
If a user tries to re-subscribe via Stripe, and has a previously unpaid subscription (typically due to failed payments) then the new subscription never goes through but RCP reports it as successful to the user.

There needs to be a way to account for unpaid subscriptions in Stripe.

Note: after signup no error messages are presented, so it appears successful, but the user is never actually activat

[2015-12-07 16:07] carter2422 commented on #302
Since most Unpaid subscriptions are due to multiple failed payments, dependent on your Stripe settings, my suggestion would be to simply cancel the unpaid subscription if it exists, and then continue with the new signup like normal.

![screen shot 2015-12-07 at 10 06 21 am](https://cloud.githubusercontent.com/assets/1648631/11631973/602fd9d4-9cca-11e5-8946-7a86f43bd626.png)

[2015-12-08 17:29] pippinsplugins commented on #279
Related #299

[2015-12-08 17:29] pippinsplugins commented on #293
Pretty sure I've tracked this down.

[2015-12-08 18:02] pippinsplugins commented on #293
@tannerm Could you test it against the PR above? I'm pretty sure that resolves it.

[2015-12-08 18:03] pippinsplugins commented on #299
@carter2422 So their account expired on October 31st and they renewed on October 31st?

[2015-12-10 16:42] carter2422 opened #304 "Stripe: add support for prorating plans"
If a user re-upgrades while a previous Plan is active Stripe will attempt to prorate the plan, while RCP will also charge the full amount. This leads to customers being charged more than they should be even at full rate.

![screen shot 2015-12-10 at 10 41 00 am](https://cloud.githubusercontent.com/assets/1648631/11721684/a60a5e7c-9f2a-11e5-96cb-8f71dd73d9ec.png)

We need to add support for prorati

[2015-12-10 20:51] carter2422 commented on #304
This appears to be more than an issue of proration; I think it's more related to an unpaid plan with time remaining on it. Investigating further.

[2015-12-10 20:52] carter2422 commented on #299
No, their account expired back in April, then they renewed on October 31st.

[2015-12-10 20:57] pippinsplugins commented on #299
Are you sure their account shows as Expired and not Active or Cancelled?

[2015-12-10 21:10] carter2422 commented on #299
I'm certain. The expiration was recalculated when the resubscribed based on their old expiration date, rather than the new signup date.

[2015-12-11 02:47] pippinsplugins commented on #293
#303 should resolve this.

[2015-12-11 02:49] pippinsplugins commented on #279
@kaizau Your comments from the 30th indicate the source of the problem. Your customer never has an `invoice.payment_succeeded` or `charge.succeeded` event fire. Those are the only two events that trigger an expiration update.

I'm not yet sure how to best resolve that so I'm going to leave this open pending further investigation.

[2015-12-11 02:51] pippinsplugins commented on #299
If we look at the `calculate_expiration()` method, we can see there are two "base" points used for the expiration date calculation:

1. The member's current expiration date if they have an active subscription or their expiration date is greater than the current time, and they are not expired.

2. The current time in all other situations.

[code]

I'm not disputing that it happened (notes on member

[2015-12-11 02:53] pippinsplugins commented on #302
Can you show me all events logged on the customer in Stripe for a member this happened to?

[2015-12-11 16:54] pippinsplugins opened #305 "Account pending message shown to all logged out users"
If WP Approve User is active, all logged out users are shown the error message indicating their account is pending activation.

[2015-12-11 16:55] #305 closed

[2015-12-11 20:21] pippinsplugins commented on #304
RCP intentionally does not modify the charged amount.

That's where  #195 comes into play.

[2015-12-11 20:32] pippinsplugins opened #306 "Allow log in by email"

[2015-12-11 20:33] #306 closed

[2015-12-12 01:35] tannerm commented on #293
Sorry for the delay here, @pippinsplugins. I just pulled down the master branch and tested again and am still seeing the same results. Happy to do a screenshare if that would help.

[2015-12-12 01:35] tannerm commented on #293
Or if you wait long enough, I'll have time to dig into this myself. :P

[2015-12-12 08:43] kaizau commented on #279
Indeed. Question is why those events don't fire (or only fire intermittently).

I'm currently using a workaround that sets the renewal date immediately after a payment is initiated, but that's obviously not ideal.

[2015-12-16 21:51] pippinsplugins commented on #279
That would be a question best answered by Stripe :)

[2015-12-18 18:53] pippinsplugins opened #307 "Apply Discount button missing from single register template file"

[2015-12-18 18:53] #307 closed

[2015-12-18 19:38] pippinsplugins commented on #302
@carter2422 ping

[2015-12-22 19:41] pippinsplugins opened #308 "Add-on licensing / updater"
The add-on updater API needs to be added.

[2015-12-22 20:52] pippinsplugins commented on #293
Ok I'm struggling to find what's causing this because I cannot replicate it at all.

Any ideas from anyone here?

[2015-12-22 20:54] tannerm commented on #293
Yeah, I'll look into this. I should have some time over the next couple of days.

[2015-12-22 23:27] pippinsplugins commented on #293
Here's an example of a subscriber on one of my live sites who has renewed three times recently. Everytime the expiration date was properly calculated:

[code]

[2015-12-26 21:43] jmarx opened #310 "Add in hook for failed credit card payment"
When a credit card fails, users are now forced to an ugly wp_die message. I would really like the ability to send users to a custom page instead of the ugly error message.
@pippinsplugins would you consider adding in this hook or giving me some direction as to how to accomplish this without the hook?
I have been trying a million different ways and haven't been able to get it. Would you consider me

[2015-12-27 04:24] pippinsplugins commented on #310
@jmarx Which gateway?

[2015-12-27 04:53] jmarx commented on #310
Stripe. I can code it up for the others too. But stripe is the one we work with.

Sent from my iPhone

[2015-12-29 15:59] pippinsplugins opened #312 "Invalid Profile description in PayPal Express sometimes"
There have been a few reports of PayPal Express returning a `Profile description is invalid` error with code `11581`. This happens after clicking the confirm button after returning from PayPal.

[2015-12-29 16:13] #312 closed

[2015-12-29 16:15] pippinsplugins commented on #310
@jmarx I don't think this is necessary since we already have `do_action( 'rcp_stripe_' . $event->type, $payment_event );`

That will fire on every event type that doesn't already have a handler.

[2015-12-29 16:24] pippinsplugins commented on #299
This should now be resolved with changes done for #312.

[2015-12-29 16:24] #299 closed

[2015-12-29 16:25] pippinsplugins commented on #293
I've tracked this down I believe. Should be resolved with changes done for #312.

@tannerm @swb1192 if you see new instances after 2.4.6 is released, please re-open.

[2015-12-29 16:25] pippinsplugins commented on #293
Correction: 2.4.7

[2015-12-30 01:06] jmarx commented on #310
Ok ill mess around with this and let u know how I make out. Didn't see that before.

Sent from my iPhone

[2015-12-30 02:58] michaelbeil opened #314 "Update Travis to restrictcontentpro"
This may be trivial, but right now our tests are under pippinsplugins and not the organization name: https://travis-ci.org/pippinsplugins/restrict-content-pro.

[2015-12-30 20:01] pippinsplugins commented on #241
Figured it out! Goes back to same thing as https://github.com/restrictcontentpro/restrict-content-pro/issues/299

[2015-12-30 20:01] #241 closed

[2015-12-31 00:57] carter2422 commented on #241
Whoop!

[2015-12-31 23:07] jmarx commented on #310
``
add_action( 'rcp_stripe_charge.failed', 'jeff_charge');
function jeff_charge( $event ) {
    wp_redirect( '/payment_failed' );
    exit;
}
``

[2015-12-31 23:07] jmarx commented on #310
[code]

[2015-12-31 23:10] pippinsplugins commented on #310
Doing a redirect there won't work as that even fires during the Stripe webhooks, not during any user-initiated event.

[2015-12-31 23:15] jmarx commented on #310
Yep. Am I using the wrong hook?
I am desperately trying to avoid sending my users here:
<img width="1144" alt="screen shot 2015-12-31 at 6 13 52 pm" src="https://cloud.githubusercontent.com/assets/223919/12069032/64c2d28e-afea-11e5-83e0-9d5c49139806.png">

[2015-12-31 23:15] jmarx commented on #310
The pr I pushed up allows me to do that.

[2015-12-31 23:17] jmarx commented on #310
we have a pretty /payment_failed page set up, but not way to get them there :)

[2015-12-31 23:20] jmarx commented on #310
I was wondering if there is a way to just make an api call and check if the card is valid or not and use the create_args hook, but I couldn't make that work as there seems to be no such api call available from stripe. That I know of anyways.

[2015-12-31 23:21] jmarx commented on #310
So any feedback you could provide to help me accomplish that, would be greatly appreciated.

[2015-12-31 23:23] jmarx commented on #310
Or if there is a way to create a hook just to catch any general payment error and be able  to react to it before sending users to wp_die. OK I'll stop spamming this issue. Thanks so much and Happy New Years! :)

[2016-01-05 20:47] pippinsplugins commented on #310
@jmarx got it. Can you submit the PR? Looks like you committed to your fork but didn't make the PR.

[2016-01-05 23:29] jmarx commented on #310
@pippinsplugins Do you need to grant me access to push a branch? I have been trying and it doesn't work. Unless I am missing something. I apologize that I am a little inexperienced at contributing to projects like these. I thought it was done through forks.

[2016-01-06 17:44] jmarx commented on #310
Here is the pr: let me know what you think. https://github.com/restrictcontentpro/restrict-content-pro/pull/315
Or if you have a better idea of how to accomplish what I am trying to do.

[2016-01-06 17:45] tannerm commented on #293
Hey @pippinsplugins!

I updated to 2.4.7 and I'm still seeing the issue. I'll take some time this week to see if I can track it down.

[2016-01-06 20:32] pippinsplugins commented on #293
Ugh. I've worked with 5-10 customers in the last two weeks that had the same issue and it has been resolved for all of them.

[2016-01-11 16:01] thomasfw opened #317 "Card Update Form - blank page/no message"
The page containing `[rcp_update_card]` is blank when visited by a user without (as far as I can see) an active paid membership (e.g. free membership tier). Can we add a default message and/or hook here rather than showing a blank page?

And slightly related - was there any progress with displaying details of the current card on file #230?

[2016-01-12 04:26] pippinsplugins commented on #317
Can you show me a screenshot of the edit screen for a member that doesn't seee it?

[2016-01-12 14:49] pippinsplugins opened #318 "Subscription levels can be created without entering any values"
The subscription level creation form needs to validation on it. Currently, you can create subscription levels without a name or price. At least the name should be required.

[2016-01-12 14:55] misulicus commented on #318
i added this to the admin-scripts.js and the localisation and it should be enough

[code]

[2016-01-12 14:55] pippinsplugins commented on #318
Thanks!

[2016-01-16 07:53] pippinsplugins commented on #293
Ok guys, I'm pretty sure I've finally tracked this down and resolved it. @tannerm Any chance you could test it?

[2016-01-16 08:12] #314 closed

[2016-01-17 15:15] cklosowski opened #322 "Store IP used on puchases"
Right now, the IP Address from an RCP purchase is not stored, we should store the IP Address that is used to make the initial purchase by using the `rcp_get_ip` to retrieve the IP.

[2016-01-18 00:43] pippinsplugins opened #323 "Incompatibility with Download Manager plugin"
The [Download Manager plugin](https://wordpress.org/plugins/download-manager/) has a feature that allows for files attached to a post/page to be displayed on the frontend. This display does not get properly restricted when a post is restricted to subscribers.

[2016-01-18 00:45] pippinsplugins commented on #323
Actually, it's the download itself. Downloads get setup as a post type with the standard editor so RCP shows the restrict options there.

[2016-01-18 00:47] pippinsplugins commented on #323
Hmm, seems to be working fine. I'll follow up with the customer to see if it's working for them too.

[2016-01-18 05:11] pippinsplugins commented on #322
I agree.

[2016-01-19 17:21] psorensen opened #324 "htmlspecialchars causing issue with sending html emails"
When adding the html content-type to the headers via [`rcp_email_headers`](https://github.com/restrictcontentpro/restrict-content-pro/blob/ed369f9ab445f54a9e9dc0602ebcdbe523693c45/includes/email-functions.php#L25) filter...

[code]
... the html tags in the sent email are still rendered as plain text. I've determined that the issue is local to RCP as other emails not sent through RCP (and with text

[2016-01-19 18:54] pippinsplugins commented on #324
Aha! That was added to ensure that apostrophes (and other characters) get displayed properly. I can probably modify it so that it runs before the filters.

[2016-01-22 00:58] pippinsplugins opened #325 "Duplicate 0.00 payment records when signing up with a free month through Stripe"
It appears that two 0.00 payment records get created when registering a new subscription through Stripe that has the first month free through a signup fee.

[2016-01-22 01:01] pippinsplugins commented on #325
Confirmed:
![screen shot 2016-01-22 at 2 00 53 pm](https://cloud.githubusercontent.com/assets/1034109/12499579/a0eb71a8-c110-11e5-8b60-289f0cdb3e22.png)

[2016-01-22 01:06] pippinsplugins commented on #325
This is happening because both `charge.succeeded` and `invoice.payment_succeeded` webhooks are getting picked up.

Related #239

[2016-01-22 01:07] pippinsplugins commented on #325
Oh maybe not . . .the transaction IDs are different.

[2016-01-22 01:39] pippinsplugins commented on #325
Confirmed fixed.

[2016-01-22 01:39] #325 closed

[2016-01-22 01:39] pippinsplugins commented on #293
Just did some more testing, found some issues, but not it's all working exactly as expected.

[2016-01-22 01:39] #293 closed

[2016-01-23 02:05] ramiy opened #326 "Add refunds tab to RCP reports"
This is a feature request.

Currently the **Reposts** has two tabs: **Earnings** and **Signups**.

I will love to see a new tab showing me all my **Refunds**.

![RCP Refunds Report](http://i.imgur.com/elqx6be.png)

[2016-01-23 02:15] ramiy commented on #298
Had the same problem with PayPal - 8 hours difference.

The time difference caused by the way the plugin handles payment dates. PayPal has it's own TimeZone settings, and RCP uses WordPress TimeZone settings.

I fixed that by matching PayPal and WordPress timezones. But I think I should be handled by the plugin. Maybe to add a checkbox to the settings page to allow the plugin to use paypal dates,

[2016-01-24 06:35] pippinsplugins commented on #298
I think I can force them to match.

[2016-01-24 06:36] pippinsplugins commented on #326
Great idea.

[2016-01-25 16:44] tnorthcutt opened #327 "Applying a discount code should update the price displayed"
Currently, successfully applying a discount does not update the price displayed, which can be confusing to buyers, even though a "Valid" message is displayed with the discount amount (a friend using RCP has had several customers contact him because they thought a discount code wasn't working).

I suspect there will be some edge cases here, but at the very least we could easily cover the 80% use ca

[2016-01-25 16:47] carter2422 commented on #327
:+1:

[2016-01-25 20:46] pippinsplugins commented on #327
:+1:

[2016-01-26 18:05] mindctrl opened #328 "Validate user input on discount code creation screen"
When creating a discount code, if you key in the `%` sign in the amount field, you can see an error 400, invalid integer message.

![image](https://cloud.githubusercontent.com/assets/1254870/12589743/47aa420c-c42d-11e5-92a6-f5bb56485f9a.png)

![image](https://cloud.githubusercontent.com/assets/1254870/12589729/3857e480-c42d-11e5-9370-bab00b32e3a5.png)

Customer reported this problem. I replicated

[2016-01-26 20:30] michaelbeil commented on #328
We would clarify the description by saying: "The amount of this discount code. Use a number without % or $, such as 15."

Or we could just strip any non integer characters on output.

[2016-01-26 20:36] michaelbeil commented on #327
Definitely!

[2016-01-26 20:38] mindctrl opened #330 "Add system info report to help with tech support"
Like we have in EDD, it would be nice to have a system info report to help troubleshooting issues. Items that would be useful (feel free to add any I miss):

- Site info (URLs under Settings > General, and whether it's multisite)
- WP config (version, language, permalink structure, memory limit, multisite, etc.)
- RCP settings (gateways, page configs, misc settings)
- Installed plugins, broken dow

[2016-01-26 20:40] michaelbeil commented on #330
Been on my mind to do this. Big :+1:.

[2016-01-26 21:21] mindctrl commented on #327
Signup fees don't show either. Generalize this issue or open another?

[2016-01-26 21:23] pippinsplugins commented on #327
Let's generalize it here.

On Wed, Jan 27, 2016 at 10:21 AM, mindctrl <notifications@github.com> wrote:

[2016-01-26 21:23] pippinsplugins commented on #330
Let's do it.

The run down of items to show looks right to me.

[2016-01-27 16:42] ramiy commented on #326
Done!

https://github.com/restrictcontentpro/restrict-content-pro/pull/331

[2016-01-27 21:55] mindctrl opened #332 "Media restriction settings"
Right now, the restriction settings show on attachment post types, but the settings do not get saved. The `save_post` hook doesn't fire on attachment edits. I think `edit_attachment` is the proper hook.

Even still, if you make that work, RCP doesn't restrict the attachment page properly anyway, depending on implementation. I propose one of the two options:
- Fix the settings and restriction of at

[2016-01-27 22:34] michaelbeil commented on #332
For reference:
http://cl.ly/1J150p1e2Q3T
http://cl.ly/0w1Z3j343T30
http://cl.ly/40461u1y3J22
http://cl.ly/3U1V041r2t20

[2016-01-27 23:28] ramiy commented on #332
I think this issue is also apply to the regular "[Restrict Content](https://wordpress.org/plugins/restrict-content/)" plugin.

[2016-01-28 21:26] pippinsplugins commented on #332
Let's remove it completely.

[2016-01-29 15:00] mindctrl opened #334 "Reports: Bug when custom range spans from one year to another"
Customer reported and confirmed locally. If you set up a custom range report that spans from one year to the next, the report doesn't stop at the end date. It continues throughout the rest of the year.

Example: custom range from Dec 2015 - Jan 2016.

![image](https://cloud.githubusercontent.com/assets/1254870/12678855/e6bca3d8-c66e-11e5-9986-9a22bfffd9e2.png)

Instead of stopping at Jan 2016, it

[2016-01-29 17:19] michaelbeil opened #335 "Free trial options"
Could be nice to offer a two week trial.

[2016-01-29 20:05] pippinsplugins commented on #334
Will get it fixed.

[2016-01-29 21:05] pippinsplugins commented on #332
Thanks @mindctrl !

[2016-01-29 21:06] #332 closed

[2016-01-29 21:58] mindctrl commented on #328
Left a note on the PR here: https://github.com/restrictcontentpro/restrict-content-pro/pull/336#issue-129893846

[2016-01-29 22:18] pippinsplugins commented on #328
See comments on PR :)

[2016-02-01 19:57] michaelbeil opened #337 "Extend access level to a member option"
Since the access level of a member is determined automatically based on the subscription level they have been assigned, it might be neat to give certain members higher access levels if need be.

If a member is given a subscription with an access level of 5, that member has an access level of 5. Now, what if the website owner wants to give them access to some content at level 6 and nothing beyond t

[2016-02-01 21:33] pippinsplugins commented on #337
I like this idea.

[2016-02-01 22:04] wesburke commented on #230
I am excited to see this.

We do answer a few support conversations of customers inquiring what card they have on file, or if the update was a success. :+1:

[2016-02-01 22:05] carter2422 commented on #230
Thoughts on getting this into 2.4.9 or 2.5.0 @pippinsplugins?

[2016-02-01 22:11] pippinsplugins commented on #230
Will get it in 2.5

[2016-02-01 22:21] carter2422 opened #338 "Email daily report of cron job"
For the sake of admin sanity, particularly in the cases where the daily cron has failed unknowingly, it'd be very beneficial to email a daily report of the cron job.

This report should include all cron activity, with the important numbers being the total members expired.

Doing this would be particularly helpful for identifying a stalled or failing cron that otherwise would go unnoticed for possi

[2016-02-01 23:02] pippinsplugins commented on #338
Will see if it can go in 2.5

[2016-02-02 22:03] pippinsplugins opened #339 "set_expiration_date() fails to set new date when pending date is set"
The `set_expiration_date()` checks that the new expiration date does not match the existing date.

This has a problem though because `$old_date` is retrieved using `get_expiration()`, which pulls from the pending expiration date that was calculated a few moments before, causing the dates to match and therefor resulting in the date not getting updated.

Pulling `$old_date` directly from user meta r

[2016-02-02 22:03] #339 closed

[2016-02-02 22:11] #318 closed

[2016-02-02 22:19] pippinsplugins commented on #310
They're in.

I modified them slightly though.

[2016-02-02 22:19] #310 closed

[2016-02-02 22:25] #324 closed

[2016-02-02 22:25] jmarx commented on #310
Thanks!

[2016-02-02 22:37] #328 closed

[2016-02-02 22:40] pippinsplugins commented on #334
@mindctrl want to give this a quick test?

[2016-02-02 22:43] psorensen commented on #324
:+1:

[2016-02-02 22:46] mindctrl commented on #334
@pippinsplugins looks good

[2016-02-02 22:47] #334 closed

[2016-02-03 10:23] SQLfix opened #340 "language files dont work"
i use IR wordpress in old versions when install plugin automtic chnge to my languge [ir]

now update to 2.4.9 and dont work languages
auto use .php template files texts

i change ES language files but dont work . when i change .php files work fine example

<?php echo apply_filters( 'rcp_registration_header_logged_in', __( 'Register New Account', 'rcp' ) ); ?>
change to
<?php echo apply_filters( 'r

[2016-02-03 22:56] mindctrl commented on #340
@SQLfix could you open a support ticket [here](http://restrictcontentpro.com/support/) and include your translation files so we can take a look?

[2016-02-03 22:56] #340 closed

[2016-02-03 22:56] michaelbeil commented on #340
What version of WordPress are you using?

What does the output show when you are on ES?

[2016-02-03 22:59] michaelbeil opened #341 "WooCommerce products are not being restricted"
When non-members use a direct link, RCP is not restricting the product page at all.

Our description says: "Restrict viewing of this product to:"  ... and we're not doing that.

We could filter `the_content` I suppose.

- https://github.com/restrictcontentpro/restrict-content-pro/blob/master/includes/content-filters.php
- https://github.com/restrictcontentpro/restrict-content-pro/blob/master/inclu

[2016-02-04 00:52] pippinsplugins commented on #341
Let's see if we can take care of it.

[2016-02-04 20:36] carter2422 commented on #302
Just now coming back around to this.

Here are all the events from a user that just ran into this today:
![screen shot 2016-02-04 at 2 35 44 pm](https://cloud.githubusercontent.com/assets/1648631/12828882/b3e7c8ce-cb4c-11e5-89b3-216ab6ffed2b.png)

[2016-02-04 20:37] carter2422 commented on #302
That user had a previously, unpaid `Quarterly` plan.

[2016-02-05 02:57] pippinsplugins commented on #326
Looking good! We'll get this reviewed for 2.5

[2016-02-07 01:13] #323 closed

[2016-02-08 18:54] pippinsplugins opened #342 "Better payment history on Member details screen"
I'd love to see the payment history shown on member details screen improved. It should display in a list table format and provide direct links to the payment details screen for each payment.

[2016-02-08 18:54] pippinsplugins opened #343 "Link to member details screen from payment history rows"
Each row in the payment history screen should include a link to the details page for the member the payment is for.

[2016-02-08 23:29] pippinsplugins opened #344 "Update PayPal HTTP version"
PayPal now requires that http 1.1 or later be used to make requests to sandbox.

[2016-02-09 15:35] carter2422 commented on #338
:+1:

[2016-02-09 21:50] pippinsplugins opened #347 "2Checkout: RECURRING_INSTALLMENT_SUCCESS not processed"
When 2Checkout processes a renewal payment, it sends an INS with a message type of `RECURRING_INSTALLMENT_SUCCESS`.

Turns out we are not doing anything with this at the moment.

That means no renewal payments are getting logged.

Oops.

[2016-02-09 21:57] pippinsplugins opened #348 "Update PayPal Pro / Express API version to 124"
We're passing `121` as the version to PayPal Pro / Express right now.

The latest version is 124. Let's use it.

[2016-02-10 00:59] #344 closed

[2016-02-10 00:59] #348 closed

[2016-02-10 19:47] mindctrl opened #351 "Integration: Easy Digital Downloads"
Having tighter EDD integration would be great.

Some areas to consider:
- Purchase link (currently not protected on themes that use it manually - in a sidebar for example)
- Prevent checkouts if someone gets an item in the cart by a direct link
- Download links (prevent inactive subscribers from accessing downloads)
- Login redirect for those without active subscriptions when using [edd_login]
- R

[2016-02-11 16:20] thomasfw commented on #317
Sorry about the late response. I can't take any screenshots but this is easily replicated by signing up to a free membership tier and visiting the page containing the shortcode.

[2016-02-11 21:51] mindctrl commented on #317
Appears to be on purpose for now: https://github.com/restrictcontentpro/restrict-content-pro/blob/6ffc863c9ad20ef79a1dc32df690d30077d77878/includes/member-functions.php#L1228

If it stays that way maybe we can show a message instead.

[2016-02-11 22:15] pippinsplugins commented on #317
I'd prefer that we not show a message. No reason to show a message of `You can only update your card if X, Y, and Z are true`. Customer's don't need to know that there is a form if it doesn't apply to them.

[2016-02-12 04:38] tannerm opened #352 "Wrong Help Page Link"
The flyout menu in the admin for RCP still links to the old help page.

[2016-02-12 04:39] pippinsplugins commented on #352
It should do a redirect via JavaScript. Do you see that?

On Thursday, February 11, 2016, Tanner Moushey <notifications@github.com>
wrote:

[2016-02-12 04:45] tannerm commented on #352
I'm not. Just seeing an empty page. No js errors either. To be clear, if I'm in one of the RCP pages then the help link does work.

[2016-02-12 04:45] pippinsplugins commented on #352
Huh. That's clearly wrong 😃

On Thursday, February 11, 2016, Tanner Moushey <notifications@github.com>
wrote:

[2016-02-12 15:08] #347 closed

[2016-02-12 21:40] pippinsplugins commented on #351
I'd add: restricting `[downloads]` display and downloads archive to paid subscribers.

[2016-02-13 02:17] tannerm commented on #195
@pippinsplugins I just pushed up an initial "proof of concept" for this in branch issue/195. At this point it's pretty minimal and I've only tested it on Stripe, but I thought it would give you an idea where I'm going with it. Let me know if you have any feedback.

Also, I started a todo list on Trello for this feature to help me keep track of the different items I come across.

[2016-02-13 16:18] thomasfw opened #354 "Change password form is not validated"
Users are able to leave the password fields blank when updating their password with `rcp_change_password_form()`. Can we include a validation check here to ensure that they're entering something (edit: I can also enter two different passwords, with no validation at all)?

[2016-02-13 22:49] michaelbeil commented on #354
Yes, we should work this into a future release.

[2016-02-15 15:34] pippinsplugins commented on #137
@tannerm #355 gets us most of the way there but we still need to enable the additional UI options on  custom taxonomies. For example, they don't show here:
![screen shot 2016-02-15 at 9 33 41 am](https://cloud.githubusercontent.com/assets/1034109/13052927/5e4e5bfc-d3c7-11e5-844d-eed3e49a63de.png)

[2016-02-15 15:35] pippinsplugins commented on #137
I really like how you set it up to get rid of the old category meta incrementally :)

[2016-02-15 21:16] pippinsplugins commented on #354
We'll get that fixed!

[2016-02-15 21:47] pippinsplugins commented on #195
Looking good so far! After our discussion in Slack, let me know if you have any questions about continuing with the pro-ration calculation.

[2016-02-17 01:04] tannerm commented on #304
@carter2422 @pippinsplugins I think I found the issue here while investigating #302.

If the account in Stripe is "past_due" and then the user upgrades/downgrades then they are charged for the past_due invoice and then prorated to the new subscription.

This happens because the card data is saved before the subscription is switched. The PR I'm going to submit should address both of these issues.

[2016-02-17 01:59] pippinsplugins commented on #304
@tannerm sounds right. Left two notes on the PR for you, one question and one tweak.

[2016-02-17 03:34] carter2422 commented on #304
Good find @tannerm!

[2016-02-17 21:18] tannerm commented on #137
Thanks!

[2016-02-19 03:45] michaeluno opened #357 "Stripe Gateway: Zero-decimal Currencies Are Not Calculated Correctly"
It seems by using the Stripe gateway [zero-decimal currencies](https://support.stripe.com/questions/which-zero-decimal-currencies-does-stripe-support) such as Japanese Yen get multiplied by 100. I guess it is the same problem reported on the EDD support forum [here](https://easydigitaldownloads.com/forums/topic/stripe-amounts-two-digits-off/).

[2016-02-19 23:41] tannerm opened #358 "PayPal Express Registration Errors"
When signing up with a negative fee >= the price, PayPal errors saying that the initial payment is invalid.

[2016-02-19 23:44] tannerm commented on #327
I've address this issue in the Upgrade Paths ( #195 ) Pull Request: #356.

[2016-02-19 23:50] tannerm commented on #195
@pippinsplugins just completed round 1 of this PR. It now address the upgrades issue as stated here, the Proration Feature #304, and displaying discount codes and fees #327.

I have done some limited testing and everything seems to be functioning splendidly. I'll be doing some more testing early next week.

[2016-02-20 13:54] pippinsplugins commented on #195
@tannerm Excellent! I'll start playing with it in order to get some initial feedback.

[2016-02-20 14:29] pippinsplugins commented on #195
Initial testing looks great. Two things quickly:

Pro-ration does not appear to be applied in Stripe. Not finished yet or bug?

Looks to be a slight bug that results in pro-ration options not being shown in some scenarios. I don't know exact what step caused it, but here's what I did:

1. Signed up for the lowest / cheapest of 3 options through Stripe.
2. Upgraded to the middle option. Pro-ration

[2016-02-20 14:31] pippinsplugins commented on #195
Looks like it might be because a payment record wasn't created. I was local without ngrok so the Stripe webhook didn't process. Would not having a payment for my current subscription level cause pro-ration to not show?

[2016-02-20 14:34] pippinsplugins commented on #195
Pro-ration in PayPal worked beautifully!

[2016-02-20 14:35] pippinsplugins commented on #327
This is working really, really nicely.

[2016-02-20 15:43] tannerm commented on #195
Yeah, proration is calculated by the last payment. This is so that you don't get credit for something you didn't pay for.

I'm still debating on this though. Perhaps it would be best to just use the current subscription price for prorating? Then we have to deal with whether or not a discount was used or a signup fee. I figured using the last payment was more straightforward. But then you have this

[2016-02-20 15:44] pippinsplugins commented on #195
Using the last payment makes sense, though perhaps there should be a fallback to the subscription price if the last payment is not available?

[2016-02-20 15:45] tannerm commented on #195
sure... I'll look into that when I do more testing next week.

[2016-02-20 15:46] pippinsplugins commented on #195
:+1:

On Sat, Feb 20, 2016 at 9:45 AM, Tanner Moushey <notifications@github.com>
wrote:

[2016-02-20 15:47] pippinsplugins commented on #358
We should remove the `INITAMT` parameter and instead set the trial amount/period if the initial amount is 0 or less than 0. That should take care of it.

[2016-02-20 15:49] tannerm commented on #358
cool, sounds good

[2016-02-23 17:27] mindctrl commented on #357
@michaeluno thanks for reporting this. We'll take a look at it for the next update.

[2016-02-23 18:59] mindctrl commented on #330
Pushed the first part of this, copied from EDD and adjusted. Still needs the download part wired in, and another pass through the code before I PR.

[2016-02-23 19:40] michaelbeil commented on #330
Good deal @mindctrl.

[2016-02-23 20:39] pippinsplugins commented on #357
@mindctrl We've fixed this in EDD Stripe:

https://github.com/easydigitaldownloads/edd-stripe/blob/master/edd-stripe-new.php#L1009

https://github.com/easydigitaldownloads/edd-stripe/blob/master/edd-stripe-new.php#L152

[2016-02-23 20:44] pippinsplugins commented on #330
@mindctrl The RCP Config section will need to use `empty()` or `isset()` when first setting up the variables, otherwise it will throw notices.

[2016-02-23 20:44] pippinsplugins commented on #330
Let's add enabled gateways to the report too.

[2016-02-23 21:22] mindctrl commented on #330
@pippinsplugins added the `empty()` checks and ditched the unnecessary variables. Gateways report already in there.

![image](https://cloud.githubusercontent.com/assets/1254870/13267119/94c3d9c2-da49-11e5-894a-a34c4d287def.png)

[2016-02-23 21:24] michaelbeil commented on #330
nice work @mindctrl.

[2016-02-23 21:25] michaelbeil commented on #330
when you open a PR, i can test this out.

[2016-02-23 21:26] mindctrl commented on #330
@m can you pull down branch `issue/330` and give it a whirl?

[2016-02-23 21:26] michaelbeil commented on #330
whirling ...

[2016-02-23 21:27] pippinsplugins commented on #330
Go ahead and open a PR

On Tue, Feb 23, 2016 at 3:25 PM, Michael Beil <notifications@github.com>
wrote:

[2016-02-23 21:48] michaelbeil commented on #330
All seems great here: http://beil.io/dsZ5.

[2016-02-24 15:37] pippinsplugins opened #360 "Failed payment emails"
We should add support for failed payments so that customers can be alerted when their payments are failing to be processed.

[2016-02-24 22:10] michaelbeil commented on #360
This would be good.

[2016-02-25 15:36] pippinsplugins opened #361 "PayPal Express / Pro: Set initial amount to 0 if less than zero"
If the amount sent to PayPal Express / Pro is less than 0 (due to signup fees), an error is thrown at PayPal. We should force it to zero if it's less than zero.

[2016-02-25 16:13] pippinsplugins opened #362 "WP Approve User improperly disallows members when no restrictions on post"
If the WP Approve User plugin is activated and a non-approved (but registered) user attempts to view a page that has zero restrictions, they are shown a message that their account is pending verification.

When there are no restrictions on the page, the WP Approve User integration should not affect the page.

[2016-02-25 16:14] pippinsplugins commented on #362
@mindctrl @michaelbeil could one or both of you test this?

Let me know if you're unsure of how to replicate the bug.

[2016-02-25 17:03] tannerm commented on #361
This should be taken care of in #356

[2016-02-25 17:05] pippinsplugins commented on #361
:+1:

[2016-02-25 17:18] pippinsplugins commented on #257
@carter2422 Could you post the code you have for this?

[2016-02-25 17:25] carter2422 commented on #257
@pippinsplugins it's here: https://github.com/CGCookie/cgc-rcp-stripe-checkout

[2016-02-25 18:48] tannerm commented on #327
@tnorthcutt @michaelbeil @carter2422 @pippinsplugins I've added this feature and it is ready for testing on PR #356. Would love to have you all test it when you get a chance. Thanks!

[2016-02-25 18:50] tannerm commented on #304
Global support for prorating has been added to PR #356. @carter2422 and @pippinsplugins can you guys test when you get a chance?

[2016-02-25 18:52] mindctrl commented on #362
@pippinsplugins here are my test results.

Unrestricted page: content is visible - works as expected.

Restricted to a membership level: content not visible. pending msg shown. works as expected.

Restricted to paid only: content not visible. pending msg shown. works as expected.

Restricted to user level 1 (when NOT subscribed to a membership that gives level 1 access): content not visible. pendi

[2016-02-25 19:16] pippinsplugins commented on #257
:+1:

[2016-02-25 19:20] pippinsplugins commented on #362
Does `user level 1` refer to a subscription level or an access level?

[2016-02-25 19:34] mindctrl commented on #362
the `Access Level` setting:

![image](https://cloud.githubusercontent.com/assets/1254870/13331752/ea7a83f0-dbcc-11e5-936e-3738e412b144.png)

[2016-02-25 19:35] pippinsplugins commented on #362
Thanks. That would not be the expected behavior so still a bug somewhere.

[2016-02-25 19:36] pippinsplugins commented on #327
@mindctrl I'd love for your eyes on this as well.

[2016-02-25 19:48] pippinsplugins commented on #327
@tannerm The `table` element for registration total should have a class of `class="rcp-table"`.

[2016-02-25 19:52] pippinsplugins commented on #195
@tannerm I'm not seeing any pro-ration now.

Here's what I did:

1. Registered for Bronze at `$10` per month with a 20% discount (so $8):
![screen shot 2016-02-25 at 1 51 09 pm](https://cloud.githubusercontent.com/assets/1034109/13332283/dffcc75e-dbc6-11e5-8847-f782ededdfb6.png)
2. Went to my account and clicked Upgrade or Change Subscription.
3. Selected Gold at $25 per month with a -$10 signup d

[2016-02-25 22:40] carter2422 commented on #304
@tannerm I'll try and test tomorrow!

[2016-02-25 22:41] carter2422 commented on #327
Great! I'll try and test soon.

[2016-02-25 23:03] pippinsplugins commented on #330
:)

[2016-02-26 00:17] mindctrl commented on #362
@pippinsplugins appears that part of it is the `RCP_WP_Approve_User` class is instantiated too early and returns early in `__construct()` because the `Obenland_Wp_Approve_User` class isn't yet available. Did a quick test of firing it up in a function hooked on `plugins_loaded` and that prevents the early return, but it still didn't hide the content.

[2016-02-26 01:00] tannerm commented on #326
@pippinsplugins just tested and this looks good to me!

[2016-02-26 03:54] pippinsplugins commented on #326
:+1:

[2016-02-26 16:36] mindctrl opened #365 "Bug in category restrictions with posts in multiple categories"
When a post is assigned to multiple categories and a member has access via one of those, there's a chance they get blocked due to the way we loop through and check for access. [Reference](https://github.com/restrictcontentpro/restrict-content-pro/blob/2.4.11/includes/content-filters.php#L52-L80).

We could build an array of subscription IDs and check against that after the loop instead, I think.

[2016-02-27 01:08] tannerm commented on #365
Gotcha. I'll look into it @mindctrl.

[2016-02-27 18:04] tannerm commented on #342
@pippinsplugins just pushed this up on #366

[2016-02-27 18:17] tannerm commented on #343
@pippinsplugins are you referring to the list page where all the payments are shown or to the payment details page?

[2016-02-27 20:07] pippinsplugins commented on #343
The list page.

[2016-02-27 20:13] pippinsplugins commented on #342
@tannerm This is looking really good. I've made a couple of tweaks to it just to add the standard WP list table styles.
![screen shot 2016-02-27 at 2 12 17 pm](https://cloud.githubusercontent.com/assets/1034109/13375086/2b76fac4-dd5c-11e5-8321-9ceeaf2e5da0.png)

[2016-02-27 20:13] #342 closed

[2016-02-27 21:51] tannerm commented on #342
awesome!

[2016-03-01 01:22] tannerm commented on #257
Hey everyone! I just pushed up a PR for this feature and would love to have you test it and provide any feedback. Here is the PR: #367

There is both a new gateway (Stripe Checkout) and a Stripe Checkout shortcode [register_form_stripe]. The gateway works just like you'd expect without any extra setups.

The shortcode requires that the subscription level be identified (i.e. [register_form_stripe i

[2016-03-01 02:25] mindctrl opened #368 ""Last Week" earnings report is incorrect"
The date range shown is incorrect, and there are some debug notices.

![image](https://cloud.githubusercontent.com/assets/1254870/13415688/c6bcc250-df2a-11e5-83ce-440f0a7c497b.png)

`[29-Feb-2016 21:13:49 America/New_York] PHP Notice:  A non well formed numeric value encountered in /Sites/rcp/wp-includes/functions.php on line 295`

![image](https://cloud.githubusercontent.com/assets/1254870/134156

[2016-03-01 18:18] carter2422 commented on #257
:tada:

[2016-03-01 18:25] pippinsplugins commented on #257
@tannerm Could we pre-fill the email address when logged in? https://cloudup.com/cJpe-YYXcYN

[2016-03-01 18:30] pippinsplugins commented on #257
Could we also add arguments to the short code to define the label of the button?

[2016-03-01 18:31] pippinsplugins commented on #257
Looks like the redirect to the success page isn't working properly after registering through [register_form_strip]. Form was submitted and then the page reloaded.

[2016-03-01 18:52] mindctrl opened #369 "Deleting a member deletes the user account"
Going to Restrict > Members and deleting a member with the bulk actions menu deletes the user account too. We've decided to remove that feature to prevent accidental user account deletions.

[2016-03-02 01:06] tannerm commented on #257
@pippinsplugins the email addresses should already be auto filled out when logged in. Let me know if you are seeing something different.

You can add the "data-label" parameter to the shortcode to specify the button text already. Do you want me to add support for an alias like "button"?

Something went screwy with the submission part of the stripe shortcode which was breaking the registration. Tha

[2016-03-02 02:09] tannerm commented on #343
Just added a pull request here at #370. Not really crazy about this implementation of the edit link, but wanted to throw something up for us to chew on.

[2016-03-02 05:01] michaelbeil commented on #343
Do we want that to display edit or something like view member?

[2016-03-02 17:31] tannerm commented on #343
@michaelbeil not sure... totally open to suggestions.

[2016-03-02 17:38] mindctrl opened #371 "Add Jetpack Protect compatibility"
Customer reported that Protect doesn't work with our custom login form. I took a quick look and it appears we need to trigger the `wp_login_failed` action, and maybe some other things.

Reference: https://github.com/Automattic/jetpack/blob/3.9.2/modules/protect.php#L54-L59

[2016-03-02 17:38] pippinsplugins commented on #343
I prefer `View Member`.

[2016-03-02 18:19] tannerm commented on #258
I just created a pull request (#372) that adds shortcodes for a user's subscription id ([subscription_id]),  subscription name ([subscription_name]), and expiration date ([user_expiration]). Let me know if you have any thoughts or feedback. // cc @pippinsplugins

[2016-03-02 18:31] tannerm commented on #343
Sounds good. What do you guys think of this? I updated the text to "View Member" and made it show on hover (like actions on the posts page). https://www.dropbox.com/s/4donyq6u74bf8p7/Screenshot%202016-03-02%2010.30.32.png?dl=0

[2016-03-02 18:37] pippinsplugins commented on #343
I like that :+1:

[2016-03-02 18:40] thadallender opened #373 "Unlimited duration (0) and Stripe interval_count"
Stripe plan creations fail if the RCP subscription level is set to an unlimited duration (0). Stripe returns a 400 status with error response:

type: "invalid_request_error"
message: "Invalid positive integer"
param: "interval_count"

Steps to reproduce:

1. Create a new subscription level and set the duration to 0 and set a price.
2. Try to signup for the plan and you'll receive this Stripe error

[2016-03-02 18:48] pippinsplugins commented on #257
I'm not seeing the email pre-populated in the Stripe checkout.

Let's do go ahead and add an alias. `data-label` isn't very intuitive for non technical users.

[2016-03-02 18:54] tannerm commented on #257
Strange. This is what I'm seeing when logged in: https://www.dropbox.com/s/aq2yel3ap30krpk/Screenshot%202016-03-02%2010.54.31.png?dl=0

[2016-03-02 19:15] pippinsplugins commented on #257
Looks like it is working fine now.

[2016-03-02 19:16] pippinsplugins commented on #373
@thadallender Are you on 2.4.10?

[2016-03-02 19:18] pippinsplugins commented on #258
Looks great!

[2016-03-02 19:19] tannerm commented on #257
:+1:

[2016-03-02 19:20] #258 closed

[2016-03-02 19:23] pippinsplugins commented on #257
I'll do some more testing on this but I think it's about good to go!

[2016-03-02 19:32] thadallender commented on #373
@pippinsplugins 2.4.11

Looking at Stripe's API, I'm not sure it supports an interval_count of 0. Yearly also only supports an interval_count of 1.

I have some UX suggestions that I'll include in a pull request soon if you're interested. The UX changes are extraneous to the Stripe/Unlimited Duration issue.

[2016-03-02 19:48] michaelbeil commented on #343
I like that much better.

[2016-03-03 03:33] sumobi commented on #258
Sweet!

[2016-03-03 21:13] tannerm commented on #358
Just added a PR for this (#374). I messed around with the trial period a little bit but found that it was much cleaner to just not set the INITAMT if the amount was 0 or less.

[2016-03-03 23:24] tannerm commented on #365
@mindctrl I just pushed up a new commit to #355 that adds filters to the handling of restricted taxonomies.

As you noted the current behavior is that when any taxonomy has a restriction then the post is restricted. In the same way if any of the post's taxonomy terms are restricted then that shows the whole taxonomy as restricted.

So the current behavior is that the user must have access ALL the

[2016-03-04 16:29] tnorthcutt commented on #365
@tannerm would this change the default behavior, or just allow filtering that behavior?

[2016-03-04 21:30] tannerm commented on #365
@tnorthcutt this just allows filtering the default behavior. Everything should function the same as before.

[2016-03-04 22:29] pippinsplugins commented on #137
We'll need to make this support our WooCommerce integration.

@tannerm Could you look at that?

[2016-03-04 22:32] #343 closed

[2016-03-04 22:41] pippinsplugins commented on #326
Merged manually :)

[2016-03-04 22:41] #326 closed

[2016-03-04 22:46] #358 closed

[2016-03-04 22:56] #352 closed

[2016-03-04 23:21] tannerm commented on #137
Just pushed up a fix.

[2016-03-05 00:52] tannerm commented on #290
@pippinsplugins I just created a PR for this ( #378 ). I've reconfigured the plan ID to include plan name, duration unit, duration, and price.

I have also included a fallback to check if the previous plan id is valid. This way we won't unnecessarily create new Stripe plans for websites whose plans are still valid.

[2016-03-05 04:03] pippinsplugins commented on #290
@tannerm Looks good at first glance! I'll test it and then let you know of any issues or comments.

[2016-03-05 22:02] pippinsplugins commented on #137
@tannerm This Works really well for the category / shop views. We will also need to restrict viewing of the single product page. Right now if you have a single product that is in a restricted category, you can still view it via the direct URL. Take a look at the `hide_template()` method in the WooCommerce integration to see how we did this for individual product restrictions: https://github.com/re

[2016-03-05 22:03] pippinsplugins commented on #137
Actually it looks like it should be working . . . not quite sure why it's not. Are you able to access the single product page for a product that is in a restricted category when logged into an account that does not have necessary access levels (or are logged out)?

[2016-03-06 19:35] #290 closed

[2016-03-06 19:36] pippinsplugins commented on #362
@mindctrl Let's work on getting a PR sent to Obenland to resolve this.

[2016-03-06 22:40] pippinsplugins commented on #373
We'll work on getting this resolved right after 2.5.

I'm happy to hear any UX feedback you have :)

[2016-03-08 15:55] mindctrl commented on #362
@pippinsplugins submitted a PR with an alternate approach that requires no upstream patch.

[2016-03-08 16:30] pippinsplugins commented on #362
@mindctrl Looks great.

[2016-03-08 23:44] mindctrl opened #380 "Multisite database upgrade notice doesn't go away"
When visiting a sub-site in a network activated multisite install, I see this notice:

![image](https://cloud.githubusercontent.com/assets/1254870/13620445/c5094ecc-e55d-11e5-8070-71a2b0edb531.png)

Clicking the upgrade link doesn't make the notice go away. At this time I'm not sure if the upgrade routine is successful or not.

[2016-03-09 01:15] pippinsplugins commented on #380
Network activated?

On Tuesday, March 8, 2016, mindctrl <notifications@github.com> wrote:

[2016-03-09 01:41] tannerm commented on #357
Just submitted a PR for this (#381).

[2016-03-09 01:44] tannerm opened #382 "Wrong default currency for fees/discounts (Stripe)"
This is probably a pretty obscure bug. If a user's Stripe account is set to a default currency other than the one specified in RCP, then RCP will use the wrong currency when setting an initial fee and the user charge process will error with:

[2016-03-09 01:45] pippinsplugins commented on #382
Oh! I think I ran across that the other day

On Tuesday, March 8, 2016, Tanner Moushey <notifications@github.com> wrote:

[2016-03-09 14:26] mindctrl commented on #380
Oops, yes it's network activated. Updated original post to reflect that.

[2016-03-09 16:27] mindctrl commented on #137
@tannerm currently admins are restricted from viewing content restricted at the taxonomy level. (Happens on built-in WP taxonomies too).

[2016-03-09 17:05] mindctrl commented on #365
Thanks @tannerm.

Pippin and I chatted about this last week and we agreed that a person should only be required to have access to one of the terms.

That's a change from the current behavior it seems, but could be considered a bug. I'm not familiar with the legacy here. @pippinsplugins do you still agree?

[2016-03-09 17:53] pippinsplugins commented on #365
I still agree; only access to one term should be required.

[2016-03-09 18:23] michaelbeil opened #383 "Activate license button missing in display"
**Issue**: When a user first installs and activates RCP, they see the notice: `Please enter and activate your license key for Restrict Content Pro to enable automatic updates.` That is all hunky dory until the user clicks on the `enter and activate` hyperlink, leading to the general settings page ('admin.php?page=rcp-settings'):

![screen shot 2016-03-09 at 11 54 18 am](https://cloud.githubusercon

[2016-03-09 21:26] mindctrl opened #384 "Make manual user notes distinguishable from automatic RCP notes"
When viewing notes on a member, it's not possible to tell if a note was created by manual user action or by an action made programmatically by RCP.

The proposal is to do something like Easy Digital Downloads does, where notes are prefixed with something like `RCP Bot` to indicate programmatic actions, and then prefix user notes with `FirstName LastName` to indicate user-initiated actions.

[2016-03-09 21:29] pippinsplugins commented on #383
:+1:

[2016-03-09 21:59] #369 closed

[2016-03-09 21:59] mindctrl commented on #327
Briefly chatted in Slack about discount codes being applied last. See image below for why it may be a good idea to do so - particularly with the new upgrade routines coming.

![image](https://cloud.githubusercontent.com/assets/1254870/13652023/02a6706a-e618-11e5-830c-3ff15bb92e94.png)

[2016-03-09 22:11] mindctrl commented on #362
@michaelbeil mind giving this a quick test run before we close the issue? It's merged into `release/2.5` and needs the [WP Approve User plugin](https://wordpress.org/plugins/wp-approve-user/).

[2016-03-09 22:20] mindctrl commented on #383
While we're here let's update the support link to the new site.

[2016-03-09 22:38] tannerm commented on #365
Sounds good. I'll make the adjustment.

[2016-03-09 23:24] tannerm commented on #365
Adjustment made.

[2016-03-10 15:11] mindctrl commented on #365
This is looking good now.

[2016-03-10 15:37] mindctrl commented on #195
Seeing something here with renewing a subscription. I have a user with a `Basic` non-recurring subscription.

---

![image](https://cloud.githubusercontent.com/assets/1254870/13674473/990d52e2-e6ab-11e5-98f5-b1490a280e77.png)

---

##### But, when I go to the registration form, the Basic subscription is not listed, so I can't renew it.

---

![image](https://cloud.githubusercontent.com/assets/1254

[2016-03-10 15:47] pippinsplugins commented on #195
Previously we only hid the currently-subscribed-to level if the customer had a recurring subscription. That sounds like a bug.

@tannerm Could you take a look please?

[2016-03-10 15:49] pippinsplugins commented on #365
Excellent.

I've merged this into release/2.5.

@mindctrl could you do one more test with EDD category archives just to be sure that's working properly?

[2016-03-10 16:05] mindctrl commented on #365
EDD category stuff looks good except https://github.com/restrictcontentpro/restrict-content-pro/issues/137#issuecomment-194377253

[2016-03-10 16:23] pippinsplugins commented on #365
Good deal. We'll close this one and leave the other open until that's fixed.

[2016-03-10 16:23] #365 closed

[2016-03-10 17:46] mindctrl opened #386 "Email members when subscription added manually"
If an admin adds a new subscription manually for an existing user, the user isn't emailed about their new active subscription.

[2016-03-10 20:40] pippinsplugins commented on #386
:+1:

[2016-03-10 22:22] tannerm commented on #137
@pippinsplugins @mindctrl  Just removed restrictions for admins and authors in #387

[2016-03-10 23:09] michaelbeil commented on #386
Works wonderfully! :cake:

[2016-03-10 23:30] tannerm commented on #195
@pippinsplugins I thought I remembered that we would use the last payment for calculating the proration. But as I look through the code and our chat logs it appears that we decided to just use the subscription price to calculate proration. Does that sound right to you?

[2016-03-10 23:39] tannerm commented on #195
@pippinsplugins I'm seeing that proration is working just fine. Are you testing on the issue/195 branch?

[2016-03-10 23:50] pippinsplugins commented on #195
@tannerm Yes pro-ration is working fine now. We discussed this later but github didn't get updated.

[2016-03-11 03:24] pippinsplugins commented on #137
Perfect.

[2016-03-11 03:24] #137 closed

[2016-03-11 16:40] #386 closed

[2016-03-11 18:56] mindctrl commented on #361
When testing #356 as mentioned above, I get this:

![image](https://cloud.githubusercontent.com/assets/1254870/13712244/8b2bffe4-e790-11e5-94b7-d3d502700d6c.png)

When this happened, I was not taken to PayPal at all.

In the backend, there's no $0 payment recorded under Restrict > Payments.

On the member edit screen, the expiration date is correct and the status is correct, but no recurring and n

[2016-03-11 18:59] mindctrl commented on #361
Oh, that was Standard, not sure if that's going to matter or not. Will test Pro/Express.

[2016-03-11 19:26] mindctrl commented on #361
Same thing happens with Express. Here's the flow.

If a discount code is used that causes the total to be $0, there is never a subscription created in PayPal. The user stays on the site, and a single-term non-recurring subscription is created. No payment is logged in RCP.

![image](https://cloud.githubusercontent.com/assets/1254870/13713044/ff814d3c-e794-11e5-9bed-19c8fa8b9f19.png)

However, if a

[2016-03-11 20:02] pippinsplugins commented on #361
Not going to PayPal is actually the intended behavior there, but there are some incorrect things happening:

1. The gateway select field should go away
2. The auto renew option should go away.

@tannerm Could you take a look?

[2016-03-11 21:01] tannerm commented on #361
Thanks @pippinsplugins, that's what I was thinking. Yeah, I'll look into those two issues.

[2016-03-11 21:27] michaelbeil commented on #362
When checked out on master branch of RCP an d with WPAU active:

 I can confirm that when a non-approved (but registered) user attempts to view a page with no restrictions, they are shown `Your account is pending verification by a site administrator`.

`release/2.5` fixes this with the addition of #379.

[2016-03-12 00:28] tannerm commented on #361
@pippinsplugins @mindctrl I just pushed up fixes for the two bugs Pippin outlined.

[2016-03-12 00:29] pippinsplugins commented on #362
Good deal!

[2016-03-12 00:29] #362 closed

[2016-03-12 00:31] tannerm commented on #298
@pippinsplugins I have not been able to test this very well with PayPal, but the issue is resolved with Stripe and I'm pretty sure PayPal is good too.

[2016-03-12 04:24] tannerm commented on #279
@kaizau I am working on fixing this issue and I have not been able to replicate it. Can you share the steps to recreate it?

[2016-03-12 20:21] tannerm opened #390 "Initial payment not being processed or recorded for PayPal Pro"
PayPal Pro is not using 'INITAMT' for signup and so the initial payment is being ignored. On the webhook side of things PayPal is only listening for "recurring_payment" and is not recording when "recurring_payment_profile_created" happens.

[2016-03-12 21:35] tannerm commented on #242
I've Updated member renewal to sync with Stripe in #388.

[2016-03-12 21:36] tannerm commented on #390
Fixed in #388

[2016-03-12 21:37] tannerm commented on #229
I've fixed this in #388.

[2016-03-12 21:41] tannerm opened #391 "PayPal is Not processing Discounts or Proration."
PayPal Express and Pro transactions do not seem to be acknowledging proration or discounts.

[2016-03-13 01:21] pippinsplugins commented on #361
@mindctrl Could you please test again?

[2016-03-13 01:22] pippinsplugins commented on #298
:+1:

[2016-03-13 01:26] pippinsplugins commented on #242
Excellent!

[2016-03-13 01:27] pippinsplugins commented on #390
Looks good.

[2016-03-13 01:28] pippinsplugins commented on #391
@tannerm Is this only with the new discounts / proration or were you seeing this in `master` too?

[2016-03-14 18:17] carter2422 opened #392 "Admin Subscription Levels page is very slow on large sites"
On sites with large user databases the `Subscription Levels` page becomes incredibly unwieldy, likely due to counting members per level. For example, on [CG Cookie](https://cgcookie.com the page can often take upwards of 1-3 minutes to load on a highly tuned server. On lesser servers, such as our development server, the page times out completely after a few minutes.

This is also true for the `Mem

[2016-03-14 18:26] mindctrl commented on #330
@pippinsplugins when the global was changed, it broke the CSS. I fixed that, and went ahead and renamed the function to match.

[2016-03-14 18:29] pippinsplugins commented on #392
We could easily fix this by keeping a static count of the member counts for each subscription level. Anytime a member is added or removed from a level, we can increment / decrement the counts.

[2016-03-14 18:29] #330 closed

[2016-03-14 18:46] singram26 opened #394 "Free Subscription : Stripe still being called"
When attempting to create a free subscribed account through RCP form, I receive a "The card number is not a valid credit card number." error.

Credit card fields are not showing up because it is free.

Stripe returns: 402 Payment Required - with the following response:

    {
        "error": {
            "message": "The card number is not a valid credit card number.",
            "type": "card_e

[2016-03-14 18:48] pippinsplugins commented on #394
@singram26 Please go ahead and open a support ticket: http://restrictcontentpro.com/support

GitHub is for development tracking only.

[2016-03-14 18:48] #394 closed

[2016-03-14 20:21] mindctrl commented on #195
When upgrading from one membership to another, there are a few things that seem to be missing.

- No payment hits the Stripe side at all during an upgrade. The customer's subscription plan is updated, and the next (upcoming) invoice looks right, but no payment is sent over for the prorated amount.
- Under Restrict > Payments, the second payment doesn't show up in the list. Only the first.
- Under

[2016-03-14 20:24] pippinsplugins commented on #195
@mindctrl Could you please repeat those tests with a monthly subscription?

[2016-03-14 20:39] mindctrl commented on #195
@pippinsplugins seeing same thing on monthly.

[2016-03-14 20:58] pippinsplugins commented on #195
@tannerm Any feedback you can lend here?

[2016-03-14 21:10] tannerm commented on #195
@pippinsplugins @mindctrl interesting. I'll look into it this evening.

[2016-03-15 14:45] carter2422 opened #395 "$is_recurring does not get enabled on late, successful payment"
If a user's subscription temporarily lapses due to a failed payment and then is reactivated a day or more past their normal renewal date when the payment succeeds then they are correctly set to `Active`. However, `is_recurring` does not get set.

This then becomes a problem because it then appears to the user they no longer have a recurring subscription and they are not able to cancel their accoun

[2016-03-15 15:15] pippinsplugins commented on #395
@mindctrl could you dig into this?

[2016-03-15 16:41] tannerm commented on #391
@pippinsplugins I haven't tested with master yet, but I didn't see any code that would process discounts. So I'm assuming the issue is on master too.

[2016-03-15 18:19] tannerm commented on #195
@pippinsplugins @mindctrl I am seeing that the user notes are not updated correctly when upgrading. But I am seeing that all of the upgrade payments are recorded in both RCP and Stripe.

[2016-03-15 18:24] pippinsplugins commented on #195
@mindctrl were you testing on a live or local site?

[2016-03-15 18:59] mindctrl commented on #195
@pippinsplugins @tannerm I was testing on a live site. I'll do more testing today and tomorrow.

[2016-03-15 19:02] pippinsplugins commented on #195
@tannerm Could you post your exact subscription level set up so John can replicate with same settings?

[2016-03-15 19:18] pippinsplugins commented on #391
The discount is set during registration and then passed on to the gateway. As long as the gateway is using the price fed in from the registration handling, the discount is accounted for.

[2016-03-16 20:51] michaelbeil commented on #330
I noticed the CSS was wrecked too. All fixed.

[2016-03-16 21:19] tannerm commented on #195
@pippinsplugins @mindctrl I ran the test by registering a new user for a Daily account ($5) and then upgraded to a Monthly account ($30 with $15 fee).

Sorry about the delay this week. I feel like I'm running in 100 different directions.

[2016-03-17 15:51] pippinsplugins commented on #195
Test results for a brand new user that then goes through upgrades.

1. Registered new account and purchased Bronze at $10 per month:
![screen shot 2016-03-17 at 10 41 16 am](https://cloud.githubusercontent.com/assets/1034109/13851603/d5e4fc20-ec2c-11e5-8c0d-7628a1dd013c.png)
![screen shot 2016-03-17 at 10 41 28 am](https://cloud.githubusercontent.com/assets/1034109/13851602/d5e1a5d4-ec2c-11e5-812d

[2016-03-17 15:54] pippinsplugins commented on #195
Looks like we need to update the customer's description when they upgrade as well:
![screen shot 2016-03-17 at 10 53 57 am](https://cloud.githubusercontent.com/assets/1034109/13852071/9a763c1a-ec2e-11e5-81bf-0b102ec78e40.png)

[2016-03-17 16:05] pippinsplugins commented on #195
User description and meta data taken care of now.

@tannerm Could we get screenshots of your tests?

[2016-03-17 16:11] pippinsplugins commented on #195
I'm pretty sure that we have to manually add the invoice to the customer when changing plans. Here's Stripe's description of the `prorate` option:

[2016-03-17 16:13] pippinsplugins commented on #195
Looks like there are two ways to do this:

1. Pass `prorate` as `true` and let Stripe do the calculation. If we do that, we have to ensure that our proration calculation matches up with Stripe.

2. Manually invoice the customer during an upgrade for the `Total Today`.

[2016-03-17 16:48] tannerm commented on #195
@pippinsplugins @mindctrl Here's a screencapture of the upgrade paths. https://www.dropbox.com/s/gmogv55qfl5oqov/UpgradePaths.mp4?dl=0

[2016-03-17 16:54] pippinsplugins commented on #195
Something of note: I'm pretty sure this mainly happens when upgrading subscription levels that have the same term. I'm going monthly to monthly, so the only thing changing is the amount per month. Take note of this from the Stripe API:

[2016-03-17 17:02] pippinsplugins commented on #195
Aha! That's absolutely it.

When upgrading between levels that have a different interval (daily > monthly for example), the upgrade charge is paid immediately.

When upgrading between levels that share the same interval ( $10 /monthly > $20 / monthly ), the upgrade charge is not paid until the next invoice date.

I *think* that's okay but it means we will need to adjust the `Total Today` field to

[2016-03-17 17:04] pippinsplugins commented on #304
This is all working really well. A few minor items to address over on #195 but otherwise good to go.

[2016-03-17 17:04] #304 closed

[2016-03-17 17:04] pippinsplugins commented on #327
@mindctrl Do you just mean showing the discount code as the last item in the list?

[2016-03-17 17:16] pippinsplugins commented on #195
There are some important notes regarding subscription cancellations for accounts that upgrade between subscription levels with the same interval. Since the upgrade cost is added to the next invoice as `pending invoice items`, it is important to know what the two cancellation options do.

1. If the `Immediately` option is used, the pending invoice items are removed.
2. If the `At period end` option

[2016-03-17 17:37] tannerm commented on #195
Dang.

What if instead of "upgrading" we cancel the existing subscription and then start a new one? We may have to get fancy with the starting date.

[2016-03-17 17:38] pippinsplugins commented on #195
@tannerm That should work fine. That's how we treat it in EDD Recurring Payments.

[2016-03-17 17:39] michaelbeil commented on #195
When upgrading from a monthly to another monthly, the next invoice is set just fine, but there is not a pending invoice item as Pip mentioned.

![screen shot on 2016-03-17 at 12-32-21](https://cloud.githubusercontent.com/assets/4752949/13855185/1bb54f24-ec3d-11e5-9af3-ddc2992d2c1d.png)

After cancellation, the next invoice is cancelled:
![screen shot on 2016-03-17 at 12-37-06](https://cloud.github

[2016-03-17 17:46] pippinsplugins commented on #195
Good; definitely confirmed the behavior.

[2016-03-17 17:48] mindctrl commented on #327
@pippinsplugins Sorry for the confusion. It's tightly coupled with #195.

I meant calculating the discount after proration. Signup fees are being negated due to order of calculations.

Without a proration in effect, discount is calculated on the base sub price and leaves the signup fee intact:
![image](https://cloud.githubusercontent.com/assets/1254870/13855419/c317a006-ec46-11e5-8b58-2ed36486c7b0

[2016-03-17 18:05] tannerm commented on #195
@pippinsplugins yeah, I'm seeing this also when upgrading to a subscription level with the same term.

[2016-03-17 18:17] carter2422 commented on #304
:tada:

[2016-03-17 18:24] michaelbeil commented on #195
Has anyone tested upgrading a sub that has a varied access level? I am not seeing a proration on the display.
![slack-imgs](https://cloud.githubusercontent.com/assets/4752949/13856537/a262fb24-ec43-11e5-8c38-ab4186d905c9.png)

[2016-03-17 19:01] michaelbeil commented on #195
Ok, so the proration does not display when auto-renew is checked on the first transaction in VVV for me. Testing further.

[2016-03-17 19:05] michaelbeil commented on #195
Alright. Need to set up a live site cause my webhook was failing.

[2016-03-17 19:16] tannerm commented on #195
@michaelbeil  Or use ngrok... works like a charm for local development

[2016-03-17 23:23] michaelbeil commented on #368
Was just going to share this too and then thought I remembered there being an issue. I have just confirmed here that last week is not working.

[2016-03-18 16:17] #298 closed

[2016-03-18 16:17] #242 closed

[2016-03-18 16:17] #390 closed

[2016-03-18 16:17] #229 closed

[2016-03-18 16:21] #357 closed

[2016-03-18 16:22] pippinsplugins commented on #361
Working for me.

[2016-03-18 16:22] #361 closed

[2016-03-18 16:23] pippinsplugins commented on #257
Going to merge in for more thorough testing.

[2016-03-18 17:29] pippinsplugins commented on #257
Working beautifully.

[2016-03-18 17:39] pippinsplugins commented on #327
@mindctrl Try it again now?

[2016-03-18 17:49] pippinsplugins commented on #317
Duplicate of #230

[2016-03-18 17:49] #317 closed

[2016-03-18 18:20] pippinsplugins commented on #230
This is ready for testing!

Note: Stripe and Stripe checkout only.

[2016-03-18 18:21] pippinsplugins opened #398 "Add methods for updating cards to PayPal Pro"
We need to support updating customer's card in 2Checkout and PayPal Pro.

[2016-03-18 19:11] pippinsplugins commented on #195
@michaelbeil it depends on the payment record being recorded. Another way to test locally is to just manually create the payment after registration.

[2016-03-18 19:18] michaelbeil commented on #327
All seems to work well now when upgrading with a discount with a proration credit.

- Upgraded from a 5 dollar daily subscription to a 30 dollar monthly subscription.
- Applied a 50% OFF discount code
- $30 - $5 = $25; $25 / 2 = $12.50
- All is good

![screen shot 2016-03-18 at 2 07 28 pm](https://cloud.githubusercontent.com/assets/4752949/13889207/40527ccc-ed13-11e5-85a2-4c1db17f494d.png)

- Howe

[2016-03-18 19:45] pippinsplugins commented on #257
The email address is not getting populated when signing up from the `[register_form]` shortcode.

[2016-03-18 19:45] michaelbeil commented on #257
It is not for me here, either.

[2016-03-18 19:46] pippinsplugins commented on #195
I just about have pro-ration working properly when moving between subscription levels with the same interval.

[2016-03-18 19:46] pippinsplugins commented on #195
Other issue I just noticed. When signing up for a lifetime plan, the `auto renew` option still shows:
![screen shot 2016-03-18 at 2 46 08 pm](https://cloud.githubusercontent.com/assets/1034109/13890208/41a7b1dc-ed18-11e5-9b92-2b580b31313c.png)

[2016-03-18 19:52] pippinsplugins commented on #195
Ok upgrading / downgrading between levels of the same interval works properly for me now!

@mindctrl @michaelbeil can you both confirm?

[2016-03-18 20:12] michaelbeil commented on #195
Confirmed here: ![screen shot 2016-03-18 at 3 12 31 pm](https://cloud.githubusercontent.com/assets/4752949/13890896/db3b5756-ed1b-11e5-9097-e935f446773d.png)

[2016-03-18 20:17] pippinsplugins commented on #257
Fixed.

[2016-03-18 20:17] pippinsplugins commented on #195
@michaelbeil Confirmed as in it works properly now?

[2016-03-18 20:24] michaelbeil commented on #195
Confirmed, as in my-computer-did-not-blow-up-and-all-worked-well, kinda confirmed :smile:.

[2016-03-18 20:32] pippinsplugins commented on #195
Does it show the proper payments and amounts in Stripe as well?

[2016-03-18 20:34] pippinsplugins commented on #327
Those amounts look correct to me.

50% off a $30 subscription would be $15 per month since the pro-rations and signups fees only apply to the first payment.

$30 + $2 signup - $5 proration = $27
50% of $27 = $13.5

That all seems correct to me. Yes? No?

[2016-03-18 20:45] michaelbeil commented on #195
Oh, you know what, the proration credit is not showing, hmm.

![screen shot 2016-03-18 at 3 34 19 pm](https://cloud.githubusercontent.com/assets/4752949/13891478/4e265ee8-ed1f-11e5-8ccf-413e0ef496ed.png)

No proration credit was shown on the membership area, either.

[2016-03-18 20:50] pippinsplugins commented on #195
Test with a brand new user and do this:

1. Purchase $10 per month subscription. Should show $10 payment in RCP and $10 in Stripe and $10 / per month subscription in Stripe.
2. Go back to registration and purchase $20 per month subscription. Should show $10 in RCP and $10 in Stripe with $20 per month subscription.

Is that what you get?

[2016-03-18 20:57] mindctrl commented on #327
@pippinsplugins are discount codes supposed to discount signup fees?

![image](https://cloud.githubusercontent.com/assets/1254870/13891918/82effd7c-ed2a-11e5-989b-255cf1e6b19c.png)

[2016-03-18 20:59] pippinsplugins commented on #327
@mindctrl ugh I don't know. What do you guys  think? Yes? No? Either could be valid.

[2016-03-18 21:00] michaelbeil commented on #327
Well, if a site admin is using a signup fee as a guaranteed amount, then my vote would be no. Discount codes should only be valid for the subscription.

[2016-03-18 21:03] michaelbeil commented on #327
I wonder if we should display the discount code row below the signup fee and proration credit rows, above the total?

[2016-03-18 21:04] mindctrl commented on #327
I tend to think of signup fees as something that covers administrative costs for setting up an account, or something like that. In that case, I vote they should not be discounted. Maybe a filter, or happy to hear other thoughts from others on this issue.

[2016-03-18 21:11] michaelbeil commented on #195
Negative.

![screen shot 2016-03-18 at 4 11 17 pm](https://cloud.githubusercontent.com/assets/4752949/13892249/12872408-ed24-11e5-9abe-b2b3ae628c27.png)
https://cloudup.com/cApiDjMGTx0

[2016-03-18 21:12] pippinsplugins commented on #327
Let's make signup fees not get discounted.

[2016-03-18 21:13] michaelbeil commented on #195
Retesting ...

[2016-03-18 21:14] pippinsplugins commented on #195
@mindctrl do you get the same results?

[2016-03-18 21:15] michaelbeil commented on #195
I just re-pulled and it looks like I was missing some stuffs.

[2016-03-18 21:24] michaelbeil commented on #195
Hmm ... still getting the same results.

[2016-03-18 23:21] michaelbeil commented on #327
Perhaps we can add a `$prorations` variable in `class-rcp-registration.php` and remove a signup fee from a recurring upgrade.

The discount code also applies to recurring subs, which seems odd.

[2016-03-21 16:26] #395 closed

[2016-03-21 16:32] mindctrl commented on #308
@pippinsplugins this just needs to be tested to make sure updates and licensing work as expected? anything else to look for?

[2016-03-21 16:33] pippinsplugins commented on #308
Not ready. I have to make some changes to it. This version is expecting the plugins to be distributed through pippinsplugins.com. We've moving them to restrictcontentpro.com

[2016-03-21 16:57] pippinsplugins commented on #308
Ok this should be ready as soon as the RCP site gets its SSL cert installed later today.

[2016-03-21 17:30] pippinsplugins opened #401 "Set updater class to use restrictcontentpro.com"
With the release of 2.5, we're moving the sales of Restrict Content Pro to restrictcontentpro.com so we need to update the updater class to use the proper URL and download ID.

[2016-03-21 20:09] #401 closed

[2016-03-21 20:19] #302 closed

[2016-03-21 20:23] pippinsplugins commented on #195
I just did this again and it all worked properly for me.

@michaelbeil Are you on the `release/2.5` branch or the old issue branch?

[2016-03-21 20:29] pippinsplugins commented on #327
@mindctrl @michaelbeil try now please:
![screen shot 2016-03-21 at 3 28 48 pm](https://cloud.githubusercontent.com/assets/1034109/13933129/a559e0ca-ef79-11e5-99c5-84e89e0c6b1d.png)

[2016-03-21 20:33] pippinsplugins commented on #230
Had a quick discussion about this with @mindctrl and debated whether we should go ahead and structure the data such that it supports multiple payment gateways / subscriptions.

For now I think I'm going to leave it as is, simply because it will be trivial to update / change it later if necessary.

[2016-03-21 20:34] pippinsplugins commented on #230
Merged and closing. Re-open if you notice anything.

[2016-03-21 20:34] michaelbeil commented on #230
Sounds good.

[2016-03-21 20:41] michaelbeil commented on #327
That is the exact fix I had locally. Looks good here.

I think we should address discounts on recurring subscriptions as well. Do we want discounts to be used on future payments?

[2016-03-21 20:48] pippinsplugins commented on #327
Discounts has always been setup to work on recurring. That will be a future change.

[2016-03-21 20:50] michaelbeil commented on #327
Ok, yea. I knew that discounts were already setup that way, but wanted to check into a future change, wherein a member only receives a discount on the first payment.

[2016-03-21 20:53] pippinsplugins commented on #327
I want to add an option for it but that's out of scope for this issue / release.

[2016-03-21 20:54] michaelbeil commented on #327
Alright. Sounds like a plan. This seems good to go here.

@mindctrl ?

[2016-03-21 20:56] mindctrl commented on #230
Re-opening after a quick chat with @pippinsplugins. Already had this written. Also updated the HTML to avoid duplicate IDs if looping through multiple gateways / subscriptions in the future.

[2016-03-21 20:58] mindctrl commented on #327
@michaelbeil does this still discount the signup fee?

[2016-03-21 21:00] #230 closed

[2016-03-21 21:00] pippinsplugins commented on #230
Thanks @mindctrl !

[2016-03-21 21:01] pippinsplugins commented on #327
No, signup fee is not discounted.

[2016-03-21 21:01] michaelbeil commented on #327
No, it is not.

[2016-03-21 21:24] mindctrl commented on #327
I see this during upgrades.

![image](https://cloud.githubusercontent.com/assets/1254870/13934683/c2e62a30-ef89-11e5-8ae2-18a1bb18c467.png)

[2016-03-21 21:51] pippinsplugins commented on #327
Grrr . . . . This is being a pain :P

[2016-03-21 21:55] michaelbeil commented on #327
John and I were having mad fun with this on Friday night.

Should we add a $proration method to the class?

[2016-03-22 00:28] pippinsplugins commented on #327
Maybe. I'll dig in more and see what I can find.

[2016-03-22 00:30] pippinsplugins commented on #195
Something else we need to take care of: automatically cancelling existing subscriptions for customers when they are upgrading / downgrading.

[2016-03-22 01:41] pippinsplugins commented on #195
We need to test this with all gateways now:
- Stripe
- Stripe Checkout
- PayPal Standard
- PayPal Express
- PayPal Pro
- 2Checkout

One issue I think we might see with PayPal but I haven't confirmed is members getting marked as cancelled after upgrading their account due to the IPN that is processed when their previous subscription is cancelled.

[2016-03-22 03:23] pippinsplugins commented on #195
I believe cancellations in all gateways is now working properly when upgrading subscription levels.

[2016-03-22 17:27] michaelbeil commented on #195
I was on `release/2.5` when testing. I am checking again today.

[2016-03-22 20:11] michaelbeil opened #405 "Remove restrictions after a set period of time or on a specific date"
**Proposal**: Make posts restricted for a set period of time only, after which they'd be unrestricted.

[2016-03-23 14:25] mindctrl opened #406 "Improve the upgrade routine system"
We need to improve the upgrade routine code to be similar to what's in AffWP and/or EDD.

While we're doing that, we can remove the duplicate check for `rcp_payments_db_version` here: https://github.com/restrictcontentpro/restrict-content-pro/blob/2.4.11/includes/upgrades.php#L12-L17

[2016-03-23 16:19] michaelbeil opened #408 "Update links in readme.md"
- Travis badge
- https for restrictcontentpro.com

[2016-03-23 16:51] #408 closed

[2016-03-23 18:50] pippinsplugins commented on #405
I'd like to see this, though it will likely need to be a pro add-on.

[2016-03-23 18:52] michaelbeil commented on #405
Sounds like a plan.

[2016-03-23 20:35] mindctrl commented on #405
Tracking this here: https://trello.com/c/U73jpIg5/33-remove-restrictions-after-a-set-period-of-time-or-on-a-specific-date

[2016-03-23 20:35] #405 closed

[2016-03-23 20:46] michaelbeil commented on #405
beat me to it.

[2016-03-23 22:12] mindctrl commented on #257
@pippinsplugins @tannerm seeing some things with this I didn't notice earlier.

When Auto Renew is configured as "Let customer choose", the signup fee is not charged at all.

![image](https://cloud.githubusercontent.com/assets/1254870/14001500/8d0946ce-f11c-11e5-8c31-a6ab1c47bd11.png)

---

![image](https://cloud.githubusercontent.com/assets/1254870/14001525/ba590c5e-f11c-11e5-9b25-1c3aa42c93fa.pn

[2016-03-24 01:35] pippinsplugins commented on #257
Good testing!

I'll work on addressing these tomorrow.

[2016-03-24 16:12] mindctrl commented on #257
I'm going to have to retest the ones with "Platinum Grill" involved. I had the price and signup fee backwards.

[2016-03-24 16:38] pippinsplugins commented on #257
I'm not sure we can really support pro-ration on stand alone Stripe checkout.

Anyone opposed to disabling it automatically for users with an active subscription? They can be forced to go through the standard registration form for upgrades. We can have it documented.

[2016-03-24 16:41] pippinsplugins commented on #257
To address:

- [ ] Signup fees seem to only be charged when Auto Renew is set to Always.
- [ ] Signup fees are not reflected in the price on the button in the popup.
- [ ] When going from one subscription to another, the only charge is the signup fee. The subscription price is not billed.
- [ ] If you're crazy enough to purchase the same subscription you already have, you get charged for the signu

[2016-03-24 18:07] mindctrl commented on #257
I'm not opposed to disabling Checkout for active subscribers.

What do you think about moving this into the existing [register_form] shortcode and make it an attribute instead of a whole new shortcode? That would make it much less confusing for site owners I think. Another benefit would be if someone disables Stripe, they don't have to change their shortcodes. We can simply go straight to the regi

[2016-03-24 18:12] michaelbeil commented on #257
Quoting @mindctrl regarding a register_form Stripe Checkout attribute:

[2016-03-24 18:15] michaelbeil commented on #257
Re @pippinsplugins:

- [x] Not opposed
- [ ] Opposed

[2016-03-24 19:42] pippinsplugins commented on #257
I rather like having two short codes actually because they are quite different experiences.

The `[register_form]` shortcode supports both regular Stripe (with the full card input fields) and Stripe Checkout.

The `[register_form_stripe]` is only Stripe.

So why a separate form for Stripe only? Simple: it's a completely different experience. With the standard `[register_form]` shortcode, customers

[2016-03-24 19:48] pippinsplugins commented on #327
Ready for another test. Should work like this:

1. Grab base price --> $20
2. Subtract proration credits --> $20-$10 === $10
3. Subtract discount codes --> 50% ... $10/2 === $5
4. Add signup fees --> $5 + $1 === $6

[2016-03-24 19:55] pippinsplugins commented on #257
Regarding this issue:

Signup fees have never been charged on non-recurring purchases, mostly because the idea of a signup fee + onetime purchase is a bit odd. Probably ways to handle it but I'd say that's outside the scope of this issue since it has always been that way and it is that way in all gateways.

I propose that we force stand alone Stripe Checkout to use auto renew if the auto renew set

[2016-03-24 20:03] pippinsplugins commented on #257
Ok auto renew behavior should work as expected now.

[2016-03-24 20:03] michaelbeil commented on #257
- [x] on signup fees. that is another behemoth to tackle later.

So, Stripe Checkout would always auto renew, unless auto renew is unchecked?

[2016-03-24 20:30] pippinsplugins commented on #257
The stand alone Stripe Checkout form, yes.

[2016-03-24 20:31] michaelbeil commented on #257
Makes perfect sense.

[2016-03-24 20:43] pippinsplugins commented on #257
@mindctrl Could you test the last three bullet points again? I'm not sure they still apply.

[2016-03-24 22:45] mindctrl commented on #195
Talked about it in Slack, but there are times where upgrading causes the new membership to be cancelled because we cancel the first subscription, and apparently the order the webhooks come in isn't consistent.

[2016-03-24 23:13] pippinsplugins commented on #195
^ should fix the erroneous cancellations.

[2016-03-24 23:15] pippinsplugins commented on #195
Doh, didn't mean to commit the includes/shortcodes.php changes.

[2016-03-24 23:19] pippinsplugins commented on #257
Instead of showing the Stripe Checkout button: https://cloudup.com/cQPXBWExISN

[2016-03-25 01:11] pippinsplugins commented on #195
Pretty sure we're done with this now.

[2016-03-25 01:12] pippinsplugins commented on #257
Pretty sure we're done with this now.

[2016-03-25 01:12] pippinsplugins commented on #327
Pretty sure we're done with this now.

[2016-03-25 01:12] pippinsplugins commented on #308
Pretty sure we're done with this now.

[2016-03-25 16:11] mindctrl opened #411 "Editing a discount causes a new discount to be created in Stripe"
When editing an existing discount, the discount isn't updated in Stripe. Instead, a new discount is created whose code is the ID of the discount in RCP.

For example, in RCP:
Discount code: 50PERCENT
Discount ID: 19

If I edit that discount code and make any adjustments, such as changing the description, a new code is created in Stripe named "19". The 50PERCENT code in Stripe is not updated.

[2016-03-25 19:59] #308 closed

[2016-03-28 13:51] pippinsplugins opened #413 "Link payment transaction IDs to charge page in merchant"
To help with refund processing, it would be great to have the transaction IDs on the payment details screen be linked to the charge details page in the merchant processor.

[2016-03-28 16:04] pippinsplugins commented on #195
This is now live on pippinsplugins.com. If no problems are noticed by tomorrow evening, we will close this.

[2016-03-28 19:44] mindctrl opened #414 "Improve settings descriptions"
In some places, the settings descriptions can be improved to help customers better understand how something works.

For example, the `Reminder Period` description doesn't make it clear that the Expiring Soon email isn't sent to members with auto-renewing subscriptions. We just had a ticket about this.

There may be others, so I'm generalizing the issue so we can give them all a good look.

Possibl

[2016-03-28 19:45] pippinsplugins commented on #414
:+1:

[2016-03-28 23:45] pippinsplugins commented on #195
@mindctrl I've replicated the cancelled email / status issue you had during upgrades.

[2016-03-28 23:46] michaelbeil commented on #195
on what gateway?

[2016-03-28 23:46] pippinsplugins commented on #195
Stripe and 2Checkout.

[2016-03-28 23:47] michaelbeil commented on #195
ok.

[2016-03-28 23:53] pippinsplugins commented on #195
Found a small issue in Stripe. The coupon code was getting applied to the customer globally instead of just to the subscription, so a coupon applied through RCP could accidentally get applied to subscriptions created in other systems. Unlikely but possible. Fixed.

[2016-03-28 23:56] pippinsplugins commented on #195
We have a problem in Stripe. It is now subscribing customers to a subscription even when auto renew is NOT checked.

[2016-03-28 23:57] pippinsplugins commented on #195
Wait, that's only with Stripe Checkout.

[2016-03-28 23:58] pippinsplugins commented on #257
Stripe Checkout is not properly supporting the `Auto Renew` checkbox on the registration page.

[2016-03-28 23:58] michaelbeil commented on #195
ok. i will be back in a half hour to test further.

[2016-03-29 00:00] pippinsplugins commented on #195
Fixed, see #257

[2016-03-29 00:02] pippinsplugins commented on #257
Fixed.

[2016-03-29 00:04] pippinsplugins commented on #195
One time payments through Stripe do not work with pro-rations.

[2016-03-29 00:04] pippinsplugins commented on #195
I suspect it's because of the lack of support for fees. We'll need to account for that.

[2016-03-29 00:41] michaelbeil commented on #195
Good find.

[2016-03-29 01:28] pippinsplugins commented on #195
Signup fees now work for one-time payments in all gateways (pending final testing).

[2016-03-29 01:47] pippinsplugins commented on #327
`Total Recurring Per {period}` should not show on 100% discount codes.
![screen shot 2016-03-28 at 8 46 18 pm](https://cloud.githubusercontent.com/assets/1034109/14095463/302d3e5c-f526-11e5-83c0-d8ac844aa2e9.png)

[2016-03-29 02:03] #327 closed

[2016-03-29 02:44] pippinsplugins commented on #257
Stripe Checkout fails when `id` is passed to `[register_form]` like `[register_form id="2"]`. It generates a javascript error.

[2016-03-29 02:51] #257 closed

[2016-03-29 03:33] pippinsplugins commented on #195
Pretty sure I've resolved the issue with accounts sometimes getting marked as cancelled and the cancelled notification getting sent to site admins during upgrade.

[2016-03-29 18:51] #391 closed

[2016-03-29 18:52] #195 closed

[2016-03-30 18:51] madvik opened #417 "Cannot change <li> for subscription levels in register.php to different HTML tag"
Hello,
In file `templates/register.php` at line 66.
Why when we change the `<li>` by `<div>`, the process don't work with this message:
`Missing Stripe token, please try again or contact support if the issue persists.`
I don't found and understand this problem.

Thanks

[2016-03-30 22:23] jmarx opened #418 "Issues with prorates over $1000"
Hey guys,
I don't have time right now to send you a bunch of screengrabs.
But i'll lay it out.

I have two subs.
1 for 1000
1 for 1200

I sign up for the 1000.
Upgrade to 1200
Expected result: I get charged 200
Actual result: I get charged 1200

Lower amounts still work as expected.
Here is a screengrab of my prorate screen. This is on a raw version of wp and your plugin.
Can you guys
<img width="

[2016-03-30 22:27] michaelbeil commented on #418
For any support-related questions, we ask that you send a ticket to https://restrictcontentpro.com/support as we reserve this repository for development purposes.

[2016-03-30 22:27] #418 closed

[2016-03-31 04:59] madvik commented on #417
It is not a support question, it' is a bug report !
I test on a fresh environement, just change this tag and the process failed !

[2016-03-31 11:18] mindctrl commented on #186
If we want to backfill dates, depends on https://github.com/restrictcontentpro/restrict-content-pro/issues/406.

[2016-03-31 13:23] mindctrl commented on #186
Might want to do this after https://github.com/restrictcontentpro/restrict-content-pro/issues/103 too.

[2016-03-31 14:29] pippinsplugins commented on #417
@madvik Can you show me the exact changes you made? Our Javascript (currently) relies on some very specific HTML structure, so changing it too much can break it.

[2016-03-31 15:26] pippinsplugins commented on #186
:+1:

[2016-03-31 16:43] pippinsplugins opened #419 "Remove description column from pricing table for subscription levels"
A customer pointed out today that the `description` column in the pricing table of the registration form is a bit unnecessary and causes display issues:
![screen shot 2016-03-31 at 11 42 37 am](https://cloud.githubusercontent.com/assets/1034109/14183397/ce49840e-f735-11e5-96b7-38d1f85124b5.png)

I propose we remove it. Any objections?

[2016-03-31 17:29] jmarx opened #421 "Issues with prorates over $1000 - Have a PR this time"
Please don't immediately close this. It is a real issue and I have a PR.

Any amount over 1000$ is not getting calculated properly when assigning the prorate credit.

Every time I upgrade from anything over $1000, the prorate credit gets knocked down to  -1.

Because a string "-1,000" is being sent through all your processing functions which ignore everything after the comma.

The "number_format"

[2016-03-31 17:31] michaelbeil commented on #421
Thanks for letting us know :smile:. We will test the PR and get back to you.

[2016-03-31 17:34] michaelbeil commented on #421
Related: #418

[2016-03-31 17:49] jmarx commented on #421
Looks like the purpose of number_format is to make the number look pretty for display. But in the proration credit slot I'm not sure that is a big deal. The final number still gets formatted properly it looks like.

[2016-03-31 20:09] pippinsplugins commented on #421
`number_format()` would definitely be problematic here. We'll test further and merge in if it resolves it for us. Thanks!

[2016-03-31 20:40] madvik commented on #417
In file templates/register.php at line 66 in original version:
[code]

And when I want to customize:
[code]
It failed.

Here a complete customize (for information):
[code]

[2016-03-31 22:21] michaelbeil commented on #220
a request here: https://secure.helpscout.net/conversation/187523421/31167/?folderId=841776

[2016-03-31 22:24] michaelbeil commented on #220
Would creating a multisite constant that can be defined in wp-config, similar to how AWP shares data between all subsites, be a feasible approach to make this happen?

[2016-03-31 22:25] pippinsplugins commented on #220
Yes. I'd like to have a constant.

[2016-03-31 22:32] michaelbeil commented on #220
For future use: https://github.com/AffiliateWP/AffiliateWP/search?utf8=%E2%9C%93&q=AFFILIATE_WP_NETWORK_WIDE

[2016-04-01 14:53] pippinsplugins commented on #392
@carter2422 Could you give branch `issue/392` a try?

I'm pretty sure there are a few edge cases that will cause member counts to get off, so need to find those and account for them.

I also want to add a tool for recounting member counts.

@mindctrl thoughts and testing too?

[2016-04-02 03:42] michaelbeil opened #422 "Failure notice when card is refused"
When a legitimate card gets refused by a bank or payment gateway (possibly anti-fraud or insufficient funds). It'd be great to throw some notices on the registration form to the potential customer. Otherwise, this screen is shown:

<img width="796" alt="cloudup-de4287dd-bcba-4046-905c-ac93de7cdc1d" src="https://cloud.githubusercontent.com/assets/4752949/14224221/57e103c0-f85a-11e5-8c41-77277a9a8b4

[2016-04-04 01:34] pippinsplugins opened #423 "Nav menus cannot be saved"
When RCP is activated, core navigation menus cannot be saved. It shows a "Are you sure you want to do this?" error instead of saving.

[2016-04-04 01:35] #423 closed

[2016-04-04 14:22] mindctrl commented on #341
We introduced a bug here where products hidden in the catalog get restricted.

This option:
![image](https://cloud.githubusercontent.com/assets/1254870/14251072/300e66f2-fa4f-11e5-9aca-ab7174ce6e1d.png)

[2016-04-04 14:23] pippinsplugins commented on #341
@mindctrl let's please open as a separate issue and milestone.

[2016-04-04 14:23] #341 closed

[2016-04-04 14:28] mindctrl opened #425 "WooCommerce products are improperly restricted when Catalog Visibility is Hidden"
We introduced a bug in #341 where products are restricted when the Catalog Visibility is set to Hidden.

![image](https://cloud.githubusercontent.com/assets/1254870/14251168/c5c44dc4-fa4f-11e5-85ea-1b8e45f13b41.png)

[2016-04-04 15:57] pippinsplugins commented on #417
Did you remove the DIV with an ID of `rcp_subscription_levels`? Changing `li` to `div` alone should not break it.

[2016-04-04 15:58] pippinsplugins opened #426 "Prorating amounts over 1,000 fails"
We return amounts through `number_format()` so any amount with three digits breaks because of the `,` added. Instead of formatting the values, we should just typecast them as floats.

[2016-04-04 15:58] pippinsplugins commented on #426
Potentially fixed in #420

[2016-04-04 15:58] pippinsplugins commented on #426
@mindctrl can you test the PR again?

[2016-04-04 16:15] madvik commented on #417
You mean this:
[code]
It don't work.

[2016-04-04 16:29] madvik commented on #417
I modify to this:
[code]
And it's dont' work.

[2016-04-04 16:33] mindctrl commented on #417
Probably this: https://github.com/restrictcontentpro/restrict-content-pro/blob/2.5/includes/gateways/class-rcp-payment-gateway-stripe.php#L574

[2016-04-04 16:47] madvik commented on #417
Thanks for the line code:
OK, so we are obliged to our templates have a <li> with <span rel = "price">

[2016-04-04 16:54] mindctrl commented on #417
@madvik we'll see if we can generalize this some. I do not recommend editing RCP files.

[2016-04-04 20:40] mindctrl commented on #426
@pippinsplugins #420 looks good here.

[2016-04-04 20:40] pippinsplugins commented on #426
Good deal :+1:

[2016-04-04 20:41] #426 closed

[2016-04-04 20:41] #421 closed

[2016-04-04 20:41] pippinsplugins commented on #421
Merged.

[2016-04-04 21:46] carter2422 commented on #392
Initially this seems to work well @pippinsplugins. I haven't had a chance to compare the counted members, though.

A **Recalculate Member Counts** tool would be useful.

[2016-04-04 21:57] pippinsplugins commented on #392
The main thing that needs tested is whether counts are maintained properly
with account activations, cancellations, explorations, etc

On Monday, April 4, 2016, Jonathan Williamson <notifications@github.com>
wrote:

[2016-04-05 00:47] jmarx commented on #426
Thanks!! :+1:

[2016-04-05 13:54] pippinsplugins commented on #392
Moving to 2.5.2 for further testing.

[2016-04-05 14:02] michaelbeil opened #427 "Modify user role when subscription starts/ends"
It would be nice to change the user role when a user pays for a subscription and when a subscription expires.

[2016-04-05 14:03] pippinsplugins opened #428 "Query merchant APIs when expiring members via cron to verify they should be expired"
In order to help prevent incorrect account expirations, we need to build a background process that automatically verifies accounts are actually expired in the merchant accounts before marking an account as expired.

This would happen (most likely) during the daily cron job that looks for expiring members.

By verifying accounts are expired in the merchant, we can better prevent erroneous expiratio

[2016-04-05 19:36] #425 closed

[2016-04-05 20:00] JamesGeiger opened #431 "Register with Email (no username)"
Please add the option to register with email and not a username.

Thanks.

[2016-04-05 20:49] #419 closed

[2016-04-05 21:10] pippinsplugins commented on #431
Thanks for the suggestion @JamesGeiger! We'll certainly consider adding it.

Note: you can register with just an email address if you use Stripe Checkout: http://docs.pippinsplugins.com/article/1249-stripe-checkout

[2016-04-06 16:40] michaelbeil opened #432 "Add Alipay as a supported payment gateway"
Alipay was recently added to EDD. Since Alipay is part of Stripe Checkout, let's add support.

https://stripe.com/docs/alipay

[2016-04-06 16:57] carter2422 commented on #432
That would be excellent!

[2016-04-06 18:02] RuiSantosdotme opened #433 "Stripe Checkout Doesn't Register the Payments Date"
RCP 2.5 with Stripe checkout is not registering the dates properly in the Restrict > Payments tab:
![stripeproblem](https://cloud.githubusercontent.com/assets/6280520/14329998/3f6cea36-fc36-11e5-9af8-c62fa15ad668.JPG)

It's submitting a NULL value, so it stores the epoch time.
I think the problem is on this line 402 or 406: https://github.com/restrictcontentpro/restrict-content-pro/blob/master/inc

[2016-04-06 18:03] RuiSantosdotme commented on #433
These are real transactions from my customers that have the date messed up.

[2016-04-06 18:07] pippinsplugins commented on #433
I'm pretty sure it is `get_date_from_gmt( $payment_date->format( 'c' ) )`.

I'll confirm shortly and fix.

[2016-04-06 18:35] mindctrl commented on #433
@RuiSantosdotme please restore some of the information in the original post so there's a good log of what the issue is.

[2016-04-06 19:21] pippinsplugins commented on #433
I've processed numerous renewal payments through Stripe in the last two weeks and have not seen this happen.

@RuiSantosdotme What's the PHP version on your site?

[2016-04-06 19:25] RuiSantosdotme commented on #433
Here's the version
![php](https://cloud.githubusercontent.com/assets/6280520/14329907/b28ae56e-fc35-11e5-9cbf-5a86ffe0abbb.JPG)

[2016-04-06 19:27] pippinsplugins commented on #433
That should be fine.

Can you please send me the event data from Stripe for one of  the renewal payments?