[2016-04-06 19:27] pippinsplugins commented on #433
@RuiSantosdotme Also, as noted by @mindctrl above, please do not delete the description of the original issue. That does not help us resolve your problem at all.

[2016-04-06 19:30] RuiSantosdotme commented on #433
I don't have any renewals. These are brand new paymenbts, because I've launched the website 4 days ago...

[2016-04-06 19:34] pippinsplugins commented on #433
Doesn't change the fact: they're recorded in the same way. Can you please show me the event data for the webhooks? Also what is the timezone set to your in your Stripe account and WordPress?

[2016-04-06 19:39] RuiSantosdotme commented on #433
Is this what you need for the Stripe Event Data?
![payment](https://cloud.githubusercontent.com/assets/6280520/14330233/83d48426-fc37-11e5-86fa-ab33df362230.JPG)

[2016-04-06 19:43] RuiSantosdotme commented on #433
Stripe timezone: WET/WEST - Lisbon
WordPress timezone: UTC+0

They don't match. Always something wrong with timezones...
They don't match...

[2016-04-06 19:50] pippinsplugins commented on #433
Set them so they match and the problem will almost certainly go away. They need to match.

[2016-04-06 19:52] RuiSantosdotme commented on #433
The daylight saving time was last week in Portugal. Portugal went from UTC+0 to UTC+1.

I'll make another purchase attempt in just a couple o minutes

[2016-04-06 20:00] tannerm opened #434 "Fix colspan for registration details table"
When the description was removed from the details table, the colspan for the Fee Description was left at 2.

https://www.dropbox.com/s/gp972msze29jwid/Screenshot%202016-04-06%2013.00.22.png?dl=0

[2016-04-06 20:02] RuiSantosdotme commented on #433
The timezones between stripe and wordpress match, but the error persists...

[2016-04-06 20:08] pippinsplugins commented on #433
What do you have them both set to now?

[2016-04-06 20:09] pippinsplugins commented on #434
Thanks!

[2016-04-06 20:09] #434 closed

[2016-04-06 20:15] RuiSantosdotme commented on #433
Stripe:
![stripe_timezone](https://cloud.githubusercontent.com/assets/6280520/14331263/7a8897b8-fc3c-11e5-83f5-ee8724734a23.JPG)
WordPress:
![wordpress_timezone](https://cloud.githubusercontent.com/assets/6280520/14331274/83b42802-fc3c-11e5-8697-8f44e6e9be76.JPG)
Purchase Attempt:
![purchase attempt](https://cloud.githubusercontent.com/assets/6280520/14331286/9126e2ae-fc3c-11e5-9191-e530e735aa75.J

[2016-04-06 20:59] mindctrl commented on #433
@RuiSantosdotme thanks. Does it work right if you set both to UTC?

[2016-04-06 21:11] RuiSantosdotme commented on #433
@mindctrl both on UTC, but same problem...

[2016-04-07 06:59] michaelbeil commented on #433
We will be resting this further @RuiSantosdotme.

[2016-04-07 14:15] pippinsplugins commented on #433
Just received another report of this, though only with some payments: https://secure.helpscout.net/conversation/189655848/31658/?folderId=223654

[2016-04-07 14:19] mindctrl opened #436 "Trailing zeros dropped from Total Today price"
If the total due today is, for example, $4.90, the price is displayed as $4.9.

![image](https://cloud.githubusercontent.com/assets/1254870/14354111/094ee5ca-fcaa-11e5-9b57-820d9f0d451c.png)

[2016-04-07 14:19] pippinsplugins commented on #433
@mindctrl Can you please test this with https://github.com/restrictcontentpro/restrict-content-pro/pull/437?

[2016-04-07 14:29] mindctrl commented on #433
Tested with UTC+2, UTC+12, and UTC-4. All worked great.

[2016-04-07 14:30] pippinsplugins commented on #433
Merged.

[2016-04-07 14:30] #433 closed

[2016-04-07 16:49] mindctrl opened #439 "Update rcp.pot language template"
Customer pointed out some strings are missing. Hasn't been updated in about 3 months.

[2016-04-07 21:10] slaFFik opened #440 "grunt build and generated zip archive name"
When you run `grunt build` grunt generates an archive with the name `restrict-content-pro-2.3.5.zip`, while I'm on the branch `release/2.5` and the plugin version in main php file 2.5 as well.

**Reason**: `package.json` contains version 2.3.5. Changing it to 2.5 fixed this.

[2016-04-07 21:17] #439 closed

[2016-04-07 21:19] #440 closed

[2016-04-07 21:28] slaFFik opened #441 "Ability to bulk assign existing users to new subscription levels"
It might be useful for older sites, that already have registered users and now site owner want to make some content paid, but at the same time to reward users that were already with him.

Currently only one by one option is available on `Restrict -> Members`.
What about dropdown on Users (`/wp-admin/users.php`) page? Or are you considering this to be a plugin territory?

[2016-04-07 23:13] carter2422 opened #442 "Downgrading in Stripe should add credit to user's account"
If you downgrade from, for example, a yearly plan to a monthly plan, all goes as expected, with today's payment being free. However, subsequent renewals will be charged at the normal rate rather than pulling from the left over credit of the previous yearly subscription.

It seems to me that a subscription change where the proration credit is greater than the current charge should add any left over

[2016-04-08 02:00] #436 closed

[2016-04-08 02:23] pippinsplugins opened #443 "Refund report missing"
The refund reports we introduced with #326 has disappeared. Perhaps we forgot to merge it in?

[2016-04-08 02:25] pippinsplugins commented on #441
I can certainly see this being useful.

[2016-04-08 02:36] pippinsplugins commented on #442
We can't really support this because we can't do it across all gateways. Had a long discussion about it recently and determined the only way to make it the same across all gateways is to simply discount the registration, even if that means funds get "left over".

[2016-04-08 15:44] mindctrl commented on #335
We've been asked a number of times how to do something like this:

$9.99/month recurring with a 7 day free trial, without having to pay anything on the first day and without having to go through registration twice to jump from a free sub to a paid one.

In other words, delay billing until day 8 and then do the charge - if the member doesn't cancel beforehand.

Some folks are ok with doing a negati

[2016-04-08 16:08] pippinsplugins commented on #335
Let's make it happen.

[2016-04-08 20:48] slaFFik opened #444 "RCP deactivation doesn't delete cron events"
Specifically `rcp_expired_users_check` and `rcp_send_expiring_soon_notice`, which are still in the list, although RCP is deactivated.

I believe, they should be cleaned up.

[2016-04-08 20:54] mindctrl commented on #444
@slaFFik we'll take a look at it. Thanks for reporting.

[2016-04-08 21:02] mindctrl commented on #442
I'm wondering if we should change the way we think about downgrades.

What if downgrades only kick in after the current period ends? For example, if I'm on the cloud music family plan and I downgrade to the single plan, the downgrade happens at the end of the current month/cycle. Then the single plan kicks in. Basically I don't get credit for unused time. I use up the time I've paid for, then move

[2016-04-08 21:43] mindctrl commented on #417
Looks like we can change `.closest('li')` to `.closest('.rcp_subscription_level')`, but will have to do some testing.

[2016-04-09 07:16] madvik commented on #417
OK, thanks
We can add in docmentation, the code constraint in template file (.class, #id, <tag> and properties to not change)

[2016-04-11 14:24] mindctrl opened #445 "Revoke Access link doesn't properly revoke access"
When using the Revoke Access link on the members table, the member is set to Cancelled but access is not revoked. The member still has access until the expiration date passes.

[2016-04-11 15:55] mindctrl opened #446 "Stripe coupons aren't created when just Stripe Checkout is enabled"
If you create a discount code with only Stripe Checkout enabled, it doesn't get created on stripe.com. This isn't apparent when saving the discount in RCP. Then, if you try to use the discount code to make a purchase with Stripe Checkout, you get a 400 error because the coupon doesn't exist on stripe.com.

[2016-04-12 16:20] mindctrl opened #447 "Subscriptions aren't removed from processor when changing to a one-time payment"
If you have a recurring subscription and change to another subscription, and in doing so you choose to not make it recurring, the existing subscription is not removed from the user on the processor side. This results in the customer still getting billed for the first subscription while no longer having access to that subscription in RCP.

Steps to reproduce:
- Sign up for a recurring sub
- Change

[2016-04-12 19:03] mindctrl opened #448 "Some strings are missing textdomains"
We missed some in `templates/register-total-details.php` and `includes/registration-functions.php`. Noticed a couple more in `includes/login-functions.php` too.

[2016-04-12 19:03] mindctrl commented on #448
We'll need to regenerate the .pot file after updating this.

[2016-04-12 19:40] michaelbeil commented on #448
Solid find for i18n.

[2016-04-12 21:41] pippinsplugins commented on #448
@mindctrl regenerate pot and push that then we can call this good.

[2016-04-12 21:43] pippinsplugins commented on #447
Good catch.

[2016-04-12 22:36] pippinsplugins commented on #442
@mindctrl I think you're on to something. Any other method to me just feels a bit wrong if we're not also tracking account credit.

[2016-04-13 15:05] mindctrl commented on #445
I asked the customer who reported this how often he uses the link, and his reply was this:

---

I don't know how often they use the "Revoke Access" link, but whenever I'm training them on how to use RCP, it's awkward because I have to explain to them that the "Revoke Access" link doesn't actually revoke access.

I would probably just remove that link altogether to avoid confusion. The only way to

[2016-04-13 18:39] pippinsplugins commented on #445
I'm fine with removing it completely.

[2016-04-14 16:59] pippinsplugins opened #450 "Allow subscription periods and durations to be updated"
This is a feature I've wanted for a really long time.

We should add support for modifying subscriptions and have those changes then carry across to the merchant processor. For example, we should permit changing the following:
- recurring amount
- next bill date
- recurring frequency
- end date

This can be done through Stripe relatively easily and also through some other merchant processors. For

[2016-04-14 19:13] carter2422 opened #452 "Free Registration not allowed when only Stripe Checkout is Enabled"
If you're using Stripe Checkout then you cannot signup for a free account without submitting payment details.

![screen shot 2016-04-14 at 2 11 36 pm](https://cloud.githubusercontent.com/assets/1648631/14540510/fed3472a-024a-11e6-8eb9-612efa6839ba.png)
![screen shot 2016-04-14 at 2 11 41 pm](https://cloud.githubusercontent.com/assets/1648631/14540512/01cdf47a-024b-11e6-8e47-123d30c2d222.png)

If a

[2016-04-14 19:25] carter2422 commented on #442
Agreed, that seems like a pretty good solution @mindctrl. The current issue is not acceptable because it can result in customers money effectively disappearing with no recourse other than manual adjustments/refunds from support.

[2016-04-14 19:32] pippinsplugins commented on #452
@mindctrl could you dig into this tomorrow?

[2016-04-14 20:20] pippinsplugins commented on #442
To help build this, we should introduce helper functions that detect `is_upgrade()` and `is_download()` during registration.

[2016-04-14 20:21] carter2422 opened #453 "[Stripe] Subscribing to same plan twice results in two subscriptions"
If you have an active subscription and then *upgrade* to the same subscription you're then granted two subscriptions.

![screen shot 2016-04-14 at 3 18 29 pm](https://cloud.githubusercontent.com/assets/1648631/14542414/6e18f194-0254-11e6-85ca-86fd20855a04.png)

Unless I'm mistaken the subscription terms should simply be modified (or replaced) rather than a second subscription being added. Is this

[2016-04-14 20:22] carter2422 commented on #453
It seems that the core issue may be that the registration page is not always correctly filtering out the users current subscription level?  On some users I see only other levels as upgrade options on the registration page, but in the example above I was able to upgrade to the same subscription I was currently subscribed to.

[2016-04-14 20:26] carter2422 commented on #453
Additional evidence for the user shown above.

The user was subscribed twice in Stripe, and invoiced for each subscription, but RCP treated it as proration of sorts:
![screen shot 2016-04-14 at 3 24 55 pm](https://cloud.githubusercontent.com/assets/1648631/14542547/10aefc78-0255-11e6-8364-c1433942df57.png)
![screen shot 2016-04-14 at 3 26 04 pm](https://cloud.githubusercontent.com/assets/1648631/1

[2016-04-14 20:28] carter2422 commented on #442
I assume you mean `is_downgrade()`? :)

[2016-04-14 21:10] michaelbeil opened #454 "Portuguese translations"
I just noticed that we do not have a Brazilian Portuguese translation, and our Portugal Portuguese needed to be updated with the refreshed rcp.pot.

[2016-04-14 21:26] michaelbeil commented on #448
Related: #454. After an update to pot I could refresh the Portuguese translations.

[2016-04-14 23:40] michaelbeil opened #456 "Brazilian Real addition breaks currency sign"
When USD is selected, `R$` shows instead of `$`. Working on a fix locally.

[2016-04-15 00:05] #454 closed

[2016-04-15 00:08] pippinsplugins commented on #456
My fault for merging PR without testing.

[2016-04-15 00:09] michaelbeil commented on #456
It is ok. Now we discovered that there were some more currency signs that need to be added anyways.

[2016-04-15 04:52] michaelbeil commented on #456
I should have a PR in the morning with a working unit test.

[2016-04-15 13:00] mindctrl commented on #452
I was able to replicate this on one site but not another. Will do some digging and see what I can find.

[2016-04-15 16:30] pippinsplugins commented on #456
:+1:

[2016-04-18 03:35] pippinsplugins commented on #453
Was the payment for the first subscription recorded in RCP?

[2016-04-18 03:36] pippinsplugins commented on #442
Yep :)

[2016-04-18 14:09] mindctrl opened #457 "Unrestricted WooCommerce products are improperly restricted"
If an item is unrestricted, it's possible that it gets restricted anyway. This is due to not properly checking `$values` here: https://github.com/restrictcontentpro/restrict-content-pro/blob/2.5.2/includes/integrations/class-rcp-woocommerce.php#L355

`$levels` can return as:
[code]

[2016-04-18 14:32] pippinsplugins commented on #457
@mindctrl can you do a bit of further testing (unless you already have) to ensure that the first key in the array can't be empty while the second key is not empty?

[2016-04-18 14:37] mindctrl commented on #457
Will do.

Note: unit tests failed pending: https://github.com/restrictcontentpro/restrict-content-pro/issues/456

[2016-04-18 15:17] michaelbeil commented on #457
Working on a unit test for 456 today.

[2016-04-18 15:21] mindctrl commented on #457
@pippinsplugins I don't see any instances where the first key can be empty while second is not.

[2016-04-18 15:53] pippinsplugins commented on #457
@mindctrl Good, merging.

[2016-04-18 15:54] #457 closed

[2016-04-18 16:57] carter2422 commented on #453
@pippinsplugins yes, as was the second subscription's payment (for $0).

[2016-04-18 17:13] pippinsplugins commented on #453
How did they upgrade to the same subscription? Is the subscription level that the user is currently subscribed to still showing in the list (it shouldn't)?

[2016-04-18 17:16] carter2422 commented on #453
I'm not sure @pippinsplugins; I can't consistently replicate it, but for the test user above their current subscription was not filtered out of the list on the registration page. I simply chose the same subscription I was already subscribed to and *upgraded* again.

In most cases the current subscription level is not an option, so I'm guessing there's a bug causing the filter to fail from time to

[2016-04-18 17:20] pippinsplugins commented on #453
The screenshot above looks like they purchased and then upgraded in the span of less than an hour. That makes me wonder if the Stripe webhook (which did have a system delay in the last few days) simply hadn't processed yet so the account wasn't marked as active. That would (I think) result in this kind of behavior.

[2016-04-18 17:54] carter2422 commented on #453
The webhook definitely worked as my test user was active on the first subscription prior to upgrading.

[2016-04-18 21:09] pippinsplugins opened #459 "Amounts over 1,000 converted to 1 on some sites"
I've seen two reports of this so far. Numbers over `1000` are getting displayed as a single digit number on the frontend.

Appears to be caused by the changes with `number_format` introduced in #436

[2016-04-18 21:16] michaelbeil opened #460 "Expiring/renewing soon emails"
The expiring soon email only sends on the first expiration notice. It does that by checking the _rcp_expiring_soon_email_sent user meta and it doesn't get deleted. So if a member has been emailed once, they'll never get emailed again if their subscription is expiring soon later. Note: this is only when auto-renew is not enabled.

We should work out a fix for the user meta to be deleted sometime af

[2016-04-18 21:17] michaelbeil commented on #459
Is this with specific currencies?

[2016-04-18 22:12] mindctrl commented on #459
#436 introduced this, but I think we should go deeper into the registration class to fix it. For example. when returning `get_recurring_total()`, it passes through `number_format`. This causes it to become a formatted string, which then gets stripped when passing through `number_format` again with the changes from #436.

I don't think we should be formatting the amounts returned from the registrat

[2016-04-18 22:15] pippinsplugins commented on #459
I agree, formatting should only ever happen immediately before output. Never before.

[2016-04-18 23:25] michaelbeil opened #462 "Travis: in favor of less builds"
I propose removing PHP nightly for the time being, unless we think it is mission critical. Also, we could remove test builds for 4.0-4.2 to speed up our build process.

[2016-04-19 01:48] pippinsplugins commented on #462
:+1:

[2016-04-19 01:48] #462 closed

[2016-04-19 01:52] pippinsplugins commented on #460
We need to delete it during registration / renewal.

[2016-04-19 02:13] pippinsplugins commented on #453
Were the screenshots above from your test or the real customer?

[2016-04-19 14:30] mindctrl commented on #459
@michaelbeil could use some testing on this. I tried various total formats... 4.90, 4.00, 1000, and so on. Could you run some tests to see if you can break the display of any totals?

[2016-04-19 15:21] carter2422 commented on #453
They were from me signing up with a brand new, test user.

[2016-04-19 16:25] pippinsplugins commented on #459
At first glance this looks correct.

[2016-04-19 16:54] michaelbeil commented on #459
Can do @mindctrl.

[2016-04-19 17:07] mindctrl commented on #453
@carter2422 did you happen to be logged out?

[2016-04-19 18:45] michaelbeil commented on #459
All checks out well here.

[2016-04-19 19:10] carter2422 commented on #453
@mindctrl nope, was logged in the whole time.

[2016-04-19 19:11] michaelbeil commented on #456
All currencies and currency signs are working well.

[2016-04-19 19:21] #456 closed

[2016-04-19 21:28] michaelbeil commented on #459
Still good after last commit. Even better, actually.

[2016-04-20 14:55] mindctrl commented on #453
Thanks @carter2422.

We got another report of this yesterday from someone using Stripe. He thought it was related to the card update form, which isn't the case. He's now wondering how his customer triggered the bug that caused him to have two subscriptions of the same level. His second subscription appeared to be prorated as well.

[2016-04-20 15:32] carter2422 commented on #453
I've not yet updated to 2.5 on the live site, but I'll continue testing on dev to see if I can replicate this again @mindctrl

[2016-04-20 17:18] mindctrl commented on #443
Looks like it got reverted here: https://github.com/restrictcontentpro/restrict-content-pro/commit/2a8a1c41b0e530d117b26deb55d1442dea4a31c1

[2016-04-20 17:22] mindctrl commented on #448
@m let's regenerate the .pot file and close this last, to make sure we catch everything. #443 will introduce some strings back into the mix.

[2016-04-20 17:23] mindctrl commented on #448
@michaelbeil let's regenerate the .pot file and close this last, to make sure we catch everything. #443 will introduce some strings back into the mix.

[2016-04-20 17:28] michaelbeil commented on #448
Perfect.

[2016-04-20 18:10] mindctrl commented on #443
Cherry picked that commit for the PR.

[2016-04-20 18:45] michaelbeil commented on #443
good 🍒  picking john. looking forward to having this merged back in.

[2016-04-20 19:22] #443 closed

[2016-04-20 23:30] michaelbeil opened #467 "Stripe Checkout error with unlimited subscription level"
With Stripe Checkout enabled, let us say that a user creates an unlimited subscription level and add the [register_form_stripe id="3"] to a page. When a customer attempts to register for the subscription, after entering all needed details in the checkout modal, the customer is met with a 400 error page.
![screen shot 2016-04-18 at 7 37 40 pm](https://cloud.githubusercontent.com/assets/4752949/1469

[2016-04-20 23:35] pippinsplugins commented on #467
Ah, that's because you can't have an unlimited plan with Stripe (it's a one time purchase). We setup Stripe Checkout to force automatic renewals. We'll just need to account for that.

[2016-04-20 23:39] michaelbeil commented on #467
Got it. This only happens with the [register_form_stripe], so we will need to look there.

[2016-04-21 16:15] michaelbeil commented on #467
This is fixed in https://github.com/restrictcontentpro/restrict-content-pro/pull/468/commits/b98ccf81c3e782c8692b8100259b455ae15a9079.

[2016-04-21 16:32] #467 closed

[2016-04-21 16:48] #459 closed

[2016-04-22 17:59] #452 closed

[2016-04-23 13:51] samikeijonen opened #469 "String missing in pot file"
There is string `Upgrade or change your subscription` in the plugin but for some reason it's not in the .pot file. Could you regenerate the .pot file or is there something I'm missing?

[2016-04-23 13:55] samikeijonen opened #470 "Stripe checkout modal window has dollar sign"
When using Stripe Checkout there is dollar sign ($2.90) even if in the RCP settings we use euros. Is this RCP related issue or Stripe related? I know that Stripe don't offer translations in Finnish at the moment for Stripe Checkout. But dollar sign should still be the same as currency used in RCP settings.

![screenshot 2016-04-23 16 53 00](https://cloud.githubusercontent.com/assets/1820415/147618

[2016-04-23 14:47] pippinsplugins commented on #469
We will get that fixed!

[2016-04-23 14:48] pippinsplugins commented on #470
Pretty sure this is a bug on our end. We'll get it taken care of!

[2016-04-23 14:49] pippinsplugins commented on #470
We're not passing `data-currency` to the window options.

[2016-04-23 14:51] pippinsplugins commented on #432
For the [register_form_stripe] registration forms, simply adding `data-alipay="1"` to the shortcode should enable it.

[2016-04-23 14:56] pippinsplugins commented on #469
The string is showing up in the `rcp.pot` file for me. Perhaps the Finnish po/mo file just needs updated?

[2016-04-23 14:58] #448 closed

[2016-04-23 14:59] pippinsplugins commented on #469
Ok actually now the POT file is updated. https://github.com/restrictcontentpro/restrict-content-pro/commit/006f672f3499ea387dafcf5c891107e888682d20

[2016-04-23 14:59] #469 closed

[2016-04-23 15:02] pippinsplugins commented on #447
For PayPal Standard, it doesn't get cancelled because we cancel the previous subscription during the `subscr_signup` IPN, which only fires for subscriptions:
[code]

[2016-04-23 15:03] pippinsplugins commented on #447
Stripe fails because we handle the cancellation in the recurring signup portion of the gateway processing only. We need to do it in both.

[2016-04-23 15:03] pippinsplugins commented on #447
PayPal Express and PayPal Pro also have the cancellation in the `if( $this->auto_renew )` portion only.

Looks like 2Checkout should work as is.

[2016-04-23 15:13] samikeijonen commented on #469
Thanks!

[2016-04-23 15:14] mindctrl commented on #470
PR looks good here.

![image](https://cloud.githubusercontent.com/assets/1254870/14762257/23e99366-0944-11e6-827e-6e838aa74450.png)

[2016-04-23 15:15] samikeijonen commented on #470
Works for me also, thanks!

Could it also respect the Currency Position setting?

[2016-04-24 04:31] michaelbeil commented on #470
Nice find @samikeijonen.

We should be able to pass the currency position option as well.

[2016-04-24 17:23] pippinsplugins commented on #470
Doesn't look like there is a currency position setting, unless I've missed it: https://stripe.com/docs/checkout

[2016-04-25 05:25] samikeijonen commented on #470
It would be cool if Stripe added that.

[2016-04-25 14:36] pippinsplugins commented on #470
Definitely!

[2016-04-25 14:36] #470 closed

[2016-04-27 15:57] pippinsplugins opened #472 "Improve list table responsiveness"
The list table actions currently have their own dedicated `Actions` column. This results in messy displays when on small screens and is also against core WordPress UI.
![screen shot 2016-04-27 at 10 56 23 am](https://cloud.githubusercontent.com/assets/1034109/14858735/d302d9e6-0c66-11e6-8b7b-0651838bdb01.png)
I propose we move them to inline row actions that match WordPress core UI:
![screen shot

[2016-04-27 16:17] pippinsplugins opened #473 "Move rcp_can_member_cancel() and rcp_cancel_member_payment_profile() to methods of RCP_Member"
`rcp_cancel_member_payment_profile()` and `rcp_can_member_cancel()` should be methods of `RCP_Member` instead of global functions.

We'll leave the functions in place but they should become wrappers of the `RCP_Member` methods.

[2016-04-27 16:36] michaelbeil opened #474 "Non-translatable string in templates/paypal-express-confirm.php line 27"
Currently we are outputting a dynamic string here:

[code]

This could be better:
[code]

Even still, we have an issue with the duration and duration units that are added dynamically to the string based on the RCP settings.

[2016-04-27 16:37] pippinsplugins commented on #447
PayPal Standard works now:
![screen shot 2016-04-27 at 11 33 27 am](https://cloud.githubusercontent.com/assets/1034109/14859932/ed2d270e-0c6b-11e6-8d0e-300501ab8ff7.png)

[2016-04-27 17:52] pippinsplugins opened #476 "One-time charges not connected to Stripe customer"
One time charges through Stripe should be associated with the Stripe customer if we have a customer ID. Currently they are not.

[2016-04-27 19:28] pippinsplugins commented on #474
@mindctrl Give this a test please?

[2016-04-27 21:35] pippinsplugins commented on #453
This might be resolved with https://github.com/restrictcontentpro/restrict-content-pro/pull/477 but need to test to confirm.

[2016-04-27 22:17] #476 closed

[2016-04-27 22:18] #447 closed

[2016-04-27 23:05] michaelbeil opened #478 "Missing text domains"
I noticed several missing text domains, so we should add these in.

[2016-04-27 23:16] #478 closed

[2016-04-29 03:32] michaelbeil commented on #474
We are missing the 3rd parameter in `_n(`: `$number`.

`<?php _n( $single, $plural, $number, $domain ) ?>`

We should add it in, but we still need a way to better translate each `duration_unit`.

[2016-04-29 10:49] thomasfw commented on #354
Any reason this keeps getting pushed back? It's a fairly large bug imo?

[2016-04-29 14:28] pippinsplugins commented on #354
@thomasfw No reason other than urgency of other issues that had to be included in a release. This will get fixed.

[2016-04-29 15:17] pippinsplugins commented on #453
I can't get the level I currently have to ever show up on the form.

[2016-04-29 15:21] pippinsplugins commented on #453
Aha, maybe I just tracked it down.

When an account is registered, the subscription that the member subscribes to is stored in a pending meta row. Once the webhook is processed from Stripe to confirm the subscription, the meta row is updated and the subscription is moved from the pending slot to the active slot. If the member, however, tries to subscribe again before the webhook is processed (or i

[2016-04-29 15:22] #453 closed

[2016-04-29 15:27] pippinsplugins commented on #474
I'm going to move this to 2.5.4 so that we can get 2.5.3 out the door since there are numerous important issues there.

[2016-04-29 19:14] pippinsplugins opened #480 "%subscription_name% email tag returns wrong name when upgrading"
When upgrading a subscription, the `%subscription_name%` tag returns the wrong subscription level name. It returns the previous level instead of the new one.

[2016-04-29 20:37] mindctrl commented on #480
@pippinsplugins looks good here.

[2016-04-29 20:58] michaelbeil commented on #480
good to go here.

[2016-04-30 13:58] #480 closed

[2016-05-02 16:05] michaelbeil commented on #446
Was this happening when switching from test mode to live mode with only Stripe Checkout enabled? (i.e. test a coupon in test mode and then try to use it in live mode.)

I did not see an issue when remaining on test mode alone or live mode, or perhaps I missed something.

[2016-05-02 16:18] michaelbeil opened #483 "Discounts: add support for one-time discounts"
The current behavior of discounts applies a discount on every recurring payment of a subscription. We should add an option to apply a discount on solely the first payment.

By default, recurring discounts will be enabled, but this option could be enabled from the Misc tab to disable recurring discounts and enable first payment discounts.

[2016-05-02 16:49] mindctrl opened #484 "Introduce an add-ons page to the Restrict submenu."
We should have an add-ons page inside the Restrict admin menu to help increase awareness of the ways to extend RCP, something like we have in Easy Digital Downloads and AffWP.

[2016-05-02 18:05] carter2422 commented on #452
Quick related followup, this is working great now but the registration button still says **Submit Payment** when choosing a free subscription. This just makes it confusing to the user.

[2016-05-02 18:08] pippinsplugins opened #485 "Stripe Checkout: Reset "Submit Payment" text when selecting free level"
Stripe Checkout changes the  register button to `Submit Payment`. It does not, however, reset the text back to `Register` when selecting a free level after a paid level was selected.

[2016-05-02 18:08] pippinsplugins commented on #452
See https://github.com/restrictcontentpro/restrict-content-pro/issues/485

[2016-05-02 20:00] carter2422 commented on #446
I'm getting this as well while creating discounts in Test Mode in RCP, the discounts do not get created in Stripe when Stripe Checkout is the only enabled gateway.

[2016-05-03 00:50] #485 closed

[2016-05-03 00:55] #444 closed

[2016-05-03 15:31] carter2422 opened #488 "View/Edit Member page expires the session"
As of 2.5.x anytime I `View/Edit Member` on any member with an existing subscription it immediately expires the session and prevents me from ever viewing the member: http://cl.ly/g22M

Initially @pippinsplugins and I thought this was an environment issue, but it seems to be codebase related. As @pippinsplugins noted in a Slack chat, it seems to be breaking while setting up the `RCP_Member` object.

[2016-05-03 18:00] michaelbeil commented on #488
We are running some tests locally with HgV (HHVM) to confirm the issue.

[2016-05-03 18:02] carter2422 commented on #488
Thanks Michael!

-- 
Jonathan Williamson

On May 3, 2016 at 1:01:25 PM, Michael Beil (notifications@github.com) wrote:

We are running some tests locally with HgV (HHVM) to confirm the issue.

—
You are receiving this because you authored the thread.
Reply to this email directly or view it on GitHub

[2016-05-03 18:41] michaelbeil commented on #488
@carter2422 is there anything else specific to your tests that we should be aware of? Caching, browser, other plugins installed, is this on a test server, etc.?

[2016-05-03 18:50] pippinsplugins commented on #488
@carter2422 Quick test: can you try it with everything _after_ `new RCP_Member` commented out?

[2016-05-03 23:45] carter2422 commented on #488
@pippinsplugins already tried that. Still failed.

@michaelbeil here's the output of the System Config from EDD: http://www.pasteall.org/69003

[2016-05-04 00:00] michaelbeil commented on #488
Where are you seeing this error? On a staging site?

[2016-05-04 15:18] mindctrl opened #489 "Restrict comment visibility and commenting ability on restricted posts"
Currently, if a post is restricted the comments are visible and the comments form is shown. Let's see what we can do to cleanly restrict access to those.

[2016-05-04 19:41] carter2422 commented on #488
@michaelbeil I've replicated it both our [staging site](https://cgcookielab.com) and our [live site](https://cgcookie.com). Note, I've since reverted the live site back to 2.4.11 due to this problem.

[2016-05-04 20:35] ghost1227 opened #490 "Update [restrict] to use can_access() method of RCP_Member"
The `[restrict]` shortcode currently doesn't use the `can_access()` method of `RCP_Member`. As a result, content restricted with the shortcode doesn't work with plugins like IP Restriction that override `can_access()`.

[2016-05-05 15:54] mindctrl commented on #474
@michaelbeil can you test `issue/474-alternate` and see if it works and if I broke anything? :)  I don't know if we need esc_html, but I added it since you already had it in there, and it seems to be fine in my tests.

[2016-05-05 16:51] michaelbeil commented on #474
Reviewed and looks good.

[2016-05-05 19:02] pippinsplugins commented on #488
@carter2422 Can I get full staging site access? That'll be easiest way to track it down.

[2016-05-05 19:12] #474 closed

[2016-05-06 20:02] fasouto commented on #431
+1 I'm also interested in this

[2016-05-08 19:43] JamesGeiger commented on #431
@fasouto :)

[2016-05-09 16:28] carter2422 commented on #488
@pippinsplugins any luck tracking this down with the staging site access I gave you?

[2016-05-09 21:03] pippinsplugins commented on #488
@carter2422 Will try again shortly.

[2016-05-10 01:24] pippinsplugins commented on #488
@carter2422 https://cgcookielab.com/wp-admin/ seems to be working fine for me. Is it running latest?

[2016-05-10 01:25] pippinsplugins commented on #488
Nvm, it appears to be. I can't make the problem happen.

https://cgcookielab.com/wp-admin/admin.php?page=rcp-members&edit_member=288798
https://cgcookielab.com/wp-admin/admin.php?page=rcp-members&edit_member=145710
https://cgcookielab.com/wp-admin/admin.php?page=rcp-members&edit_member=167349
https://cgcookielab.com/wp-admin/admin.php?page=rcp-members&edit_member=74003
https://cgcookielab.com/wp-a

[2016-05-10 14:59] pippinsplugins commented on #488
@carter2422 Can you give me a user ID that fails for you?

[2016-05-10 15:02] carter2422 commented on #488
Here's one @pippinsplugins https://cgcookielab.com/wp-admin/admin.php?page=rcp-members&edit_member=2323

[2016-05-10 19:51] madvik opened #492 "Make [subscription_details] responsive"
By default, the table `#rcp-account-overview` and `#rcp-payment-history` in `subscription.php` was not responsive.
I propose to add  `data-th="Title"` in `<td>` for transform in responsive table like this : [https://codepen.io/geoffyuen/pen/FCBEg](https://codepen.io/geoffyuen/pen/FCBEg)

[2016-05-10 22:31] mindctrl opened #493 "Replace TCPDF with simple HTML / print view"
The included PDF library is large and accounts for a considerable amount of the total plugin size. We've discussed moving it to a separate plugin, or looking for an alternative library that isn't so large.

[2016-05-10 23:14] pippinsplugins commented on #493
Let's look at GiveWP for how they did it.

[2016-05-11 13:42] mindctrl commented on #492
@madvik thanks for the suggestion. That's an interesting solution. We'll take a look at improving the responsiveness of the tables.

[2016-05-11 15:36] mindctrl opened #494 "Incorrect page set for the "Update Billing Card Page" setting during plugin install"
During installation, the Update Billing Card Page is set the same as the Edit Profile Page setting. https://github.com/restrictcontentpro/restrict-content-pro/blob/2.5.3/includes/install.php#L192

[2016-05-11 20:51] pippinsplugins commented on #494
PR looks good.

[2016-05-11 20:51] #494 closed

[2016-05-11 20:54] mindctrl commented on #490
PR attached. Needs thorough testing of the restrictions settings. During my tests, I found issues with restrictions under certain conditions, so went ahead and reworked the logic that handles that so the filter would return more accurate data. Need to make sure I didn't break something else.

[2016-05-11 21:00] pippinsplugins commented on #490
No more `extract()` 🎉

[2016-05-12 01:32] carter2422 commented on #488
Also @pippinsplugins, of those you listed this one fails for me: https://cgcookielab.com/wp-admin/admin.php?page=rcp-members&edit_member=145710

[2016-05-13 19:07] mindctrl opened #497 "Add restriction settings to the Add term screen"
Right now the term restriction settings are only visible on the `edit term` screen. This results in people not even knowing it's a feature. Let's see about adding them to the `add term` screen.

[2016-05-16 14:52] pippinsplugins commented on #490
@mindctrl This looks to work perfectly for everything except the `WP Approve User` integration. ANnunapproved user can still access restricted content.

[2016-05-16 14:55] pippinsplugins commented on #490
@mindctrl Could you test ^?

[2016-05-16 14:57] pippinsplugins commented on #490
Looks like subscription level IDs need to be trimmed.

Works: `[restrict subscription="1,2" paid="true"]`

Doesn't work: `[restrict subscription="1, 2 " paid="true"]`

[2016-05-16 15:03] pippinsplugins commented on #490
Level ID trimming fixed.

Just finished testing a bunch of configurations and everything seems to work great for me.

[2016-05-16 15:09] mindctrl commented on #490
@pippinsplugins WP Approve User integration looks great.

[2016-05-16 15:10] pippinsplugins commented on #490
Once unit tests pass, we'll merge.

[2016-05-16 15:17] michaelbeil commented on #490
Good deal!

[2016-05-16 16:05] #490 closed

[2016-05-16 20:38] carter2422 commented on #488
Any luck on this @pippinsplugins?

[2016-05-16 21:54] pippinsplugins commented on #488
@carter2422 that one fails for me. Digging!

[2016-05-16 21:54] pippinsplugins commented on #488
@carter2422 can you re-enable the plugin editor for me? https://cloudup.com/cBhYlZ9RSDv

[2016-05-17 17:20] mindctrl opened #500 "Amounts missing on PDF invoices for certain currencies"
When using certain currencies, PDF invoices don't show an amount due to an error with `iconv()` [here](https://github.com/restrictcontentpro/restrict-content-pro/blob/2.5.4/includes/invoice-functions.php#L181). It throws the following debug notice:
`PHP Notice:  iconv(): Detected an illegal character in input string in /wp-content/plugins/restrict-content-pro/includes/invoice-functions.php on line

[2016-05-17 17:26] mindctrl commented on #500
@michaelbeil mind running some tests on this in different currencies? I noticed a few currencies that show a `?` character. But, before this change, they were blank, so this is an improvement for those for sure. Short of building a map of various character sets, I'm not sure we can do much else with that.

[2016-05-17 18:28] pippinsplugins commented on #488
We managed to resolve this miraculously by busting a cache (I think). Will re-open if it comes back.

[2016-05-17 18:33] pippinsplugins commented on #500
Merged into master.

[2016-05-17 18:36] #446 closed

[2016-05-17 18:52] carter2422 commented on #488
Sadly it's back soon as we re-deployed the identical codebase. This may be a stack issue but unsure, trying to determine one way or the other.

[2016-05-17 20:53] mindctrl commented on #460
@pippinsplugins what you think about hooking into rcp_set_status and just doing it any time a member is set to active?

[2016-05-17 20:55] michaelbeil commented on #460
That seems like a good approach. Simply check if the member is active and the expiring email can be resent if a member is active.

[2016-05-17 21:49] pippinsplugins commented on #432
:+1:

[2016-05-17 21:49] #432 closed

[2016-05-17 21:54] pippinsplugins commented on #460
Yep, works for me.

[2016-05-17 21:58] #411 closed

[2016-05-17 22:21] pippinsplugins commented on #488
Can you look directly into the payment database and tell me how many payments there are?

[2016-05-17 22:22] pippinsplugins opened #505 "Add indexes to database tables"
The payments database should have an index on the user_id and transaction_id columns to make querying and searching faster.

[2016-05-18 02:23] carter2422 commented on #488
Sure. There's `88,134` rows in `rcp_payments`

[2016-05-18 15:00] mindctrl commented on #500
I had a customer test this, and the single quotes gave her parse errors. Swapping to double quotes worked for her. Not sure why, but I think we'll swap it here just in case.

[2016-05-18 15:45] pippinsplugins commented on #500
Good idea.

[2016-05-23 19:37] pippinsplugins opened #507 "Add subscription meta table"
As more and more extensions are created for RCP, it's become clear that we need to offer a way to store metadata about subscription levels. For this, I propose we add a subscription meta table. This could be done just like the Affiliate Meta and Customer Meta tables recently added to AffiliateWP and Easy Digital Downloads.

[2016-05-26 20:41] carter2422 opened #508 "Add ability to pause and resume a subscription"
The ability to pause a subscription can work as a very good churn aversion as it's "less permanent" than cancellations. A lot of services, such as Hulu, use this to great effect to help reactivate people on their own schedule.

It would be really great to support this in RCP.

[2016-05-26 20:57] carter2422 commented on #392
How's this looking for 2.5.5?

[2016-05-26 23:53] pippinsplugins commented on #392
On my list for Monday.

[2016-05-27 00:21] pippinsplugins commented on #508
Yes! I'd love to get this added.

[2016-05-28 15:38] flowdee opened #509 "Invoice number and prefix/suffix"
According to EDD it would be very good to get at least some prefix for the invoice numbers taken for the pdf invoices.

![bildschirmfoto 2016-05-28 um 17 37 31](https://cloud.githubusercontent.com/assets/2278756/15628166/e4d73886-24fa-11e6-98aa-cbb7b9df6bbb.png)

[2016-05-28 22:44] pippinsplugins commented on #509
This would be nice :)

[2016-05-31 13:36] pippinsplugins opened #511 "Add improved database upgrade API"
The current method for detecting and managing database upgrades is unreliable. We should take what we built in AffiliateWP and bring it over to RCP so that database upgrades are reliable and easier to introduce.

https://github.com/AffiliateWP/AffiliateWP/blob/master/includes/admin/class-upgrades.php

[2016-05-31 13:57] pippinsplugins commented on #511
Will test this while introducing #505 and #507

[2016-05-31 14:34] pippinsplugins commented on #505
Let's also index the subscription levels table.

[2016-05-31 15:02] mindctrl opened #513 "Account details aren't emailed to the user when using the Stripe Checkout shortcode"
When using the [register_form_stripe] shortcode, the account username and password aren't emailed to the user.

[2016-05-31 15:04] mindctrl commented on #513
Instead of emailing the password, we talked about introducing a notice in the email, and possibly in the profile editor shortcode output, that shows a notice letting the user know they're using an auto-generated password. We can include a link in the email to the profile page so the user can change the password.

[2016-05-31 15:10] pippinsplugins commented on #406
Oops, logged a duplicate issue. #511

[2016-05-31 15:10] #406 closed

[2016-05-31 15:32] pippinsplugins commented on #392
We should store the counts in subscription meta instead of options #507

[2016-05-31 16:29] pippinsplugins commented on #392
This appears to work well on pippinsplugins.com

[2016-05-31 17:24] pippinsplugins commented on #413
@michaelbeil could you give this a test?

[2016-05-31 17:31] carter2422 commented on #392
Whoop! @pippinsplugins this appears to be working great on the `issue/392` branch.

[2016-05-31 17:53] carter2422 commented on #392
@pippinsplugins what triggers a recount of the subscription level members?

[2016-05-31 18:05] pippinsplugins commented on #392
@carter2422 two things:

1. Anytime the status of a member changes
2. Once per day via a cron job

[2016-05-31 18:10] mindctrl commented on #511
The unit tests failed on this:

[code]

[2016-05-31 18:26] michaelbeil commented on #413
Yes. It looks we need testing done for all payment gateways, to verify that the charge page is linked to the correlated gateway, right?

[2016-05-31 18:28] pippinsplugins commented on #382
I've tracked this down.

It's due to the `account_balance` feature of the customers API. Turns out that the account_balance does not support a currency option, so it will always be in the currency of the default account's currency. That then triggers an error if you try and subscribe a customer in a non-default currency with a signup fee or pro-ration.

At this time I don't believe there is a way

[2016-05-31 18:30] pippinsplugins commented on #354
Validation is working fine for me:
![screen shot 2016-05-31 at 1 30 20 pm](https://cloud.githubusercontent.com/assets/1034109/15685989/dcecfe5e-2733-11e6-8ca5-d53c26396c28.png)
![screen shot 2016-05-31 at 1 30 33 pm](https://cloud.githubusercontent.com/assets/1034109/15685999/e46fab22-2733-11e6-830a-80ce83bf4860.png)

[2016-05-31 18:31] #354 closed

[2016-05-31 18:33] pippinsplugins commented on #413
Yes please.

[2016-05-31 18:47] pippinsplugins opened #516 "Rework UI for Restrict this Content metabox"
I think we should really look into ways to improve the `Restrict this Content` metabox. Customers incorrectly configure it all the time.

How it is currently:
![screen shot 2016-05-31 at 1 43 50 pm](https://cloud.githubusercontent.com/assets/1034109/15686412/c5d66b04-2735-11e6-8fd1-7c1e14b96e9c.png)

A few issues customers encounter:

- Do not know when to check `Paid Only`
- What is an access lev

[2016-05-31 18:50] pippinsplugins commented on #516
Some thoughts on how we could improve this:

1. Start by showing only a drop down for subscription level
2. Once subscription level(s) is selected, automatically set (in the background) `Paid Only` if the subscription has a price greater than 0.00, else leave unset
3. Move Access Level, User Level, Show Excerpt, and Hide from Feed in to an `Advanced Options` section that is either separate or hidd

[2016-05-31 18:54] michaelbeil commented on #516
I like the idea of an advanced options tab in the restrict this content metabox.

[2016-05-31 19:01] michaelbeil commented on #511
While we are improving the upgrade routine, we should remove the duplicate `rcp_payments_db_version` as noted by @mindctrl :  https://github.com/restrictcontentpro/restrict-content-pro/blob/6bb8ff910ad93c52ba8eba8dc369bc02be3c451e/includes/admin/upgrades.php#L19-L24

[2016-05-31 20:18] pippinsplugins opened #518 "Introduce contextual tool tips"
To help reduce support, we should introduce inline, contextual tool tips throughout the plugin.

[2016-05-31 20:44] pippinsplugins commented on #518
Being done partly through #516. Will continue once that is merged into `release/2.6`.

[2016-05-31 20:44] pippinsplugins commented on #516
@michaelbeil could you give this a try now and let me know what you think?

Note: it is not functional. It's display only (no settings save).

[2016-05-31 21:29] #460 closed

[2016-05-31 22:18] pippinsplugins commented on #516
New proposed UI:
![screen shot 2016-05-31 at 5 18 40 pm](https://cloud.githubusercontent.com/assets/1034109/15692402/c0ecb3dc-2753-11e6-9b14-2c87dac37b2b.png)

[2016-05-31 22:23] pippinsplugins commented on #351
Instead of some of the options we included above, let's do this just like the WooCommerce integration we have.

[2016-06-01 01:07] pippinsplugins commented on #398
Going to just do PayPal for now.

[2016-06-01 01:07] pippinsplugins commented on #398
Ready for testing!

[2016-06-01 01:17] pippinsplugins commented on #493
I think instead of moving it, we should replace it with DOMPDF: https://github.com/dompdf/dompdf

[2016-06-01 01:21] pippinsplugins opened #522 "Update Stripe API libraries"
It's time to get them up to date.

[2016-06-01 01:27] pippinsplugins commented on #493
Nvm, DOMPDF is 9+ MBs.

I'm going to go with straight HTML view > print instead.

[2016-06-01 01:49] JamesGeiger commented on #516
@pippinsplugins As a user, this new UI looks epic. Hope it get's implemented soon!

[2016-06-01 01:51] pippinsplugins commented on #516
@JamesGeiger Thanks!

[2016-06-01 02:33] pippinsplugins commented on #500
Closing as wontfix due to #493

[2016-06-01 02:33] #500 closed

[2016-06-01 02:38] michaelbeil commented on #516
Looks really nice here @pippinsplugins.

[2016-06-01 02:39] michaelbeil commented on #516
UI is cleaner, simpler, and more intuitive.

[2016-06-01 02:50] pippinsplugins commented on #417
`.closest('.rcp_subscription_level')` seems to work fine. I'm going to push up a PR. It won't allow complete flexibility but is _more_ flexible.

[2016-06-01 03:27] pippinsplugins commented on #500
This is now invalid per #493

[2016-06-01 03:52] pippinsplugins opened #526 "Remove ID column from members page and combine with user column"
Doing this could save considerable real estate.

[2016-06-01 03:57] pippinsplugins opened #527 "Combine email and user columns"
No need to have them as separate columns in the Members page.

[2016-06-01 04:01] pippinsplugins commented on #472
Ready for testing.

[2016-06-01 04:02] pippinsplugins commented on #526
Ready for testing.

[2016-06-01 04:02] pippinsplugins commented on #527
Ready for testing.

[2016-06-01 04:16] pippinsplugins commented on #373
I can't replicate this.

Purchase goes through as expected as a one-time purchase.

[2016-06-01 04:16] pippinsplugins commented on #373
Closing as works for me.

[2016-06-01 04:16] #373 closed

[2016-06-01 13:46] thomasfw commented on #354
Nope, this doesn't work for me, I'm using the `rcp_login_form_fields()` function in a custom template (and the result is the same if I output the `[login_form]` shortcode).

I visit the reset link as received by email..

`www.site.dev/login/?rcp_action=lostpassword_reset&key=[KEY]&login=[username]`

`rcp_login_form_fields()` function correctly displays `rcp_change_password_form()` (as rcp_action =

[2016-06-01 14:02] pippinsplugins commented on #354
Your original issue only mentioned changing the password, not resetting it. I'll test again to see if I can replicate.

[2016-06-01 15:51] mindctrl opened #529 "Remove case sensitivity from discount codes"
Right now discount codes are case sensitive and can lead to some confusion and a less than ideal end customer experience. Unless there are objections, let's make them work regardless of case.

[2016-06-01 22:44] pippinsplugins commented on #516
Clicking `Members of specific subscription level` reveals the level options:
![screen shot 2016-06-01 at 5 43 53 pm](https://cloud.githubusercontent.com/assets/1034109/15728163/74e0ddba-2820-11e6-972f-f7bbec7d59d7.png)

UI changes to this if selecting `Members with an access level`:
![screen shot 2016-06-01 at 5 44 19 pm](https://cloud.githubusercontent.com/assets/1034109/15728175/8b01ee36-2820-11

[2016-06-01 23:05] SDavisMedia commented on #516
Super clean and _much_ better than before.

I don't use RCP often so looking at this was a refresher. In the new design, the default "Members of specific subscription level" section wasn't intuitive for me. I didn't realize that the three radio buttons were displayed conditionally based on the dropdown above them.

Likewise, I didn't realize that the help icon, which I had already read, was relate

[2016-06-01 23:08] michaelbeil commented on #516
So adding `Member access options` helped you understand the metabox settings better?

[2016-06-01 23:09] SDavisMedia commented on #516
Oh and the reason why I didn't realize that the help text was for the section below it, besides what I've already mentioned, is because its two headings do not match the select menu options they refer to. So made me assume even more that it was general information for the metabox. The descriptions of the settings should be titled with the same text as the options themselves, in my opinion.

[2016-06-01 23:10] SDavisMedia commented on #516
@michaelbeil Yes. The regular text displaying just inside the metabox, visually beneath the metabox title immediately made me think it was description text for the metabox itself, not for a specific setting.

[2016-06-01 23:11] spencerfinnell commented on #516
Really nice! What about moving the checkboxes for subscription levels to the right a bit for some hierarchy?

[2016-06-01 23:17] spencerfinnell commented on #516
Heh I think you all commented as I was admiring! @SDavisMedia yep something like that. Too many lines could get overwhelming but I definitely like the indentation.

[2016-06-02 15:32] pippinsplugins commented on #516
Thanks so much for the feedback guys! I'm going to work on those tweaks and then get it functional.

[2016-06-02 16:22] michaelbeil commented on #516
I wonder if we should still add some more padding to `rcp-subscription-levels` under the `rcp_subscription_level_specific` label.

**Current**:
![screen shot 2016-06-02 at 11 20 45 am](https://cloud.githubusercontent.com/assets/4752949/15752519/17f65aa0-28b4-11e6-8dd7-5eefc5c0cfc9.png)

**Extra 10px**:
![screen shot 2016-06-02 at 11 20 22 am](https://cloud.githubusercontent.com/assets/4752949/1575

[2016-06-02 16:24] pippinsplugins commented on #516
Ah yes, I think that's a good idea.

[2016-06-02 16:25] michaelbeil commented on #516
Note that the extra 10px was applied on almost every label in my screen for demo.

[2016-06-02 17:24] mindctrl commented on #527
Pushed some responsive improvements here. Works great on my iPhone. @michaelbeil could you do a quick test of the new Restrict > Members to have one more set of eyes on it?

[2016-06-02 17:41] pippinsplugins commented on #516
I've added the first pass at the save routine. @michaelbeil @mindctrl can you guys play with it to see if saving works?

Note: I have not adjusting content restriction yet to work with new UI, so ignore that

[2016-06-02 19:35] mindctrl commented on #516
We made some adjustments to the UI. Now we have a default option in the select called "Everyone". We're hiding everything else unless a restriction setting is selected, then we show the appropriate controls.

#### Unrestricted / default
![image](https://cloud.githubusercontent.com/assets/1254870/15758197/6b33626c-28d7-11e6-9ee8-49c718960365.png)

---

#### Any subscription selected
![image](https:

[2016-06-02 19:40] michaelbeil commented on #516
Ooh ...

![screen capture on 2016-06-02 at 14-39-03](https://cloud.githubusercontent.com/assets/4752949/15758364/eef4b52c-28cf-11e6-9b0b-4f45c3faae9b.gif)

[2016-06-02 20:29] michaelbeil commented on #516
Save is working with no errors.

[2016-06-02 20:37] mindctrl commented on #522
This looks good to me.

[2016-06-02 20:38] michaelbeil commented on #383
Works perfect.
![screen shot on 2016-06-02 at 15-38-15](https://cloud.githubusercontent.com/assets/4752949/15760286/18ff8132-28d8-11e6-9867-26a605e4badf.png)

[2016-06-02 20:44] mindctrl commented on #493
Looks good. Just pushed a change to the text on the links for viewing receipts.

[2016-06-02 20:45] pippinsplugins commented on #484
This is done but waiting for the RSS feed to be live on the site: https://github.com/restrictcontentpro/rcp-site-child/issues/44

[2016-06-02 20:46] michaelbeil commented on #522
All good hear.

[2016-06-02 20:46] #383 closed

[2016-06-02 20:48] mindctrl commented on #472
This works great.

[2016-06-02 21:00] michaelbeil commented on #484
Looks good here once the feed is live.

[2016-06-02 21:00] pippinsplugins commented on #472
Let's also go ahead and do the other list tables:

![screen shot 2016-06-02 at 4 00 02 pm](https://cloud.githubusercontent.com/assets/1034109/15760909/1b4df466-28db-11e6-861f-77b8d889bdb8.png)

[2016-06-02 21:01] #493 closed

[2016-06-02 21:04] pippinsplugins commented on #445
https://github.com/restrictcontentpro/restrict-content-pro/pull/520

[2016-06-02 21:08] mindctrl commented on #445
Works fine.

[2016-06-02 21:17] #445 closed

[2016-06-02 21:18] pippinsplugins opened #533 "Add payment / subscription level meta table"
As more and more extensions are created for RCP, it's become clear that we need to offer a way to store metadata about payment records. For this, I propose we add a payment meta table. This could be done just like the Affiliate Meta and Customer Meta tables recently added to AffiliateWP and Easy Digital Downloads.

Related #507

[2016-06-02 21:34] pippinsplugins commented on #511
Removed.

[2016-06-02 21:34] #511 closed

[2016-06-02 22:41] spencerfinnell commented on #516
I think the subscription level checkboxes could be moved in even further to align with the start of the radio label.

Like: http://cdn3.wpbeginner.com/wp-content/uploads/2013/04/frontpage.png

[2016-06-02 22:46] SDavisMedia commented on #516
Sorry for being nitpicky and feel free to ignore it. But the indentation of the subscription levels should place the left edge of the checkboxes inline with the left edge of the label for the parent radio button.

Moving it over will also prevent a visual clash between the parent radio button and the first checkbox, allowing you to reduce the top margin of the subscription level list from 1em to .

[2016-06-02 22:47] SDavisMedia commented on #516
Dangit @spencerfinnell lmao sorry... looks like a reverse of what happened yesterday. At least we see the same thing!

[2016-06-02 22:48] michaelbeil commented on #516
I agree wholeheartedly. That is what I was going for. Was gonna look further into it soon, but now you already did!

😄

[2016-06-02 22:51] pippinsplugins commented on #507
Ready for testing!

Example testing:
[code]
Result should be `Test Value`.

[2016-06-02 22:51] pippinsplugins commented on #533
Ready for testing!

Example testing:
[code]
Result should be `Test Value`.

[2016-06-02 22:52] pippinsplugins commented on #516
:+1:

[2016-06-02 22:53] pippinsplugins commented on #516
Done.

[2016-06-02 22:54] SDavisMedia commented on #516
@pippinsplugins Looking perfect. :+1:

[2016-06-03 00:05] michaelbeil opened #535 "Revamp CSS"
There a few things we could do to better our CSS:
- [ ] Change px to rem
- [x] Remove empty selectors
- [x] Should our CSS worth be minified?
- [x] Make our CSS more readable
- [x] Replace super generic class names in admin with prefixed class names
- [x] Remove RCP-Icons since it's not used

[2016-06-03 01:09] pippinsplugins commented on #535
Just added another.

[2016-06-03 01:19] pippinsplugins commented on #472
@michaelbeil ready for testing in https://github.com/restrictcontentpro/restrict-content-pro/pull/528

[2016-06-03 01:19] pippinsplugins commented on #527
Ready for testing in https://github.com/restrictcontentpro/restrict-content-pro/pull/528

[2016-06-03 02:28] mindctrl commented on #472
I see some other adjustments that need to be made at various viewports. Also want to show the payment amount on small screens without having to expand the details.

[2016-06-03 04:19] sumobi commented on #484
@pippinsplugins We're good to go on this. The only thing left is to add excerpts to each download so the buttons don't overlap.

![screen shot 2016-06-03 at 4 17 16 pm](https://cloud.githubusercontent.com/assets/52581/15768641/c0236ffe-29a6-11e6-9516-f0712161478f.png)

Should ideally be 2 lines or less like AffiliateWP and EDD:

![screen shot 2016-06-03 at 4 18 08 pm](https://cloud.githubuserconte

[2016-06-03 04:20] sumobi commented on #484
Some of the official free add-ons also need a new excerpt:

![screen shot 2016-06-03 at 4 19 54 pm](https://cloud.githubusercontent.com/assets/52581/15768682/1a11380c-29a7-11e6-8d7d-16064daf86e3.png)

[2016-06-03 12:54] mindctrl commented on #472
I also need to add links to the sub names and discount code names.

[2016-06-03 16:15] pippinsplugins commented on #484
Done and done!

[2016-06-03 16:15] #484 closed

[2016-06-03 23:28] JamesGeiger commented on #516
Looks great guys!!

[2016-06-04 16:14] mindctrl commented on #516
We added [TipTip](https://github.com/drewwilson/TipTip) for the help icon tooltip. WordPress core ships with [jQuery Tooltip](https://jqueryui.com/tooltip/). Should we consider using that instead, to avoid adding and possibly maintaining an additional library?

[2016-06-04 16:23] mindctrl commented on #516
Quick mockup of the core one

![image](https://cloud.githubusercontent.com/assets/1254870/15800719/13118bf8-2a4f-11e6-91bc-2b214077553f.png)

[2016-06-04 16:24] pippinsplugins commented on #516
Yes, let's use core's. I didn't realize core had one.

On Saturday, June 4, 2016, John Parris <notifications@github.com> wrote:

[2016-06-06 17:06] mindctrl commented on #472
Links are added. Not sure about showing the payment amount for mobile views. Everything inside the row actions is only shown when tapped. The amount would need to be shown in the user column and hidden on larger displays. Thoughts?

[2016-06-06 17:07] pippinsplugins commented on #472
How about something like this?
![screen shot 2016-06-06 at 12 07 33 pm](https://cloud.githubusercontent.com/assets/1034109/15830669/49078776-2bdf-11e6-980f-b88cd24ddb58.png)

[2016-06-06 17:08] pippinsplugins commented on #413
I'm going to go ahead and merge this in. If any issues are noticed, we can re-open.

[2016-06-06 17:08] #413 closed

[2016-06-06 17:10] pippinsplugins commented on #368
@michaelbeil @mindctrl mind testing this?

[2016-06-06 17:26] mindctrl commented on #472
@pippinsplugins I like it. Added. Only shows on widths of 782px and smaller, which is when it collapses into the mobile view.

[2016-06-06 17:37] pippinsplugins commented on #472
Love it.

Anything else you see or want to add before we merge this in?

[2016-06-06 18:19] mindctrl commented on #472
@pippinsplugins looking pretty good here. I think we can merge and tweak further if needed when reworking the CSS in #535

[2016-06-06 19:13] michaelbeil commented on #516
That seems like a much better option.

[2016-06-06 19:29] mindctrl opened #536 "The subscription.php template can show pending registration dates instead of real expiration dates"
In subscription.php, we do `echo rcp_get_expiration_date()` to show the member's expiration date. [Link](https://github.com/restrictcontentpro/restrict-content-pro/blob/2.5.4/templates/subscription.php#L29). It's a wrapper for `get_expiration_date()` in the `RCP_Member` class. [Link](https://github.com/restrictcontentpro/restrict-content-pro/blob/2.5.4/includes/class-rcp-member.php#L79).

As you c

[2016-06-06 19:31] pippinsplugins commented on #516
I'm going to rip out the tool tip stuff from this issue so that we can do it entirely on #518

[2016-06-06 19:32] michaelbeil commented on #516
Sounds like a plan.

[2016-06-06 19:33] pippinsplugins commented on #516
Oh, John already did :D

[2016-06-06 19:57] #526 closed

[2016-06-06 19:57] #527 closed

[2016-06-06 19:57] #472 closed

[2016-06-06 20:11] michaelbeil commented on #472
Looking good.

[2016-06-06 20:18] mindctrl commented on #368
@pippinsplugins this line seems to be an issue when `last_week` crosses a month. different bug but related and broken. https://github.com/restrictcontentpro/restrict-content-pro/blob/c26c4ac28d02e6dfbab33c792a85c2a7dd56e08a/includes/admin/reports/reports-page.php#L115

Dump of the `$dates` array:

![image](https://cloud.githubusercontent.com/assets/1254870/15836309/31b5a170-2c02-11e6-86d1-b0568e96

[2016-06-06 20:36] carter2422 commented on #392
Something is off.

On the Subscription Levels page the *Monthly Citizen* level reports 1487 members, yet on Members it reports 1970.
![screen shot 2016-06-06 at 3 34 53 pm](https://cloud.githubusercontent.com/assets/1648631/15836823/40bbcdee-2bfc-11e6-9578-007a2f991c25.png)

![screen shot 2016-06-06 at 3 34 45 pm](https://cloud.githubusercontent.com/assets/1648631/15836825/43bcd48e-2bfc-11e6-9f92-

[2016-06-06 20:54] mindctrl commented on #536
Note: we've had to work around `get_expiration_date()` behavior in the past here: https://github.com/restrictcontentpro/restrict-content-pro/issues/339

[2016-06-06 21:29] mindctrl commented on #533
The payment and level meta get/add/update/delete methods work fine here.

[2016-06-06 21:29] pippinsplugins commented on #533
Time to merge!

[2016-06-06 21:30] pippinsplugins commented on #533
Not closing until we have unit tests added.

[2016-06-06 21:36] pippinsplugins commented on #392
Members hasn't been updated to use the new counts yet.

That does then beg the question: which is correct . . .

[2016-06-06 21:36] pippinsplugins commented on #392
Can you install `WP Crontrol` plugin and manually run the rcp recount cron job?

[2016-06-06 21:38] pippinsplugins commented on #392
Hmmm updating member counts is a bit trickier. Right now the counts are affected by:
- recurring (yes/no)
- subscription level
- status
- search

Our new count method only works with
- subscription level
- status

[2016-06-06 21:55] pippinsplugins commented on #497
Moving to 2.7.

[2016-06-06 21:56] michaelbeil commented on #368
Still having an issue here.

[2016-06-06 21:58] pippinsplugins commented on #392
How about we remove the `Recurring Yes/no` filter. Frankly I don't think it's _that_ valuable and, at least for now, it really blocks our ability to dramatically speed up this page.

[2016-06-06 22:04] carter2422 commented on #392
Seems to me that *Active* should include all members whom have a subscription and are not yet expired.

And I have no problem removing the Recurring filter; I never use it.

[2016-06-06 22:10] pippinsplugins commented on #392
@carter2422 that's what active already refers to, unless a search term has been entered, then it is the number of active members that match that search term.

I think we can go ahead and do the following:

1. Remove the recurring filter
2. Use the new count method for default status
3. Continue to use the old count method when a search term is entered

[2016-06-06 22:21] carter2422 commented on #392
👍

[2016-06-06 23:47] michaelbeil commented on #417
This works fine for me here.

[2016-06-07 01:28] #417 closed

[2016-06-07 01:32] pippinsplugins commented on #368
The dates array looks correct to me. The beginning of last week is 5/30 and the end of last week is 6/30.

[2016-06-07 01:35] pippinsplugins commented on #368
I see what it is. We accounted for this in EDD with this:
[code]

[2016-06-07 01:39] pippinsplugins commented on #368
This one is making my head hurt. I'm going to punt it to 2.6.3.

[2016-06-07 02:07] mindctrl commented on #368
The `data` array passed to `.plot` is empty:

![image](https://cloud.githubusercontent.com/assets/1254870/15843740/8d83c150-2c32-11e6-991b-aad8e36e7a09.png)

because the `while` loop is only checking the day, not the month and day. `30` is never `<=` to `05`.

[2016-06-07 06:36] madvik commented on #417
Thanks

[2016-06-07 16:00] pippinsplugins commented on #533
Tests passing!

[2016-06-08 12:36] pippinsplugins opened #538 "Update all calls to wp_remote_* for new response types"
For WordPRess 4.6, the `wp_remote_post()` and `wp_remote_get()` functions are being updated to return an object instead of an array. The returned object implements array access so the following should still work, but to be safe we need to update all of our code to use the helper functions for retrieving the body, response code, headers, etc.

[code]

That should become:

[code]

The return types a

[2016-06-08 22:31] cliffordp opened #539 "Support Forums help link goes to 404"
from `/wp-admin/admin.php?page=rcp-settings`

![image 2016-06-08 at 5 31 06 pm](https://cloud.githubusercontent.com/assets/1812179/15913330/ee0c815c-2d9e-11e6-9919-8a3db9f15f83.png)

links to https://pippinsplugins.com/plugin-support/forum/restrict-content-pro, which is a 404

[2016-06-08 22:35] cliffordp opened #540 "Constantly recurring PHP Notices for "Trying to get property of non-object""
1)

2)

[2016-06-09 01:25] mindctrl commented on #540
@cliffordp how are you triggering these notices? Can you tell me how to reproduce it?

[2016-06-09 12:42] cliffordp commented on #540
I'm not certain. They've been in my debug.log for a long time (months).

I'm on RCP Version 2.5.4 and have the latest version of WP, my theme, and all my plugins.

1)
Looking into the code, I see those 3 lines use these functions:
`rcp_is_paid_content( $post->ID )`
`! rcp_user_can_access( $user_ID, $post->ID )`
`rcp_is_post_taxonomy_restricted( $post->ID, $taxonomy )`

Those seem like pretty basic

[2016-06-09 14:20] pippinsplugins commented on #540
How are you setting up `$user_ID`?

[2016-06-09 17:23] cliffordp commented on #540
I didn't customize anything (i.e. setting up `$user_ID`)... I was just copying those functions from the line numbers referenced in the notices.

I really haven't used RCP much but I know it's setup; I'm just not using it regularly (all the more reason I don't have any customizations).

[2016-06-09 22:06] pippinsplugins opened #544 "Amount not properly sanitized in IPN verification"
The amount comparison done in the PayPal standard IPN fails sometimes because one of the amounts is not properly sanitized, which can result in one number having decimals and one not.

Example ticket where it happened: https://secure.helpscout.net/conversation/207731955/35077/?folderId=841781

[2016-06-09 22:59] pippinsplugins commented on #540
`$user_ID` is not set automatically. Replace that with `get_current_user_id()`. That should fix it.

[2016-06-10 19:54] #539 closed

[2016-06-13 12:46] mrpritchett commented on #335
I'd also like to add that it would be a huge deal to be able to add free trials with no payment info up front? So the user would be forced to pay for their plan (provide CC info, etc) X days after signing up for free trial. Would love to help out with coding this.

[2016-06-13 13:07] pippinsplugins commented on #335
@mrpritchett That's one of the elements we hope to cover in this :)

[2016-06-13 17:50] pippinsplugins opened #546 "Apple Pay through Stripe"
https://stripe.com/apple-pay

Oh yes.

[2016-06-13 19:24] pippinsplugins commented on #516
@mindctrl @michaelbeil this is ready for testing! I've adjusted the `can_access()` method to account for the new UI.

[2016-06-14 03:00] #507 closed

[2016-06-14 03:00] #505 closed

[2016-06-14 11:49] mindctrl commented on #516
@pippinsplugins this seems to be working great.

[2016-06-14 13:36] pippinsplugins commented on #516
@mindctrl did you happen to test with content that was configured with the previous UI?

[2016-06-14 13:58] mindctrl commented on #516
@pippinsplugins yep, both existing content and new content. Restricted via access level, user level, and subscription level. Tested taxonomy restrictions too.

Just found an issue with the UI not showing properly for content restricted only via user level. The page loads and shows "Everyone" but the restrictions are set to specific user level. Likely just a little javascript. Will look at it in a

[2016-06-14 14:04] pippinsplugins commented on #516
Fantastic.

[2016-06-14 14:07] mindctrl commented on #516
Sorry, the UI was right, I was a bit confused, but I think we may need to adjust this. Check out this UI pattern.

![image](https://cloud.githubusercontent.com/assets/1254870/16045664/70f6f27e-3217-11e6-8b9d-aa1231974154.png)

The UI says "Everyone" has access, but that's not technically true because the Editor role restriction is in place below. Going to explore this a bit. Have any thoughts?

[2016-06-14 14:14] pippinsplugins commented on #516
Well that's confusing. Thinking,

[2016-06-15 13:46] mindctrl opened #548 "Support for per-level auto-renewal settings"
We've had requests for the auto-renew settings to be configurable at the subscription level instead of, or in addition to, the global level.

[2016-06-15 20:07] pippinsplugins opened #549 "Stripe: set currency on customer when first creating them"
When a Stripe purchase alters the initial amount with signup fees, and the store currency is different than that of the stripe account, subscriptions will fail to correctly be made as the balance alteration sets the newly created customer's currency as the Stripe account default, but the subscription is in the store currency, which is now different.

After discussing with Stripe, the method used i

[2016-06-15 20:19] pippinsplugins commented on #549
Ready for testing.

To test:

1. Set site currency to a non-USD currency
2. Log out
3. Purchase a subscription that includes a signup fee or discount with a brand new customer (must not exist in Stripe yet)
4. Confirm all amounts are correct

[2016-06-15 21:53] pippinsplugins commented on #516
I haven't come up with a good alternative to what we have. I'm okay with leaving it as is. Any objections?

[2016-06-15 21:56] michaelbeil commented on #516
I would say leave it for now. If Subscriber is selected then everyone has to be registered.

Hmm ... yea, this is a bit of a dilemma.

[2016-06-15 22:12] pippinsplugins commented on #392
@carter2422 Were you able to test this further?

[2016-06-16 00:58] spencerfinnell commented on #516
What about having an "Everyone" option (like there is now) that hides the capability select box, and then a "Registered User" option that shows it and allows the cap modification?

It would be moved below the main selection box and indented in.

[2016-06-16 01:04] spencerfinnell commented on #516
And if I could have my way I would also say remove the shortcode text in favor of the documentation link only (or nothing at all).

Crazy how much better this looks though! 👍

[2016-06-16 14:08] pippinsplugins commented on #516
We could add `Registered User` to the drop down but we'd also need to account for admins that want to restrict content to certain subscription levels or access levels _and_ specific roles.

To do that, I think the role selection needs to be separate.

[2016-06-16 14:31] spencerfinnell commented on #516
The role selector would still show when "based on subscription level" or "based on access" level is selected.

That being said I can't get that pattern to show pulling that branch?

[2016-06-16 14:59] pippinsplugins commented on #516
Well that's not quite right either because some admins may want to restrict only by user role and not by sub or access level.

Right now the role drop down is always shown and not controlled at all by the drop down.

[2016-06-16 15:17] spencerfinnell commented on #516
Not for me. Cleared cache and script debug on.

My thoughts:

Everyone: https://cldup.com/JOJbKflnQo.png
Role: https://cloudup.com/cGnDeV8RXDB

The other two would remain the same.

[2016-06-16 15:20] pippinsplugins commented on #516
I like that proposal except that is prohibits the ability to set a subscription level _and_ and a user role, which I know for sure some people do.

[2016-06-16 15:30] mindctrl commented on #516
We may need to make the top level select control a unrestricted/restricted one, then show the select control for the restriction types along with the additional options stuff. I can tinker with that later tonight if everyone agrees with that idea.

[2016-06-16 15:32] spencerfinnell commented on #516
Everyone: https://cloudup.com/c1C9V6YZyY7
Registered: https://cloudup.com/cOzCQBUDNB6 -- I think wording could be better, and the "All" selector does not really make sense if that is selected, as all would allow Guests to see it?
Subs: https://cloudup.com/c0twTbg3Kvc
Access: https://cloudup.com/ckew5Uqazh4

[2016-06-16 16:19] pippinsplugins commented on #516
ah! Yes, I like that!

[2016-06-16 16:22] spencerfinnell commented on #516
I did the basic toggling in stuff in that same branch. Want me to push it up? Still missing setting the current selections and stuff though.

[2016-06-16 16:26] pippinsplugins commented on #516
Yes please!

[2016-06-16 16:29] spencerfinnell commented on #516
https://github.com/restrictcontentpro/restrict-content-pro/pull/547/commits/734a854b9f453bf2bd8057c22fe32b37bf1a7c72

[2016-06-17 16:18] pippinsplugins commented on #516
Works great @spencerfinnell!

[2016-06-17 16:22] mindctrl commented on #516
I want to put some JS triggers in here before we finalize it, so we can do things with add-ons based on these selections. Will push those up to this sometime later today.

[2016-06-17 16:23] pippinsplugins commented on #516
I'm working through the save routine a bit. @mindctrl I'll post when done then you can take over.

[2016-06-17 16:26] pippinsplugins commented on #516
Okay @mindctrl, all yours!

[2016-06-17 20:03] michaelbeil opened #553 "Make admin notices dismissable"
Currently the `Please enter and activate your license key for Restrict Content Pro to enable automatic updates.` is not dismissable, nor is the expired notice.

![screen shot 2016-06-17 at 2 57 13 pm](https://cloud.githubusercontent.com/assets/4752949/16162903/eee346b6-349b-11e6-909f-91a00ec41eaf.png)

We should make these notices dismissable as we did in AffiliateWP: https://github.com/AffiliateW

[2016-06-17 20:07] pippinsplugins commented on #553
Yep!

[2016-06-20 17:53] pippinsplugins commented on #544
Going to merge this in and then put it on pippinsplugins.com

[2016-06-20 17:54] #544 closed

[2016-06-20 18:17] pippinsplugins commented on #538
Ready for testing.

[2016-06-20 18:30] #414 closed

[2016-06-20 18:34] pippinsplugins commented on #518
This is ready for review @michaelbeil and @mindctrl

[2016-06-20 18:35] pippinsplugins commented on #516
Everything merged into `release/2.6`.

[2016-06-20 18:38] pippinsplugins commented on #516
Found a bug.

`Restrict this Content` on `master`:
![screen shot 2016-06-20 at 1 37 14 pm](https://cloud.githubusercontent.com/assets/1034109/16206023/290f4e64-36ec-11e6-8e50-475e6f8a1c0d.png)
Same post on `release/2.6`:
![screen shot 2016-06-20 at 1 38 01 pm](https://cloud.githubusercontent.com/assets/1034109/16206038/3aa69434-36ec-11e6-990a-82b250dff173.png)

[2016-06-20 18:48] pippinsplugins commented on #516
We need to properly handle the redirection for the `Hide Premium Content` option before we close this.

[2016-06-20 19:05] pippinsplugins commented on #516
Ok I've just pushed up some significant changes that removes some of the reliance on the old `is_paid` flag.

@michaelbeil @mindctrl can you both give this a test please?

Items that still need addressed:

- How do we handle the `rcp_get_paid_posts()` function? It is used in `rcp_hide_premium_posts()` to remove posts that are "premium". We don't really have "premium" and non "premium" anymore like

[2016-06-20 19:10] pippinsplugins commented on #251
Before:
![screen shot 2016-06-20 at 2 09 39 pm](https://cloud.githubusercontent.com/assets/1034109/16207005/a7d9df62-36f0-11e6-925e-90faddf1dd09.png)
After:
![screen shot 2016-06-20 at 2 10 06 pm](https://cloud.githubusercontent.com/assets/1034109/16207014/b4f75d32-36f0-11e6-901c-d591409fe043.png)

This worries me.

Do you guys think I'm just being paranoid?

[2016-06-21 01:23] pippinsplugins commented on #186
In order to backfill this, I vote we grab the date of the earliest payment.

We should also store the join date per subscription level.

[2016-06-21 14:35] pippinsplugins commented on #186
PR ready for testing.

I've introduced four new methods in the `RCP_Member` class:
- get_joined_date()
- set_joined_date()
- get_renewed_date()
- set_renewed_date()

Dates are set on a per-subscription level basis.

For old accounts created before this change, the joined date is determined by the date of the member's first payment for their current subscription level.

[2016-06-21 14:36] pippinsplugins commented on #186
Additional items to consider:
- We could show the joined / renewed date on the member details screen.
- For members that have expired and then come back to renew manually, should we reset the joined date or leave as is?

[2016-06-21 14:51] carter2422 commented on #186
This won't work for *a lot* of members. For example, any member that's ever upgraded to a different plan or come back after an absence and joined a different plan.

Any reason not to just use first payment date, regardless of plan?

I'd vote for the `Join Date` representing the first signup. This is the number that is really valuable, since it lets you determine how long a customer has been around

[2016-06-21 15:27] pippinsplugins commented on #186
@carter2422 I'm setting the date per subscription specifically to account for cases where access to content is limited by time since registration. Take a scenario will content is made accessible 3 months after registration to a paid plan. If the site gives a free plan with limited access, using a single registration date won't work since a member could sign up for the free plan, wait three months,

[2016-06-21 15:35] carter2422 commented on #186
@pippinsplugins might be worth storing the original join date and then a `days on plan` then.

[2016-06-21 16:15] pippinsplugins commented on #186
@carter2422 Is the join date in your scenario really any different than the `user_registered` date?

[2016-06-21 16:22] carter2422 commented on #186
@pippinsplugins yes because `user_registered` date is when a free account is created not necessarily when a paid membership began.

[2016-06-21 16:53] pippinsplugins commented on #186
@carter2422 See, that's why we need it stored per level ;)

[2016-06-21 18:33] pippinsplugins opened #557 "Show "cancel subscription" checkbox when manually changing status from active to cancelled"
We have had several customers unknowingly fail to cancel a customer's subscription because they went to the edit screen and changed the status from Active to Cancelled.

Right now, payment profiles are only cancelled if the "Cancel" link is clicked on the Members page. We should update the edit screen to show a "Cancel subscription" checkbox when the status is changed to Cancelled and the subscrip

[2016-06-22 17:09] mindctrl opened #558 "Subscription renewal reminder email"
We've had several requests for an option that emails customers prior to their renewals coming up. We have one for expiring soon, but that only works for non-recurring members.

This would be a reminder that says something like "hey, we're billing your subscription renewal on X day" kind of thing. This is particularly useful for subscriptions with longer periods like a year, where people forget, ge

[2016-06-22 19:08] mindctrl opened #559 "Add rcp_recurring field to members CSV export"
Currently the member export doesn't include the rcp_recurring usermeta field. This would be useful for custom reporting, migrating data, and such.

[2016-06-22 20:17] pippinsplugins commented on #558
We built this into Recurring Payments for EDD so could easily take some logic from that.

[2016-06-24 14:31] mindctrl opened #560 "Discount use count gets incremented before payment is completed"
When processing a registration, we increase the discount code uses before handing the registration off to the payment gateway. This results in counts getting improperly increased if a payment fails or the person fails to complete registration.

[2016-06-24 20:37] pippinsplugins commented on #536
To take care of this, I have decided to add a `$pending` flag to `get_expiration_date()` with a default value of `true`. Only if `$pending` is `true`, do we retrieve the pending date (if there is one). `rcp_get_expiration_date()` passes `false` to `$pending` so that it always retrieves the current date. This function is never used internally for calculations so this is safe.

[2016-06-24 20:38] pippinsplugins commented on #513
Moving this to 2.6.3.

[2016-06-24 20:45] pippinsplugins commented on #392
Moved the member counts from wp_options to subscription meta.

[2016-06-26 21:27] mindctrl commented on #549
I'm getting an error when the RCP currency doesn't match the Stripe account.

[code]

This was a new customer that did not exist in Stripe.

[2016-06-26 22:06] pippinsplugins commented on #549
Hmm, that's exactly the error that is supposed to be prevented by this. Will look again.

[2016-06-27 13:20] mindctrl commented on #538
@pippinsplugins @michaelbeil this looks good to me in Stripe, but I'm having some issues with PayPal that I don't think are related to this. Can someone else verify PayPal works for them and payments show up in RCP?

[2016-06-27 13:31] pippinsplugins commented on #538
@mindctrl what's the error message?

[2016-06-27 13:35] mindctrl commented on #538
@pippinsplugins no error messages. No debug notices. BTW I was testing Express.

[2016-06-27 13:36] mindctrl commented on #536
This isn't working for me. I still see the pending expiration date if I bail on paying and come back to the site.

[2016-06-27 13:38] pippinsplugins commented on #538
@mindctrl k, I'll test again as soon as I'm on the desktop (laptop cannot connect because of MAMP's SSL).

[2016-06-27 13:39] pippinsplugins commented on #536
@mindctrl Can you tell me where it shows the pending date and where it shows the old date?

[2016-06-27 13:41] mindctrl commented on #536
@pippinsplugins the pending date is showing in the [subscription_details] shortcode output, from the call in subscription.php.

The old date correctly shows in the admin.

[2016-06-27 13:43] mindctrl commented on #518
This is what I see by default now:

![image](https://cloud.githubusercontent.com/assets/1254870/16381650/8f43793a-3c4b-11e6-9ff5-42417b58f5f3.png)

Didn't we intend on this showing this instead?

![image](https://cloud.githubusercontent.com/assets/1254870/16381661/9dd8a862-3c4b-11e6-8df0-173d9aafab25.png)

[2016-06-27 13:44] mindctrl commented on #518
Oops commented on wrong issue.

[2016-06-27 13:45] pippinsplugins commented on #536
Thanks.

[2016-06-27 13:46] mindctrl commented on #518
The tooltip feature is working great here.

[2016-06-27 13:51] mindctrl commented on #489
This looks good to me. Only thing I see is a user that doesn't have access can see comments, but I think that's because it's not merged into all the new `release/2.6` stuff where we're reworking the restriction UI and things underneath.

Let's leave this open until it's merged in with everything for one final test.

[2016-06-27 13:55] pippinsplugins commented on #518
All text look good? Any missing tooltips?

[2016-06-27 13:55] pippinsplugins commented on #489
:+1:

[2016-06-27 14:42] mindctrl commented on #251
The new look makes the form feel a good bit longer, and some folks might not like it, but I think it looks more in line with what most forms on the web look like these days. I think I'm ok with this.

[2016-06-27 14:57] mindctrl commented on #186
I'm a little confused. To summarize the dates we have and/or want:

**User Registered Date:** WordPress account creation date, not always related to a member's subscription date. We do nothing here.

**Initial Join Date:** The *very first time* the member registered for *any* subscription (first payment). Useful for finding out how long a member has been a subscriber (obviously excluding any lapse

[2016-06-27 14:59] pippinsplugins commented on #549
@mindctrl I don't think that's a bug. I just replicated it and it happened because the plan I tried to register for had been created in Stripe prior to me changing the currency to `EUR`.

Once I created a new plan, everything worked as expected.

Can you confirm?

[2016-06-27 15:00] pippinsplugins commented on #251
Let's leave it in for beta and see if we get any fallout on it.

We should probably also be prepared to do one of the following if a lot of people complain post release:

A. revert
B. have the CSS ready to go to restore the previous widths.

[2016-06-27 15:00] #251 closed

[2016-06-27 15:01] pippinsplugins commented on #186
@mindctrl that's right. I'm unsure, however, if we really need to separate user registered date and initial join date. In 99% of cases or more, those will be identical.

[2016-06-27 15:04] mindctrl commented on #518
@pippinsplugins On the `Recurring` tooltip on member edit screen:

Is it also worth mentioning the obvious, which is "This member has a recurring subscription.". So the whole thing might look something like this:

`This member has a recurring subscription. Only customers with recurring memberships will be given the option to cancel their membership on their subscription details page.`

Also added

[2016-06-27 15:07] pippinsplugins commented on #536
@mindctrl fixed e902942

[2016-06-27 15:09] pippinsplugins commented on #518
Updated but added `If checked` to the front.

[2016-06-27 15:10] mindctrl commented on #536
@pippinsplugins looks good now.

[2016-06-27 15:11] mindctrl commented on #518
Looks good.

[2016-06-27 15:17] pippinsplugins commented on #518
Merge conflicts with `release/2.6` were nasty. Can you give it another once over?

[2016-06-27 15:18] #536 closed

[2016-06-27 15:28] mindctrl commented on #518
@pippinsplugins I see some leftover merge stuff at very top of `includes/css/admin-styles.css`. Otherwise looks good.

[2016-06-27 15:33] pippinsplugins commented on #392
@carter2422 @mindctrl this is ready for further testing. Members page now uses static counts if there is no search term.

[2016-06-27 15:39] mindctrl commented on #549
@pippinsplugins yep, it works fine when I create the plan after switching to EUR, which sounds right to me. I think we're good here.

[2016-06-27 15:51] mindctrl commented on #392
@pippinsplugins when filtering, the counts don't match the subscription. Could also do the query counts when filtering like we do with search?

![image](https://cloud.githubusercontent.com/assets/1254870/16386085/5fcd29f0-3c5d-11e6-880f-9c7dfc9052bc.png)

I only have 3 members on that subscription.

[2016-06-27 16:00] pippinsplugins commented on #392
Manually run cron. Do they match then?

On Monday, June 27, 2016, John Parris <notifications@github.com> wrote:

[2016-06-27 16:01] mindctrl commented on #392
No, the code only does the real query if searching, not filtering. Different `$_GET` var.

[2016-06-27 16:44] pippinsplugins commented on #392
@mindctrl mine are matching. I'll put this up on my live site to test further.

[2016-06-27 16:45] #549 closed

[2016-06-27 16:57] michaelbeil commented on #251
Seems as if my comment never went through on this, but I am ok with testing as is and reverting if we get negative feedback.

[2016-06-27 17:32] pippinsplugins commented on #538
Payment for PayPal Express one-time worked properly. Will test subscription now.

[2016-06-27 17:36] pippinsplugins commented on #538
All good.

[2016-06-27 17:36] #538 closed

[2016-06-27 17:39] pippinsplugins commented on #489
@mindctrl merged into `release/2.6` so we can test it further now.

[2016-06-27 17:43] mindctrl commented on #489
@pippinsplugins looks good now.

[2016-06-27 17:47] pippinsplugins commented on #392
@mindctrl I just tested this on pippinsplugins.com and it appears to be working properly. I'm fairly certain your counts are incorrectly locally because of test data.

[2016-06-27 17:47] pippinsplugins commented on #392
I'm going to merge into release/2.6 so we can continue to test further and get it in beta.

[2016-06-27 17:49] #489 closed

[2016-06-27 18:12] mindctrl commented on #392
Working good now with latest commit.

[2016-06-27 18:18] pippinsplugins commented on #392
Closing then. We can re-open if any issues are discovered.

[2016-06-27 19:39] mindctrl commented on #186
Join dates look good here now. Properly saved during new registrations and upgrades.

[2016-06-27 19:40] #398 closed

[2016-06-28 01:22] michaelbeil commented on #516
This is looking good.

Still thinking on the `rcp_get_paid_posts()` function.

Should we check if a member has access on single views by adding `rcp_user_has_access` to `rcp_redirect_from_premium_post`?

[2016-06-28 13:21] mindctrl commented on #516
For `rcp_get_paid_posts()` and `rcp_hide_premium_posts()`:

Last night in Slack we considered the option of saving the `_is_paid` meta behind the scenes, if any subscription level assigned to a post's restriction settings has a price more than $0, to keep things simple for now.

[2016-06-28 13:42] mindctrl commented on #518
There's another instance of `update_user_meta()` missing the third parameter in `set_renewed_date()`.

[2016-06-28 13:57] pippinsplugins commented on #518
Fixed.

[2016-06-28 13:57] #518 closed

[2016-06-28 14:00] pippinsplugins commented on #516
I vote we do the following:

1. Maintain the `_is_paid` meta key and store it anytime the post's configuration uses a paid subscription
2. Keep `rcp_get_paid_posts()` as is but mark as deprecated. In the future we should work out a way to introduce `rcp_get_members_content()` or similar
3. Keep `rcp_hide_premium_posts()` as is but work out a way in the future to make it more robust so as to not re

[2016-06-28 16:25] carter2422 opened #562 "Stripe Checkout: Submit Payment should be disabled until form validations pass"
The **Submit Payment** button with Stripe Checkout should really be disabled until all forms are filled out. Currently it can lead to a very confusing user flow if the user submits payment without filling out their details as it _appears_ as a payment has been submitted (it hasn't). The main reason for this is the green checkmark animation on the checkout form suggests success.

[2016-06-28 16:26] carter2422 opened #563 "Auto-fill Stripe Checkout Email with entered email"
When a user is creating an account and subscribing in one step the entered email should be pre-filled in Stripe Checkout to reduce steps and prevent confusion.

[2016-06-28 16:51] pippinsplugins commented on #563
@carter2422 it is pre-filled already.

[2016-06-28 17:16] madvik opened #564 "Function proposition rcp_is_sandbox()"
I search this function, so I create it.
[code]

[2016-06-28 20:40] wpmarmite commented on #563
Hey guys,
Actually, it was working for me at first but in some case it didn't work.

[2016-06-28 21:29] pippinsplugins commented on #563
Hmm, okay we'll dig into it.

[2016-06-28 21:40] mindctrl opened #565 "Registration form throws error message when only free subscriptions are activated"
The following error message shows on the registration form page:

`An error occurred, please refresh the page and try again.`

under the following conditions:

- only subscription levels that are free are activated
- the currently logged in user already has a free subscription

It comes from `rcp_calc_total_ajax()`.

[2016-06-29 03:01] carter2422 commented on #563
@pippinsplugins for me it's only filled if I'm logged in.

[2016-06-29 14:15] pippinsplugins commented on #563
Is this on the main registration form or a Stripe Checkout only form?

[2016-06-29 15:57] pippinsplugins commented on #516
@michaelbeil could you do another round of testing on this now? `_is_paid` is now kept when saving posts.

[2016-06-29 22:50] michaelbeil commented on #516
Things are looking good, except that when selecting "Everyone" and saving the page, the metabox options are changed.

Before updating the page:

![screen shot 2016-06-29 at 5 50 05 pm](https://cloud.githubusercontent.com/assets/4752949/16471387/f6204e62-3e21-11e6-90fd-fdd442ba492c.png)

After updating the page:
![screen shot 2016-06-29 at 5 48 22 pm](https://cloud.githubusercontent.com/assets/4752

[2016-06-30 00:50] carter2422 commented on #563
Stripe Checkout only.

[2016-06-30 16:25] mindctrl opened #566 "Payment Received Emails get sent even when disabled"

[2016-06-30 17:37] michaelbeil commented on #516
Paid subscriptions are hiding content appropriately.

[2016-06-30 17:45] #566 closed

[2016-06-30 17:54] michaelbeil opened #570 "Change Stripe i18n parameter to locale"
Language parameter should be `locale` and not `local`.

Source: https://support.stripe.com/questions/what-languages-does-stripe-checkout-support

 #568 and https://github.com/restrictcontentpro/restrict-content-pro/commit/a3e2211214425c6175565755b807ed5fd0a2e326

[2016-06-30 18:04] #570 closed

[2016-06-30 21:02] mindctrl commented on #516
@michaelbeil can you pull down `release/2.6` again and give that dropdown thing another test?

[2016-06-30 21:50] pippinsplugins commented on #516
@mindctrl close. We need to delete role setting when changing back to `Everyone`.

Set to and save:
![screen shot 2016-06-30 at 4 49 28 pm](https://cloud.githubusercontent.com/assets/1034109/16505450/aa0e01ba-3ee2-11e6-80de-349739b6d62b.png)
Now set back to Everyone and it won't save properly. Only saves if the role is changed back to All.

[2016-06-30 22:27] mindctrl commented on #516
Good catch. Pushed another update.

[2016-06-30 23:01] michaelbeil commented on #516
Looks good.

[2016-06-30 23:02] michaelbeil commented on #516
@pippinsplugins should we change this string to `paid` instead of `non-free`?

`Members of any non-free subscription level(s)`
`Members of any paid subscription level(s)`

Paid sounds better to me.

[2016-06-30 23:17] pippinsplugins commented on #516
I'm fine with either.

[2016-06-30 23:25] michaelbeil commented on #516
Ok. Changed it to paid.

[2016-07-01 13:32] pippinsplugins opened #572 "Stripe - No such plan: false"
We've seen numerous reports of `No such plan: false` occurring during signup.

Not yet sure why it happens inconsistently.

https://secure.helpscout.net/conversation/221861615/37232/?folderId=841776
https://secure.helpscout.net/conversation/215291183/36256/?folderId=841782

[2016-07-01 13:40] pippinsplugins commented on #572
Looks like this happens when invalid arguments are passed to Stripe.
![screen shot 2016-07-01 at 8 39 52 am](https://cloud.githubusercontent.com/assets/1034109/16523151/7994b062-3f67-11e6-854b-98cde1c5fa56.png)

Let's get some better error handling in here.

[2016-07-01 13:54] pippinsplugins commented on #572
I added better error handling that will display the actual API error returned by Stripe. While this does not prevent the error from happening, it does make it much easier to identify the mis-configuration that caused the error.

[2016-07-01 14:02] mindctrl commented on #572
Works here. When tested with a duration > 12 months, the following error is shown:

![image](https://cloud.githubusercontent.com/assets/1254870/16523723/d9be42ea-3f72-11e6-8384-b9c366bff85a.png)

Also tested with a new 12 month plan and works as it should.

[2016-07-01 14:05] #572 closed

[2016-07-01 15:20] pippinsplugins commented on #516
:+1:

[2016-07-01 17:32] wpmarmite commented on #563
Hey guys,
I managed to load the email from the email field (which is a text input BTW) with this code :

`jQuery('#rcp_registration_form #rcp_user_email' ).focusout(function() {`
`	 checkoutArgs.email = jQuery('#rcp_registration_form #rcp_user_email' ).val();`
`});`

I guess that the checking occurs only at the loading of the form so the field is always empty...

I'm not a JS expert so I won't do

[2016-07-01 18:17] mindctrl commented on #563
@wpmarmite that looks about right. Thanks! We'll do some testing.

[2016-07-04 14:08] mindctrl commented on #533
We discussed renaming the table from rcp_subscription_meta to something like `rcp_subscription_level_meta` for more clarity.

[2016-07-05 19:39] pippinsplugins commented on #516
@mindctrl @michaelbeil can we get one final round of testing on this today / tomorrow so we can close it out for good?

[2016-07-05 19:57] pippinsplugins commented on #533
@mindctrl please go ahead and change it.

[2016-07-06 15:44] pippinsplugins commented on #533
Table name updated.

Note: you will need to deactivate and reactivate RCP in order to create the new table if the beta has already been installed on the site you're testing.

[2016-07-06 15:44] #533 closed

[2016-07-06 15:48] pippinsplugins commented on #516
Everything is working great for me. I'm going to close. Let's re-open if anything pops up.

[2016-07-06 15:48] #516 closed

[2016-07-06 20:01] pippinsplugins opened #574 "Add recurring Yes|No flag to CSV export"
We should add a column to the member CSV export that shows the recurring status.

[2016-07-06 20:07] mindctrl commented on #574
Duplicate of https://github.com/restrictcontentpro/restrict-content-pro/issues/559

[2016-07-06 20:07] #574 closed

[2016-07-06 21:49] pippinsplugins commented on #392
There's a bug somewhere in the new sub member count stuff. easiest way to see it is set up a new site, reg a new member and see how the counts are off by one. first user reg'd showed 2 counts. did two more new members, for a total of 3, and ended up with a total count of 5.

[2016-07-07 15:04] pippinsplugins commented on #392
Found a second issue while testing this:
![screen shot 2016-07-07 at 10 03 25 am](https://cloud.githubusercontent.com/assets/1034109/16657954/16b2e384-442a-11e6-8c15-2e4f7173b543.png)

That's a brand new site where I just registered a new pending member. The pending count shows as 0.

[2016-07-07 15:07] pippinsplugins commented on #392
Another issue. If an active member purchases a second subscription that is the same level as they already have, the count goes up improperly.

[2016-07-07 17:52] michaelbeil opened #577 "Update French translation"
Props to Patrick Lamotte.

[2016-07-07 18:09] #577 closed

[2016-07-07 19:41] #392 closed

[2016-07-07 22:13] michaelbeil opened #579 "Rework the level URL query to match the subscription ID"
The `register/?level=` URL query simply takes the subs that are active in the order that they are in on the subscription levels page in RCP and then selects the associated subscription on the register form.
![screen shot 2016-07-07 at 4 59 53 pm](https://cloud.githubusercontent.com/assets/4752949/16671291/42966018-4464-11e6-86d0-dfef3eda39eb.png)

In the example above, the `45 Days` sub is first u

[2016-07-07 22:13] colinhowells opened #580 "PHP7 compatibility errors thrown by WPEngine's PHP compatibility plugin"
The very handy [PHP Compatibility Checker plugin] (https://wordpress.org/plugins/php-compatibility-checker/) from WPEngine has some things to say about RCP 2.6 and PHP 7 - just letting you know as an FYI

file: /foo/wp-content/plugins/restrict-content-pro/includes/class-rcp-export.php
line 49 | ERROR | INI directive 'safe_mode' is deprecated from PHP 5.3 and forbidden from PHP 5.4.

file: /foo/wp-

[2016-07-07 22:18] pippinsplugins commented on #580
Thanks for the report! We'll get those taken care of as best we can!

[2016-07-08 13:27] pippinsplugins opened #581 "Content not restricted if Paid Only is only option checked"

[2016-07-08 13:27] pippinsplugins opened #582 "Restore rcp_is_paid_content()"

[2016-07-08 13:28] pippinsplugins commented on #581
This gets resolved by taking care of https://github.com/restrictcontentpro/restrict-content-pro/issues/582

[2016-07-08 13:30] pippinsplugins commented on #581
The Restrict this Content box shows `Everyone`.

[2016-07-08 15:42] michaelbeil commented on #582
This was fixed in #583.

[2016-07-08 15:42] #582 closed

[2016-07-08 15:42] michaelbeil commented on #581
This was fixed in #583.

[2016-07-08 15:42] #581 closed

[2016-07-08 15:44] michaelbeil commented on #579
Related: https://github.com/easydigitaldownloads/EDD-Site/issues/907

[2016-07-11 14:53] mindctrl opened #584 "Bug in the "Restrict this content" UI"
When adding back the `_is_paid` check in https://github.com/restrictcontentpro/restrict-content-pro/commit/1e451226b109bb33403406e05ead8cf18c001827, it exposed a bug we have in the save metabox logic for the 'any' subscription level setting.

When 'any' is selected, we are still looping through the subscription levels to determine if a price is set on any sub level in the system, and setting `_is_

[2016-07-11 15:04] mindctrl commented on #584
Hmm we're also going to need to address the way `rcp_is_paid_content()` is handling `any`.

[2016-07-11 15:06] mindctrl commented on #584
Eh, disregard my previous comment re: `rcp_is_paid_content()`. I had the old version open.

[2016-07-11 15:18] mindctrl commented on #584
We do need to address visibility for this setting though. Working on that now and testing.

[2016-07-11 20:54] mindctrl commented on #584
https://github.com/restrictcontentpro/restrict-content-pro/commit/f1c4ad320da69e70aaa6a8e7f53b2cb5c5936619 introduced a bug in `rcp_filter_restricted_content()` because it returns early due to this:
[code]

The problem is, `rcp_is_restricted_content()` doesn't run taxonomy restriction checks.

We can revert this change, or add taxonomy checks to the function. For now I'd prefer to revert and spend

[2016-07-11 20:55] mindctrl commented on #584
By reverting I mean the return early part only.

[2016-07-11 21:02] #584 closed

[2016-07-12 15:53] mindctrl opened #586 "Remove reference to Paid Only checkbox setting"
Under _Restrict > Settings > Misc_, the _Hide Premium Posts_ setting refers to the checkbox option we removed in #516. We should update the description.

[2016-07-12 17:18] michaelbeil opened #587 "Add post class to the_content when restricted"
Reference: https://wordpress.org/support/topic/add-body-class-1

[2016-07-13 04:42] bekarice opened #588 "Invoices no longer display company email"
Prior to 2.6, the "Email" setting for invoices was displayed below the company address. As of 2.6, this email is no longer displayed. Not sure if it's an intentional change, feel free to close if so 😸

[2016-07-13 13:39] pippinsplugins commented on #588
Not intentional, thanks for the report!

[2016-07-14 18:54] mindctrl commented on #565
Just took a closer look at this. It happens because we return false here: https://github.com/restrictcontentpro/restrict-content-pro/blob/2.6.3/includes/subscription-functions.php#L319-L320

There are no subscription levels to process, and that causes the error.

A couple thoughts. We could allow free forever to show. I can see use cases for that. But if someone only has one free level, the error

[2016-07-14 23:42] mindctrl commented on #565
I like that!

[2016-07-15 11:14] mindctrl opened #589 "Remove extract() from all shortcodes"
@ramiy has already created a PR here: https://github.com/restrictcontentpro/restrict-content-pro/pull/506. Creating the issue for tracking.

[2016-07-16 14:31] mindctrl opened #590 "Delete member count metadata when a subscription level is deleted"
Right now the member count meta isn't deleted from the db when a subscription level is deleted. We should remove it just to clean things up.

[2016-07-17 13:21] pippinsplugins commented on #590
We could do this in core and have it automatically delete all metadata from add-ons too. Just need to delete all rows that match the level ID.

[2016-07-18 13:38] pippinsplugins opened #591 "Add context parameter to strtotime() to ensure timezone is respected"
The `is_expired()` method of `RCP_Member` uses `strtotime( 'NOW' )` but does not include the context parameter so it does not always respect the site's timezone configuration.

We need to change it to `current_time( 'timestamp' )` or to `strtotime( 'NOW', current_time( 'timestamp' ) )`.

[2016-07-19 12:52] mindctrl opened #592 "Subscription name blank in emails for manually added users"
When adding a user manually, the `%subscription_name%` is empty in the email sent to the member. This is because we set the member status before setting the subscription level meta here: https://github.com/restrictcontentpro/restrict-content-pro/blob/2.6.3/includes/process-data.php#L122-L127

[2016-07-19 15:32] michaelbeil commented on #588
All fixed in branch `issue/588`.

[2016-07-19 17:13] mindctrl opened #595 "Stripe subscription expiration dates being incorrectly extended"
Customer reported, and I've confirmed in tests, that sometimes a member's expiration date is extended an additional period. This happens when Stripe sends a webhook updating the status of the $0 invoice we create to set the currency type.

I tested this 3 different times, and it happened on 2 of them. It happens almost exactly an hour after signup.

Event log listing
![image](https://cloud.githubu

[2016-07-19 17:54] mindctrl opened #596 "Stripe Checkout doesn't work with the [register_form] shortcode when an ID is specified"
When using the standard `[register_form]` shortcode with Stripe Checkout, if you specify an ID, such as `[register_form id="2"]`, you receive the following error:

`Missing Stripe token, please try again or contact support if the issue persists.`

[2016-07-19 18:01] pippinsplugins commented on #596
I believe this happens because stripe.js does not get loaded.

[2016-07-19 18:14] pippinsplugins commented on #595
Ok so it's happening because the 0.00 invoice is firing a `invoice.payment_succeeded` event.

We could either forcibly delete that invoice after the customer has been deleted or perhaps find someway to detect pseudo invoices like that and not trigger a renewal process. A small piece of metadata on the invoice would probably suffice if we are not able to just delete the invoice.

[2016-07-19 19:20] mindctrl commented on #595
It looks like we only close the temp invoice if there's a signup fee, which would explain why it only happens sometimes. Reference: https://github.com/restrictcontentpro/restrict-content-pro/blob/2.6.3/includes/gateways/class-rcp-payment-gateway-stripe.php#L151-L162

I see in https://github.com/restrictcontentpro/restrict-content-pro/issues/549 that you mentioned that setting the currency was rela

[2016-07-19 19:23] pippinsplugins commented on #595
Let's only create it if there are signup fees.

[2016-07-19 19:37] #595 closed

[2016-07-19 20:03] mindctrl commented on #596
I'm seeing the scripts loading. Not sure what's going on yet.

[2016-07-19 20:59] sanderdewijs opened #598 "Cancel link not visible"
I updated the Mollie Payments plugin to support recurring payments. The test user now has a recurring subscription, however the link to cancel the subscription is not visible. The subscription matches the three requirements for the link to show up:

- The payment gateway supports recurring subscriptions
- The member subscription is checked as recurring
- The member has a payment profile ID in his

[2016-07-19 21:06] mindctrl commented on #598
@sanderdewijs you'll need to use the filter here. We're basically whitelisting the gateways we've created. https://github.com/restrictcontentpro/restrict-content-pro/blob/2.6.3/includes/member-functions.php#L1223-L1254

[2016-07-19 21:06] #598 closed

[2016-07-21 15:24] michaelbeil opened #600 "Updated Dutch language files"
PR #599

[2016-07-21 15:42] mindctrl commented on #600
@michaelbeil these look good to you? If so we can merge.

[2016-07-21 15:43] michaelbeil commented on #600
Yep!

[2016-07-21 15:44] #600 closed

[2016-07-21 20:35] carter2422 opened #601 "Stripe Checkout: auto-renew does not set is_recurring to true"
When subscribing via the Stripe Checkout the `is_recurring` flag does not get set to `true`, even when `auto renew = always`.

It works fine in regular Stripe, though.

Tested in 2.6.3.

[2016-07-21 20:48] mindctrl commented on #601
@carter2422 is this on the regular [register_form] or on the standalone [register_form_stripe] form? Just tested on regular [register_form] and it's working. If you're using the regular [register_form], are you using the ID option with it?

[2016-07-21 20:52] carter2422 commented on #601
The regular `[register_form]` @mindctrl.

And no, not using the ID option.

[2016-07-22 22:08] mindctrl opened #602 "Discounted total calculation bug when discounted amount >= $1000"
When a discount is applied on the registration form, if the total amount after the discount is greater than or equal to $1000, the total returned is $1 instead of the correct amount. It applies to both flat rate and percentage discounts.

To replicate:
- Create a subscription level priced at $1030 or higher
- Create a flat rate discount code for $30
- Select the subscription level on the registrat

[2016-07-23 09:05] colomet commented on #431
It will be nice to enable email verification for new users.

thanks

[2016-07-25 14:46] mindctrl commented on #596
This works great.

[2016-07-25 14:47] pippinsplugins commented on #602
This happens because `calc_discounted_price()` in `RCP_Discounts` returns a formatted amount, which then gets included in raw calculations and and formatted again in RCP_Register.

[2016-07-25 14:47] #588 closed

[2016-07-25 14:52] mindctrl commented on #602
This looks good. Tested with various amounts and also with signup fees. All calculated properly.

[2016-07-25 15:01] pippinsplugins commented on #602
Added two new unit tests for testing high prices. Let's let those pass before merging.

[2016-07-25 15:03] pippinsplugins commented on #580
These can be ignored. The safe mode one is a false positive. We similar check if safe_mode is enabled.

The Stripe object may be able to be fixed by updating the Stripe API.

[2016-07-25 15:03] mindctrl commented on #564
Looks good here.

[2016-07-25 15:05] pippinsplugins commented on #580
Updated Stripe library in master.

[2016-07-25 15:05] #580 closed

[2016-07-25 15:06] pippinsplugins commented on #564
Let's merge once tests pass.

[2016-07-25 15:12] pippinsplugins commented on #563
Taking care of this on https://github.com/restrictcontentpro/restrict-content-pro/pull/604

[2016-07-25 15:28] mindctrl commented on #563
Looks good here.

[2016-07-25 15:28] mindctrl commented on #596
Works good with latest commit.

[2016-07-25 15:36] mindctrl commented on #565
This gets rid of the error message, but if someone is on a free trial and tries upgrading to an unlimited free subscription, their subscription doesn't get changed.

[2016-07-25 15:37] colinhowells commented on #580
Ah ok thanks for looking into that!

[2016-07-25 16:12] pippinsplugins commented on #565
@mindctrl why does it not get changed?

[2016-07-25 16:46] mindctrl commented on #565
It looks like we don't update the `rcp_subscription_level` meta key in `rcp_process_registration()`. The `rcp_pending_subscription_level` gets created with the new sub value but doesn't update the existing sub level because the user doesn't have an active status. https://github.com/restrictcontentpro/restrict-content-pro/blob/2.6.3/includes/registration-functions.php#L146-L166

[2016-07-25 18:52] mindctrl commented on #565
When fixing the issue I commented on above, I noticed that the error message `An error occurred, please refresh the page and try again.` shows again because there's no free trial or free forever option to upgrade/change to, so this is only a partial fix.

[2016-07-25 19:13] mindctrl commented on #565
@pippinsplugins with the fix in `rcp_show_subscription_level()`, it's still possible to see the error message from the original post.

To reproduce:

- Set up a single free forever subscription level
- Register
- Then visit the registration form again

Another way:
- Set up a free trial and a free forever
- Sub to free trial
- Move to free unlimited
- Visit reg form again

[2016-07-25 19:15] mindctrl commented on #565
We could just adjust the error message in `rcp_calc_total_ajax()` to something like you mentioned here: https://github.com/restrictcontentpro/restrict-content-pro/issues/565#issuecomment-232785669 though that feels like cheating. 😛

[2016-07-25 22:41] pippinsplugins commented on #565
Let's go ahead and adjust the message.

Frankly that's a super weird scenario (free trial to free unlimited) so I'm not too concerned about it still being possible to trigger.

[2016-07-25 22:50] mindctrl commented on #565
Agreed and adjusted.

[2016-07-25 23:33] pippinsplugins commented on #565
Let's merge once tests pass.

[2016-07-26 02:12] mindctrl commented on #565
Merged

[2016-07-26 02:13] mindctrl commented on #564
Merged.

[2016-07-26 02:13] #564 closed

[2016-07-26 02:15] mindctrl commented on #602
Merged.

[2016-07-26 02:15] #602 closed

[2016-07-26 02:15] mindctrl commented on #596
Merged.

[2016-07-26 02:15] #596 closed

[2016-07-26 13:20] mindctrl opened #609 "Define CAL_GREGORIAN if not defined"
On some systems it's not already defined. EDD does this now: https://github.com/easydigitaldownloads/easy-digital-downloads/issues/2633

[2016-07-26 13:20] mindctrl commented on #591
Looks good here. Merged.

[2016-07-26 13:20] #591 closed

[2016-07-26 13:22] mindctrl commented on #592
@pippinsplugins this look good to you?

[2016-07-26 13:23] mindctrl commented on #592
Oh wait I see your comment on the PR.

[2016-07-26 13:32] #563 closed

[2016-07-26 13:49] #592 closed

[2016-07-27 14:23] derickbailey commented on #335
can I also request paid trials, not just free trials?

i offer a 1-year paid membership for my site, and I would like to do something like "30 days for $30" as my trial membership

[2016-07-27 15:53] mindctrl commented on #335
I think paid trials would fall under per-level auto-renew settings. https://github.com/restrictcontentpro/restrict-content-pro/issues/548

[2016-07-27 17:55] derickbailey commented on #335
@mindctrl that would be a good start, but I don't think it would be a great long-term solution.

When I see "paid trial", my expectation is to have an automatic continuation after the trial period is over. In other words, "pay $30 now. in 30 days, you'll automatically be billed the full $349 for the next year of membership".

The ability to set a plan as not auto-renewing, at the plan level, would

[2016-07-27 17:57] mindctrl commented on #335
@derickbailey ok I see what you're saying now. Thanks for the details. We'll give this some consideration.

[2016-07-27 17:59] derickbailey commented on #483
i'm very much looking forward to this one. right now i have to create a new plan with a negative signup fee, but make everything else match the original plan. having one-time discounts will greatly improve things for me!

[2016-07-28 16:03] carter2422 commented on #601
I just replicated this again in 2.6.4.

Using the straight `[register_form], with Stripe Checkout as the only enabled gateway, I signed up first with a Free plan, then went back to `/register` and upgraded to a `Monthly` plan. Upon submitting payment and activating successfully I'm set to non-recurring: https://cl.ly/goGP

The Stripe subscription is active, though.

On a hunch I then did another s

[2016-07-28 16:05] mindctrl commented on #601
@carter2422 thanks for the extra details. I'll try to dig into this later today.

[2016-07-28 16:05] carter2422 commented on #601
Thanks @mindctrl! I'm looking forward to enabling checkout :)

[2016-07-28 16:07] carter2422 commented on #601
Oh! One more related thing (perhaps needs to be logged as separate issue).

On that second upgrade (shown here: https://cl.ly/gohs ) notice the `Expiration` date was not updated, it's set to the signup date.

[2016-07-29 00:06] DrewAPicture opened #610 "Trim payment gateway API key fields on save"
Was just testing an improvement the RCP integration for AffiliateWP and when I set up RCP with my Stripe test keys, there was an errant space entered into the key field that persisted on save.

In part, this is a byproduct of Stripe's poor design in allowing extra spaces to be selected for copying, but at the same time I think we could probably make this a little more foolproof for the end user.

[2016-07-29 00:09] DrewAPicture opened #611 "Checkout hangs when when Stripe API key isn't defined for sandbox mode"
As a side-effect of the issue reported in #610, when I attempted to check out with the faulty API key (faulty due to extra spaces), the checkout process just hung there. Checking the console yielded an `Uncaught Error` returned from Stripe:

[code]
I haven't looked too deeply into it, but I think it has to do with the sandbox mode not being enabled or the webhook not being defined and thus Stripe

[2016-07-29 00:23] DrewAPicture commented on #610
Added a PR: #612

[2016-07-29 02:19] mindctrl commented on #610
Works great. Merged. Thanks @DrewAPicture!

[2016-07-29 02:19] #610 closed

[2016-07-29 02:20] mindctrl commented on #601
I tested this earlier today and still was unable to replicate. Only time my user didn't get `is_recurring` set is when I had auto-renew set to `Never`. I'll give it another whirl tomorrow on a fresh test site.

[2016-07-29 07:42] colomet opened #613 "Select who should have access to this content."
before we can have restricted contend for one page with: subscription level + acces level.

Is  now not longer possible?

[2016-07-29 12:31] mindctrl commented on #613
Hi @colomet, please open a support ticket at https://restrictcontentpro.com/support/. We use Github for development tracking only.

[2016-07-29 12:31] #613 closed

[2016-07-29 14:21] mindctrl opened #614 "Improve request body arg handling in PayPal Pro gateway"
When working on a ticket I found some interesting things in the PayPal Pro gateway.

First, if a site title is empty under Settings > General, PayPal returns the following error:
[code]
We create the SoftDescriptor from the site title and the subscription name here: https://github.com/restrictcontentpro/restrict-content-pro/blob/2.6.4/includes/gateways/class-rcp-payment-gateway-paypal-pro.php#L74

[2016-07-29 15:04] mindctrl commented on #565
This introduced a bug where a person can't renew their paid expired subscription because it doesn't show on the registration form. https://github.com/restrictcontentpro/restrict-content-pro/commit/542dcd69d49533cdb06ec2a483570e57337e7dd9

[2016-07-29 15:06] mindctrl commented on #565
Going to open a new issue.

[2016-07-29 15:06] #565 closed

[2016-07-29 15:08] mindctrl opened #615 "Members existing subscription hidden on the registration form"
We introduced a bug in https://github.com/restrictcontentpro/restrict-content-pro/commit/542dcd69d49533cdb06ec2a483570e57337e7dd9 when working on #565 that causes a member's current subscription level to not show on the registration form. This means they can't renew their subscriptions when expired.

[2016-07-29 15:22] mindctrl commented on #529
Looking at the code for this there's a note:
`// Ensure codes are identical, including case`

Is this something we want to consider doing or just leave it as it is? I'm fine with leaving it. I don't recall why I opened this issue originally.

[2016-07-30 00:51] pippinsplugins commented on #614
That makes perfect sense. There is no reason for us to create a recurring profile with a single payment when it's not actually a recurring subscription. :+1:

[2016-07-30 00:54] #615 closed

[2016-07-30 00:54] pippinsplugins commented on #529
I agree with making them case insensitive.

[2016-07-30 00:55] #586 closed

[2016-07-31 21:23] pippinsplugins commented on #204
Another request https://secure.helpscout.net/conversation/233208790/39096/?folderId=841776

[2016-08-01 11:18] mindctrl opened #618 "Update Stripe library"
We've had two reports over the weekend of Stripe not working due to TLS issues. Stripe told both customers that they were connecting over TLS 1.0 instead of 1.2, and in both cases told them:

[2016-08-01 13:09] #618 closed

[2016-08-01 13:33] #614 closed

[2016-08-01 14:12] mindctrl commented on #611
Added an error message when Stripe keys are missing. This along with #610 should fix it all up.

[2016-08-01 14:15] #611 closed

[2016-08-01 14:16] #559 closed

[2016-08-01 14:29] mindctrl commented on #601
I just tested this again on a new site and still can't replicate. I went from Free unlimited -> Paid, and the recurring flag was set.

![image](https://cloud.githubusercontent.com/assets/1254870/17297240/d49986bc-57d2-11e6-8336-3ff65d883d8a.png)

@pippinsplugins can you reproduce?

[2016-08-01 14:31] mindctrl commented on #601
Just did a free trial -> paid and it worked there too.

[2016-08-01 14:31] mindctrl commented on #601
I'm testing on master... so perhaps something we've already done fixed it.

[2016-08-01 14:32] pippinsplugins commented on #601
Let's punt to 2.6.6 and then hopefully @carter2422 can replicate (or not) again there.

[2016-08-01 14:38] #368 closed

[2016-08-01 14:41] carter2422 commented on #601
I'll test again when 2.6.5 is out.

[2016-08-02 18:27] sanderdewijs opened #624 "Fatal error: Class 'RCP_Payment_Gateway' not found"
Just updated to the latest version of RCP and it threw a fatal error on my Mollie Payment gateway. I initialize the gateway on the 'plugins_loaded' action hook, which should be when the main RCP_Payment class is instantiated. Never had this issue until the latest release.

[2016-08-02 19:48] sanderdewijs commented on #624
I fixed the issue by adding a higher priority to my action hook:
add_action('plugins_loaded', 'load_rcp_mollie_classes', 99999);

[2016-08-02 20:36] michaelbeil commented on #624
Thanks for letting us know.

[2016-08-02 20:36] #624 closed

[2016-08-02 22:40] thomasfw opened #625 "Incorrect member expiration date - [subscription_details] page, and in admin"
The expiration date shown on the [subscription_details] page is incorrect. For me it is showing the date the user joined. I'm using Stripe as my gateway.. not sure why that would make any difference.

The user's expiration date on the admin member page (in the actual date input) is always displayed correctly (mysite.com/wp-admin/admin.php?page=rcp-members&edit_member=1). But the incorrect date is

[2016-08-02 22:42] thomasfw commented on #625
**Admin member list**
<img width="1550" alt="screen shot 2016-08-02 at 23 36 15" src="https://cloud.githubusercontent.com/assets/7723105/17347881/83cf47b0-590a-11e6-8e29-885e8df2a053.png">

**[subscription_details] page**
<img width="832" alt="screen shot 2016-08-02 at 23 37 13" src="https://cloud.githubusercontent.com/assets/7723105/17347886/8d201d58-590a-11e6-90c5-fc1692f1b9d8.png">

**Admin edi

[2016-08-02 22:47] thomasfw commented on #625
... my webhook endpoint had been deleted in Stripe, hence the expiration not updating. Closing.

[2016-08-02 23:54] pippinsplugins commented on #625
@thomasfw Have you configured the Stripe webhooks? Also, what version of RCP are you using?

[2016-08-03 10:29] thomasfw commented on #625
@pippinsplugins see more recent comment, thanks.

[2016-08-03 19:04] mindctrl commented on #625
@thomasfw I can't replicate this. Please open a support ticket and include the system info report. https://restrictcontentpro.com/support/

[2016-08-03 19:04] #625 closed

[2016-08-04 17:56] carter2422 commented on #601
Update. My best guess is this was caused by delayed web hooks as I can no longer replicate it and everything is working fine.

False alarm.

[2016-08-04 17:56] #601 closed

[2016-08-05 18:52] mindctrl opened #626 "PayPal Pro/Express issue with one-time payments"
When using PayPal Pro with one-time payments, members remain pending due to our processing in the `process_webhooks()` method in the `RCP_Payment_Gateway_PayPal_Express` class (which is where Pro webhooks get processed).

We partially dealt with one-time payments in https://github.com/restrictcontentpro/restrict-content-pro/issues/614, but it was incomplete.

We need to process `web_accept` paymen

[2016-08-05 23:39] tannerm opened #628 "Rewrite rcp_locate_template function to accept custom directories"
Rewriting this and submitting a patch shortly.

[2016-08-06 00:20] tannerm commented on #628
Added PR: #629

[2016-08-06 11:50] mindctrl commented on #626
Customer confirmed this patch fixes her issue.

[2016-08-06 22:07] pippinsplugins commented on #626
Great, merging.

[2016-08-06 22:07] #626 closed

[2016-08-06 23:57] tannerm opened #630 "Add action to Template tags"
Allow for custom template tags to be added to Available Template Tags area of Email settings tab.

[2016-08-07 00:00] tannerm commented on #630
PR #631

[2016-08-07 15:31] pippinsplugins opened #632 "Add email verification"
Verification of email addresses during registration has been requested countless times. We really should add it.

Example request: https://secure.helpscout.net/conversation/236029190/39562/?folderId=841776

[2016-08-08 14:06] pippinsplugins commented on #628
Works perfectly for me.

@mindctrl can you please give this a quick test too?

[2016-08-08 14:07] pippinsplugins commented on #630
:+1:

[2016-08-08 14:07] #630 closed

[2016-08-08 16:18] mindctrl commented on #529
Punting this to 2.7. Note to future selves, test against Stripe.

[2016-08-08 16:43] mindctrl commented on #628
Looks good here.

[2016-08-08 16:43] #628 closed

[2016-08-08 18:29] mindctrl commented on #562
Punting this to 2.7 so we can spend time verifying everything, like matching passwords, proper email, username exists, etc.

[2016-08-08 19:03] mindctrl commented on #589
Looks good. Merged. Thanks @ramiy!

[2016-08-08 19:03] #589 closed

[2016-08-08 19:47] mindctrl commented on #590
@pippinsplugins this what you have in mind?

[2016-08-08 19:50] pippinsplugins commented on #590
Yes but let's do a slight tweak. Please fire it via the `rcp_remove_level` action so that someone could remove it or adjust the exact behavior if they chose.

[2016-08-08 20:10] mindctrl commented on #590
Per Slack discussion, moved the deletion to the inline processing we do in process-data.php.

[2016-08-08 20:32] #590 closed

[2016-08-08 21:09] #579 closed

[2016-08-09 19:30] michaelbeil opened #635 "Re-add .po files"
PR #636.

[2016-08-10 02:28] pippinsplugins commented on #635
`languages/rcp-fi_FI.mo` should not be deleted.

[2016-08-10 02:41] michaelbeil commented on #635
I only see `fi` as a valid locale here: https://make.wordpress.org/polyglots/teams/

[2016-08-10 13:53] pippinsplugins commented on #635
Ah! Ok you're right :)

[2016-08-10 13:53] #635 closed

[2016-08-10 20:42] mindctrl opened #637 "[restrict] shortcode improperly restricts content for Free members"
When using the shortcode as follows, free members are unable to see content:

`[restrict subscription="18"]You should be able to see this, but you can't.[/restrict]`

[2016-08-10 20:54] pippinsplugins commented on #637
PR looks good to me.

[2016-08-10 21:15] mindctrl opened #639 "Content improperly restricted for Free members when using Access Level restrictions"
Free members are unable to view content when content is restricted like via access levels in the _Restrict this content_ meta box.

![image](https://cloud.githubusercontent.com/assets/1254870/17570973/78b98e4a-5f1c-11e6-8589-4590615ec3d3.png)

This is because we set the `_is_paid` post meta flag when saving posts if there are any paid subscription levels on the site at all. [Reference 1](https://g

[2016-08-10 21:45] mindctrl commented on #639
That appears to work in my local testing. This doesn't appear to break anything because the paid level checks happen below that line. Going to push up a change and see what the unit tests think. My local phpunit is broken at the moment.

[2016-08-10 21:52] pippinsplugins commented on #639
:+1:

[2016-08-12 17:31] mindctrl opened #642 "Improve Stripe error message when things fail"
We've seen a few instances where customer creation fails. When that happens, we `wp_die` with this message: `'Stripe customer could not be created, please try again or contact support if the issue persists.'`

It would be great to include the error message from the caught exception to get a better idea of why it failed. There may be other error messages we can improve error messaging.

This would

[2016-08-15 23:03] derickbailey commented on #95
any chance this will get bumped down into the 2.x series? 2+ years seems a long time to wait for a feature of this much benefit.

and i really need this in combination with the one time discounts in #483

[2016-08-15 23:39] mindctrl commented on #95
@derickbailey I'll move this to 2.7 and we'll see if it's something that can make the cut.

[2016-08-21 03:59] tannerm opened #643 "Flush level cache on update"
Level cache is not getting flushed when the subscription level is updated. This results in no visible change occurring after update.

[2016-08-21 04:15] tannerm opened #645 "User's role does not change on upgrade/downgrade"
When a user switches (upgrades/downgrades) between levels with different roles, the new role is added to the user but the old role is not removed. (https://github.com/restrictcontentpro/restrict-content-pro/blob/master/includes/registration-functions.php#L178)

This should mimic the behavior seen when an admin manually changes a users behavior: https://github.com/restrictcontentpro/restrict-conten

[2016-08-21 04:31] tannerm opened #646 "get_levels() cache needs flush"
I don't have time to look into this one atm, but the cache for RCP_Levels->get_levels() does not appear to be flushed when a new level is created.

[2016-08-21 14:15] pippinsplugins commented on #643
Good catch!

[2016-08-21 14:17] pippinsplugins commented on #645
PR looks good to me though will need further testing.

[2016-08-22 13:57] mindctrl commented on #642
Some additional info:

If a customer is moving from a free trial to a paid plan and the credit card is declined, the "Stripe customer could not be created" message is shown. This message is thrown in the logic that checks for a payment profile ID, and if one doesn't exist and the card is declined, it throws the wrong message.

If a customer has a payment profile ID already, but then attempts to ma

[2016-08-22 14:12] pippinsplugins commented on #642
Good find. We can definitely catch that!

[2016-08-22 14:57] mindctrl commented on #639
@michaelbeil do you have a few minutes you can spare to test this?

[2016-08-22 16:11] mindctrl opened #648 "Check to see if DONOTCACHE page is already defined"
We don't check to see if it's defined first, which can cause some PHP notices because other plugins may have defined it already. Reference: https://github.com/restrictcontentpro/restrict-content-pro/blob/2.6.6/includes/gateways/class-rcp-payment-gateway-stripe.php#L381

[2016-08-22 22:07] mindctrl commented on #637
@pippinsplugins good to merge this?

[2016-08-22 22:09] #643 closed

[2016-08-22 22:36] mindctrl commented on #645
Working fine here.

[2016-08-22 22:41] #645 closed

[2016-08-22 22:42] pippinsplugins commented on #637
Yes.

[2016-08-22 23:04] #637 closed

[2016-08-23 13:26] mindctrl opened #649 "Invalid integer error in Stripe when using discounts"
It's possible to trigger the following error when using discounts with Stripe:

[code]

To reproduce:
- Create a subscription level priced at $24.99
- Create a discount code for 20% off
- Apply the discount during registration and attempt to purchase.

[2016-08-23 17:25] mindctrl commented on #204
Another request: https://secure.helpscout.net/conversation/241873426/40582/?folderId=841787

[2016-08-24 00:04] thomasfw opened #650 "Search by first/last name on Members page"
The current username/email lookup isn't all that useful when i'm looking for a particular member by name. Any chance of implementing a more comprehensive search here?

[2016-08-24 00:17] thomasfw opened #651 "Add 'View User Account' link to records on Payments page"
This is fairly minor, but when viewing payments there's no easy way to get to the user's profile without navigating to the Users page and doing a manual name search.

I can click through to the Edit Member page with 'View Member', but a 'View User Account' link alongside this which goes to the standard user profile would be really useful.

A 'View User Account' link on the Edit Member page would a

[2016-08-24 01:31] thomasfw opened #652 "Add 'Recently Updated' sorting on Members page"
I'm currently using the Payments page to keep track of who has recently joined or renewed on our site.

The reason being is that when sorting by 'Newest First' on the Members page I can't see users who have recently renewed their memberships, only those who've recently joined. As a result it's becoming increasingly difficult to keep track of membership activity on the main Members page.

**A few p

[2016-08-24 16:56] pippinsplugins commented on #652
I like this idea a lot.

We recently added a `rcp_renewed_date_{subscription_id}` meta field that is updated anytime a member renews, so this would be trivial to add.

[2016-08-24 16:57] pippinsplugins commented on #651
Great idea.

[2016-08-24 16:57] pippinsplugins commented on #650
I don't see any reason we can't add support for that.

[2016-08-24 22:49] thomasfw commented on #652
Awesome :)

Actually, it might be nice to have a proper 'Member Activity' log where we can see all member related activity (joins, renewals, cancellations etc.).

Something like this..

[code]

[2016-08-25 15:40] mindctrl opened #653 "Incorrect filter name for payment meta db name"
The payment **meta** db filter is named the same as the payment db filter.

https://github.com/restrictcontentpro/restrict-content-pro/blob/2.6.6/restrict-content-pro.php#L75

Should be `rcp_payment_meta_db_name` instead.

[2016-08-25 15:47] pippinsplugins commented on #653
Good catch.

[2016-08-25 16:31] pippinsplugins commented on #158
Another request https://secure.helpscout.net/conversation/243086775/40810/?folderId=841776

[2016-08-25 18:00] mindctrl opened #654 "Introduce subscription cancellation confirmation to [subscription_details]"
Right now if a person clicks the cancel link, it does it immediately without warning. Adding some kind of confirmation step would be a nice enhancement to prevent accidental cancellations.

[2016-08-25 18:11] mindctrl commented on #220
I'm going to see if we can tackle this in 2.7. We're seeing an increase in requests for this.

[2016-08-25 19:08] thomasfw opened #655 "rcp_generate_invoice() requires 'manage_options' cap"
Editors are unable to download invoices even thought they can carry out most other member related tasks.

Other actions seem to use the 'rcp_manage_members' or 'rcp_manage_payments' cap which might be more appropriate here?

[2016-08-25 19:22] mindctrl commented on #655
@thomasfw Editors are unable to manage members on the default installation. Have you made customizations to your roles, or am I misunderstanding what you mean?

[2016-08-25 19:34] thomasfw commented on #655
@mindctrl In that case it's likely i've updated the editor role to include the rcp caps (we give clients the editor role rather than admin).

Regardless, I think the `rcp_manage_payments` capability should still be used here (If a user with the `rcp_manage_payments` cap can edit a payment, it seems illogical that they're unable to download a payment invoice).

[2016-08-25 19:40] pippinsplugins commented on #655
I agree that `rcp_manage_payments` makes more sense.

[2016-08-25 19:40] mindctrl commented on #655
@thomasfw thanks for clarifying. I agree that `rcp_manage_payments` should be the cap check.

[2016-08-25 21:47] mindctrl opened #656 "Set member joined date when subscription level changed manually in admin"
If a member's subscription level is changed manually in the admin, a joined date for the new subscription level is not set. The payment fallback method doesn't work either, as there are likely no payments for the new one. We should set a joined date for the new level when it's changed in the admin.

[2016-08-26 00:18] thomasfw opened #657 "Better handling of unsuccessful membership activations"
When looking through the pending members list it's not clear why a user's membership has not yet been activated.

It should be simple enough to hook into `rcp_stripe_charge_failed` and log something in _user_notes_ like below (second row).

[code]

I'm also curious what kind of feedback a user gets when their payment fails. Can a courtesy email be sent out so they are at least aware that their car

[2016-08-26 00:29] pippinsplugins commented on #657
Great idea.

In terms of feedback to the user, that really depends on whether it's an initial signup payment or a renewal. Renewals can trigger emails to customers.

[2016-08-26 00:54] mindctrl commented on #657
Related improvements to Stripe payments: https://github.com/restrictcontentpro/restrict-content-pro/issues/642

[2016-08-26 01:08] thomasfw commented on #657
@pippinsplugins so does that mean the `rcp_stripe_charge_failed` hook in `process_webhooks()` only fires for renewals and not one-off payments?

Either way it should be possible to process that `charge.failed` event and send a quick email to the customer, so they're not left in the dark about their membership status!

[2016-08-26 11:18] mindctrl opened #658 "Change payment method interface to radio buttons"
We've had numerous requests about changing the payment method selector from a dropdown to a radio, like we have in EDD. I agree with these requests. The radio is easier to use and gives instant visibility to all options available.

[2016-08-26 21:27] pippinsplugins commented on #488
This is happening on another customer's site now: https://secure.helpscout.net/conversation/238734192/40096/?folderId=841782

Removing `rcp_print_user_payments_formatted( $member->ID )` from the member details screen resolves it so something in that is killing it.

[2016-08-26 21:32] pippinsplugins commented on #488
FOUND IT!

`rcp_print_user_payments_formatted()` is missing an `ob_start()`.

[2016-08-26 21:33] carter2422 commented on #488
OOOOOOO!

[2016-08-26 21:34] pippinsplugins commented on #488
Fixed in e84a256c540a5011d31f8b649869327f073d3292

[2016-08-26 21:34] #488 closed

[2016-08-26 21:49] pippinsplugins commented on #657
Eh, I'm not 100% sure. It was originally intended for subscription payments only but I believe it will also fire when a charge fails for a one-time payment, but only if the initial authorization is successful. That would be a charge that is authorized but then fails when capturing it, I think.

[2016-08-29 13:27] mindctrl commented on #639
@pippinsplugins I think we're good here, but can you give it a whirl to make sure?

[2016-08-29 14:20] #656 closed

[2016-08-29 14:20] #655 closed

[2016-08-29 14:21] #648 closed

[2016-08-29 14:21] #653 closed

[2016-08-29 14:24] pippinsplugins commented on #639
Works properly for me.

[2016-08-29 14:24] #639 closed

[2016-08-29 14:53] mindctrl commented on #649
@pippinsplugins this fixes that case, but presents another issue.

First, I ran the test listed above, and it worked fine. Totals:

![image](https://cloud.githubusercontent.com/assets/1254870/18055592/7d858050-6dd6-11e6-91b7-48f7084f4ef4.png)

---

Next, I went through again, got a prorated amount and applied a 35% discount. Totals:

![image](https://cloud.githubusercontent.com/assets/1254870/1805

[2016-08-29 15:15] pippinsplugins commented on #649
@mindctrl recurring or non recurring?

[2016-08-29 15:16] mindctrl commented on #649
@pippinsplugins non recurring

[2016-08-29 15:50] pippinsplugins commented on #649
@mindctrl look in your Stripe logs please. Did it fail when creating the 0.00 invoice or when creating the charge?

[2016-08-29 16:08] mindctrl commented on #649
@pippinsplugins it's the charge.

[2016-08-29 16:16] pippinsplugins commented on #649
Can you print out the args sent to `rcp_stripe_charge_create_args` and exit then post them?

[2016-08-29 16:39] mindctrl commented on #649
[code]

[2016-08-29 16:40] mindctrl commented on #649
@pippinsplugins I just tested this second scenario on 2.6.6, and the amount shows 0 there too for some reason. This seems like a separate issue, and I'm not even sure why it's showing 0 there when the registration totals page shows 3.25.

[2016-08-29 16:47] mindctrl commented on #649
RCP Gateway Object passed into `rcp_stripe_charge_create_args`

[code]

[2016-08-29 16:49] mindctrl commented on #649
Level config:
![image](https://cloud.githubusercontent.com/assets/1254870/18059457/05b61894-6de7-11e6-9660-cdf7332c8aa5.png)

[2016-08-29 16:50] mindctrl commented on #649
Must be a miscalculation of the prorate.

[2016-08-29 16:51] mindctrl commented on #649
When looking at the [subscription_details] output for this member, after the initial payment:

![image](https://cloud.githubusercontent.com/assets/1254870/18059520/4921a742-6de7-11e6-9eb1-02ccefe1dd26.png)

The amount has the 3 decimal places.

[2016-08-29 17:06] thomasfw opened #664 "Reports - Unable to click on custom filter select inputs (layout bug)"
I'm unable to select custom date ranges when choosing the 'custom' filter due to a layout issue. You can see where the chart overlaps the inputs in the screenshot (i'm using Safari).

<img width="488" alt="screen shot 2016-08-29 at 18 03 34" src="https://cloud.githubusercontent.com/assets/7723105/18059919/40ffe50c-6e13-11e6-85df-af5627435e52.png">

[2016-08-29 17:49] #664 closed

[2016-08-29 17:50] pippinsplugins commented on #649
Ok so that's a separate bug. Let's log that separately and then close this as fixed, agree?>

[2016-08-29 17:53] mindctrl commented on #649
Agreed. Merged. Will open a new issue for this other bug.

[2016-08-29 17:53] #649 closed

[2016-08-30 17:43] mindctrl opened #667 "Logo on invoices can extend beyond the container"
It's possible for a large logo to extend outside the container and look pretty ugly. We need to limit the width. @ericnormand already submitted a PR here. https://github.com/restrictcontentpro/restrict-content-pro/pull/666

[2016-08-30 17:44] #667 closed

[2016-08-30 19:56] mindctrl opened #668 "Calculation bug when using proration and discounts"
I think this only happens when using proration and discounts together. It affects Stripe and PayPal, and likely the rest. Haven't dug into it deep yet.

See the following series of screenshots to see the difference between what shows on the registration form and what gets calculated for the payment gateway:

#### 1)

![image](https://cloud.githubusercontent.com/assets/1254870/18064518/ca17c2ee-6df

[2016-08-31 01:35] pippinsplugins commented on #668
Weird . . .

[2016-08-31 01:38] pippinsplugins commented on #202
We could also extend this to cover complete menus instead of just menu items.

[2016-08-31 15:25] mindctrl opened #669 "Tables aren't accessible on network activated installations"
If you network activate, go to the first site, and then try to create a level, you'll get an error that it wasn't created. PHP error is:

`WordPress database error Table 'pressmatic.restrict_content_pro' doesn't exist for query SELECT * FROM restrict_content_pro  ORDER BY list_order; made by do_action('restrict_page_rcp-member-levels'), rcp_member_levels_page, rcp_get_subscription_levels, RCP_Leve

[2016-08-31 15:36] pippinsplugins commented on #669
Let's do it in 2.7 unless we start to see more tickets about it.

[2016-08-31 19:59] mindctrl opened #670 "Improve rcp_process_registration() processing"
`rcp_process_registration()` makes a number of calls to helper functions, which themselves call the `RCP_Levels` and `RCP_Member` classes. The results in those classes being instantiated several times over the course of processing a registration. We can streamline this a bit and reduce the number of class instantiations and maybe a few database queries.

I started noticing performance issues local

[2016-08-31 20:04] mindctrl commented on #548
We've had several more requests for this feature since opening this issue. It will make many folks happy.

[2016-08-31 20:41] mindctrl commented on #668
Probably related: when getting a prorated total of $0, with auto-renew set to never, I'm still seeing a payment option with prevents registration due to trying to pay a $0 amount.

![image](https://cloud.githubusercontent.com/assets/1254870/18145577/d0424340-6f99-11e6-9f90-34786f8eab92.png)

[2016-09-01 01:03] pippinsplugins commented on #670
PR looks good. Merged.

[2016-09-01 15:34] pippinsplugins opened #672 "Show notice when saving Login Redirect without a log in form on the redirect page"
In order to prevent admins from locking themselves out of their site, we automatically uncheck the login redirect option if the selected page does not contain a log in form.

There's not currently a notice of any kind that explains why the option is not saved so admins come to us and ask why it failed. The answer is simply that they need to add `[login_form]` to the redirect page.

Let's show a no

[2016-09-01 15:34] pippinsplugins commented on #672
See https://secure.helpscout.net/conversation/245835732/41269/?folderId=841776 for an example.

[2016-09-01 15:43] pippinsplugins commented on #672
Ready for testing.

[2016-09-01 18:32] mindctrl commented on #672
Works great. Merged.

[2016-09-01 18:32] #672 closed

[2016-09-02 04:05] mindctrl commented on #657
Related, email: https://github.com/restrictcontentpro/restrict-content-pro/issues/360

[2016-09-06 14:50] thomasfw opened #674 "Ambiguity on the Edit Member page"
The 'cancel' button should be removed from the top of the edit_member page. It's not clear at all that this means 'go back to member list' rather than 'cancel this user's membership'.

Maybe change to  **<a href="#back-to-member-list">Members</a> > Edit Member: John Doe**

<img width="779" alt="screen shot 2016-09-06 at 15 28 44" src="https://cloud.githubusercontent.com/assets/7723105/18277537/b8a

[2016-09-06 15:01] mindctrl commented on #674
Right now setting a member's status to cancelled does not cancel their subscription. We have an issue for that here: https://github.com/restrictcontentpro/restrict-content-pro/issues/557

[2016-09-06 15:01] mindctrl commented on #674
Re: removing "cancel" button at top, agreed. We should either change it to "Go back" or remove it entirely.

[2016-09-06 15:12] thomasfw commented on #674
This is actually a pretty large issue for me, I'm currently documenting the Membership processes for a client and the lack of consistency will be very confusing.

I don't see why somebody would want to flag an account as 'canceled' without actually canceling the gateway subscription, so @pippinsplugins suggestion in #557 of an additional checkbox next to the dropdown doesn't make sense to me - 'Ca

[2016-09-06 15:20] mindctrl commented on #674
@thomasfw people do all sorts of things you can't imagine in membership sites. Every single site we see is different, and many do things we think makes no sense, but for their use case it does. In another project of ours, we added a checkbox to refund the payment in the processor, which is where his suggestion came from. We're always open to suggestions. The point being we have an issue for clarif

[2016-09-06 15:24] thomasfw commented on #674
@mindctrl No problem, if this is something that you don't see making it into a release, is there a cancelation hook you might suggest I use to cancel the subscription in our gateway any time the status is changed?

[2016-09-06 17:22] pippinsplugins commented on #674
We're going to add a real cancellation option in 2.7.

In the mean time, you could hook into `rcp_set_status`.

[2016-09-06 17:24] thomasfw commented on #674
Thanks :)

[2016-09-07 16:20] mindctrl commented on #674
PR removing cancel button submitted. We'll deal with the cancellation issue in #557.

[2016-09-07 16:21] mindctrl commented on #670
I think we're good here. @pippinsplugins if you want to do another test to be sure, that would be great. Otherwise we can close.

[2016-09-07 16:42] #674 closed

[2016-09-07 16:44] pippinsplugins commented on #670
Worked perfectly.

[2016-09-07 16:44] #670 closed

[2016-09-07 16:46] #642 closed

[2016-09-08 18:55] mindctrl commented on #668
@pippinsplugins pushed a partial commit to `issue/668`. In my tests, the single payments are accurate. I have not yet tested recurring or made any adjustments there. I wanted to get your thoughts on this route before moving any further with it.

[2016-09-08 20:04] pippinsplugins commented on #668
Hmm, not sure I like this.

`$this->amount` should really be the final total, not pre discounts or fees.

[2016-09-08 20:04] pippinsplugins commented on #668
If we want a pre-fees / pre-discounts option, let's add `$this->subtotal`.

[2016-09-09 13:30] mindctrl opened #677 "Improve "upgrade" phrasing on registration form"
We've had several tickets about this now. When there's only one subscription level on a site and a member visits the registration form, the form says "Upgrade Your Subscription". The main complaint they have is that there's only one sub level, so "upgrade" is confusing. Let's look at improving this to avoid confusion, reduce tickets, and make it so customers aren't having to edit their templates t

[2016-09-09 14:18] pippinsplugins commented on #677
Maybe we should just add shortcode parameter to allow it to be changed.

[2016-09-09 19:07] mindctrl commented on #668
Agreed. `$this->amount` already wasn't the final total, as it didn't include the signup fee. It's the subscription price, and used in PayPal to set the `a3` recurring subscription price. I'll work up some changes here, do some testing, and push another commit.

[2016-09-10 00:47] derickbailey opened #679 "document / officially support the rcp_user_has_access function as part of the API?"
I'm doing some custom work in my theme and plugin where I want to show the complete content of the page to anyone that views it.

This page also has a video that I am loading from a URL in custom field. Only members with access level > 0 are allowed to watch the video. Everyone else is shown the title image from the video with a message about how they can subscribe.

To make this work, I can't use

[2016-09-10 01:04] mindctrl commented on #679
@derickbailey our code documentation is lacking. You can use `rcp_user_has_access()`. We're not changing it in the immediate future, and if we do it would either be backwards compatible or we'd safely deprecate it in favor of something new.

[2016-09-10 01:04] #679 closed

[2016-09-10 01:07] derickbailey commented on #679
@mindctrl totally understandable - docs can be ridiculously time consuming to maintain, and low priority. I'll keep using `rcp_user_has_access()`, as I planned. Thanks! :)

[2016-09-14 17:42] thomasfw opened #681 "Add override hook to webhook listener callback"
Is it possible to add an override hook at the top of the Stripe webhook listener callback.

Adding a hook at the top of the Stripe webhook listener means we can completely override the webhook process, so it's possible to prevent a charge from being processed by RCP when required (i'll get to that in a minute)...

**do_action( 'rcp_stripe_webhook_listener_override', $payment_event );**

[code]

I'

[2016-09-14 17:43] thomasfw commented on #681
And the reason why this is useful - We've just set up a feature which allows us to charge a Stripe customer that was set by RCP when they joined.

The issue is that every Stripe charge we make gets processed by the RCP webhook listener, and the user's membership gets updated as a result (the payment is processed as a membership payment, even though we've billed them for something unrelated).

[2016-09-14 17:55] mindctrl commented on #681
@thomasfw if the member's membership is being updated when a webhook event comes in, and that webhook is unrelated to an RCP charge, that's probably an RCP bug we need to fix.

[2016-09-14 18:19] thomasfw commented on #681
@mindctrl you might be right - as far as I can see the webhook receiver just gets the $member from the charge data, checks they have a subscription_id, and inserts/processes that payment only on the condition that it doesn't already exist.

This only happens when i'm using the customer object set up by RCP to make the charge, and not when i'm making one off charges for a user using another method.

[2016-09-14 18:57] thomasfw commented on #681
For a more permanent fix, something like this..?

1. When a user joins/renews and the charge is requested, add the transaction_id received from the gateway (e.g. Stripe) to an array of rcp_membership_payments `[ch_f8tiE9fe9UyUhi0x0f5OjIf0, ch_D854E9fe9UyUhi0x0f5OjI03]` (stored in site options).

2. When a charge is processed by the webhook listener, before doing anything else check that the transa

[2016-09-16 17:41] pippinsplugins commented on #681
@thomasfw You could hook into `init` earlier than we do to intercept the webhook. That would do it.

[2016-09-16 20:56] thomasfw commented on #681
@pippinsplugins I considered that.. I'm just concerned that if the rcp webhook hook priority was changed for any reason we might not pick up on that right away, and obviously that would immediately cause problems. I seem to remember the priority is already set to something like -999999 so it just feels a bit unsafe to rely on always hooking in before rcp!

Thanks

[2016-09-16 22:41] mindctrl commented on #427
We also need to ensure that changing subscription levels removes the old role given to them by their previous subscription level.

[2016-09-19 02:15] pippinsplugins commented on #681
It's highly unlikely we will change the priority we use. As long as you use a really, really low one, it should never be an issue.

[2016-09-20 12:31] mindctrl opened #682 "2Checkout registration errors on free subscription levels"
When registering for a free subscription level, trial or free forever, the 2Checkout gateway throws some errors and prevents registration.

The errors are:
- Missing Form Fields
- Missing Card Data

----

![image](https://cloud.githubusercontent.com/assets/1254870/18670186/a41fc8e6-7f0c-11e6-8765-2c89a148ae09.png)

[2016-09-20 12:54] pippinsplugins commented on #682
@mindctrl give that a try.

[2016-09-20 13:03] pippinsplugins commented on #668
@mindctrl able to work it out with a subtotal?

[2016-09-20 13:10] mindctrl commented on #682
Works great. Waiting on unit tests.

[2016-09-20 13:16] #682 closed

[2016-09-20 17:20] mindctrl opened #684 "Add Russian translation"
A customer translated RCP to Russian. PR incoming.

[2016-09-20 17:22] #684 closed

[2016-09-20 19:49] pippinsplugins opened #686 "Stripe: send plugin name and info to Stripe's SetAppInfo()"
Stripe has a new `setAppInfo()` that we can use to tell Stripe the requests come from RCP. This will help with debugging and backtracking through history.

See https://github.com/easydigitaldownloads/edd-stripe/issues/141

[2016-09-22 15:29] mindctrl commented on #686
Updated Stripe library. Screenshot of app info:

![image](https://cloud.githubusercontent.com/assets/1254870/18754708/9c72495a-80b7-11e6-8892-61a88748e7d3.png)

[2016-09-22 15:31] pippinsplugins commented on #686
Nice!

I wonder if it makes more sense to include the URL of the site running RCP instead of our own site URL, that way there's no question what site sent the API request. Thoughts?

[2016-09-22 15:32] mindctrl commented on #686
Hmm that's probably a good idea.

[2016-09-22 15:36] mindctrl commented on #686
Updated.

![image](https://cloud.githubusercontent.com/assets/1254870/18755091/d1faa062-80b8-11e6-87ff-80e374753d54.png)

[2016-09-22 15:36] pippinsplugins commented on #686
:+1:

[2016-09-22 15:56] pippinsplugins commented on #686
Let's merge once tests pass.

[2016-09-22 17:26] #686 closed

[2016-09-23 20:40] mindctrl opened #688 "Cancellation emails get sent twice"
When a member cancels a subscription, the emails to the site admin and to the member both get sent twice.

[2016-09-24 21:46] harvest316 opened #689 "rcp_profile_editor fails penetration test"
Hi guys.

Looks like we're not escaping javascript inputs on the profile editor. Failed a penetration test due to this.

Try using a last name of:
`test" onfocus="alert(1)" autofocus b=`

Paul

[2016-09-26 14:39] mindctrl opened #690 "Use rcp_get_currency() throughout the plugin in place of direct options call"
`rcp_currency_filter()` should be calling `rcp_get_currency()` [here](https://github.com/restrictcontentpro/restrict-content-pro/blob/2.6.7/includes/misc-functions.php#L73
), instead of getting it directly from the options. This will allow the filter in `rcp_get_currency()` to work with `rcp_currency_filter()`.

[2016-09-26 14:59] mindctrl commented on #690
I see a couple other places we could probably do this.

[2016-09-26 17:34] pippinsplugins commented on #688
@mindctrl are there two status changes shown in user notes section?

[2016-09-26 17:38] mindctrl commented on #688
@pippinsplugins no, only seeing one.

This was a daily sub, renewing until I cancelled it from the front end.
![image](https://cloud.githubusercontent.com/assets/1254870/18845126/69ad2316-83ee-11e6-99d8-7a3e5e77d514.png)

[2016-09-26 17:39] mindctrl commented on #688
BTW a customer reported this, and I did a quick test to confirm it. Just haven't dug into why it happens yet.

[2016-09-26 17:42] pippinsplugins commented on #688
I bet we have the email hooked twice.

[2016-09-26 17:44] mindctrl commented on #690
@pippinsplugins I updated this PR since you approved it. Mind giving it another look?

[2016-09-26 18:10] pippinsplugins commented on #690
PR looks good still.

[2016-09-26 18:16] #690 closed

[2016-09-26 21:00] pippinsplugins commented on #689
@harvest316 thanks for the headsup! We'll get it looked at.

[2016-09-27 14:18] pippinsplugins commented on #202
Nice example of a plugin that did this: https://www.cozmoslabs.com/add-ons/navigation-menu-filtering/

[2016-09-27 15:12] mindctrl commented on #202
Related: https://core.trac.wordpress.org/ticket/18584

[2016-09-27 21:33] #689 closed

[2016-09-28 19:30] mindctrl opened #693 "Add option to disable WP dashboard access and hide admin bar"
We get asked about this a lot. People want to disable backend access and they want to hide the admin bar. Every week I'm recommending people install one or two other plugins to do these simple tasks. I think we should consider adding it.

[2016-09-28 19:54] pippinsplugins commented on #693
I vote we add a checkbox for both.

[2016-09-28 21:20] mindctrl commented on #688
It looks like we cancel the member in the webhooks, as we should. But, when processing a user-initiated cancellation in `[subscription_details]` we also cancel the member by calling `rcp_process_member_cancellation()`, which calls `rcp_cancel_member_payment_profile()`, which then runs `$member->cancel()`.

[2016-09-29 14:51] mindctrl opened #694 "Existing Stripe subscriptions not cancelled when a member does a single payment"
If someone has an existing auto-renewing subscription in Stripe, and they come back to the site to manually renew or buy another subscription, we don't cancel their existing subscription on Stripe. This results in the customer continuing to get billed for the recurring subscription.

We should cancel any existing subscriptions during single payments too.

[2016-09-30 16:29] mindctrl opened #695 "Can't complete registration with 100% discount with Stripe Checkout"
With Stripe Checkout enabled, if someone goes to the registration form and applies a 100% discount, the registration won't complete. It just sits there.

[Customer reported](https://secure.helpscout.net/conversation/257672347/43554/?folderId=841781) and confirmed locally.

[2016-09-30 16:31] mindctrl opened #696 "StripeCheckout.configure: Unrecognized options"
I'm seeing the following errors in the console when using Stripe Checkout. Confirmed on my site and a customer site.

[code]

Seems like it's now named `data-allow-remember-meallowRememberMe`????

https://stripe.com/docs/checkout

[2016-09-30 16:32] pippinsplugins commented on #696
![screen shot 2016-09-30 at 11 32 32 am](https://cloud.githubusercontent.com/assets/1034109/18999118/9ac7b018-8701-11e6-8399-0230a6ec63f4.png)

[2016-09-30 16:33] mindctrl commented on #696
Weird. I saw `data-allow-remember-meallowRememberMe` from 2 different computers, but just now refreshed and only see `data-allow-remember-me`. Me thinks they're having some docs issues, or I'm caught in a vortex.

[2016-09-30 20:59] mindctrl commented on #360
Just had another request for this.

[2016-10-03 01:39] pippinsplugins commented on #696
@mindctrl This is working fine for me.

`[register_form_stripe id="2" data-allow-remember-me="false"]`

[2016-10-03 01:40] pippinsplugins commented on #696
Ah, I see. Error shows on main registration form.

[2016-10-03 01:40] pippinsplugins commented on #696
Renamed issue as there are actually several unrecognized options.

StripeCheckout.open: Unrecognized option 'label'. Did you mean 'name'?
You can learn about the available configuration options in the Checkout docs:

StripeCheckout.open: Type mismatch for option 'amount':
Looking for type 'number', but instead we found 'string'.

[2016-10-03 01:50] pippinsplugins commented on #696
@mindctrl @michaelbeil ready for testing.

[2016-10-03 01:51] pippinsplugins commented on #695
I just tested this and it worked properly for me.

[2016-10-03 02:02] pippinsplugins commented on #694
@mindctrl @michaelbeil ready for testing!

[2016-10-03 02:06] pippinsplugins commented on #688
@mindctrl @michaelbeil ready for testing.

[2016-10-03 12:22] mindctrl commented on #688
Works great! Merged.

[2016-10-03 12:22] #688 closed

[2016-10-03 12:44] mindctrl commented on #694
Hmm this doesn't work. I get this error after making a single payment:

[code]

The existing subscription gets cancelled, and the single payment gets billed, but that error is thrown.

[2016-10-03 12:46] mindctrl commented on #694
After looking at this closer, I see the logic that cancels the subscription down below. https://github.com/restrictcontentpro/restrict-content-pro/blob/2.6.7/includes/gateways/class-rcp-payment-gateway-stripe.php#L317-L322

That explains the error I got above.

The existing code should be working fine, and I just tested it again without this patch and it DID work fine. I'm not sure what was happen

[2016-10-03 12:54] mindctrl commented on #696
Works great. Merged.

[2016-10-03 12:54] #696 closed

[2016-10-03 13:16] pippinsplugins commented on #694
That seems to imply either the customer ID is changing or the subscription ID is being changed before the cancellation is called.

[2016-10-03 13:44] mindctrl commented on #695
Hmm doesn't work for me on two different sites.

[2016-10-03 13:44] mindctrl commented on #694
I thought that, but can't replicate it now.

[2016-10-03 14:05] #681 closed

[2016-10-03 14:22] pippinsplugins commented on #695
MaIn registration form with all levels shown or just a single level?

[2016-10-03 14:22] pippinsplugins commented on #694
Can't replicate now as in it is working properly now?

[2016-10-03 14:23] mindctrl commented on #695
Main reg form with all levels shown.

[2016-10-03 14:29] mindctrl commented on #695
@pippinsplugins try that.

[2016-10-03 14:31] mindctrl commented on #694
Working for me now. I'm closing this out. We can reopen if we run into it again. Blaming it on a glitch in the matrix for now.

[2016-10-03 14:31] #694 closed

[2016-10-03 14:38] pippinsplugins commented on #695
@mindctrl works for me!

[2016-10-03 14:51] #695 closed

[2016-10-04 19:48] mindctrl opened #701 "Alipay shows up on Stripe Checkout modal even when disabled"
On some sites, when Alipay is disabled, it still shows up on the modal. It looks like we just need to set data-alipay to false using a string instead of a boolean false.

[2016-10-05 14:01] boluda opened #703 "Repeated rcp_profile_first_name_wrap class"
The wrap class "rcp_profile_first_name_wrap" on the profile editor form is the same for first and last name :)

![screen shot 2016-10-05 at 15 59 35](https://cloud.githubusercontent.com/assets/4599915/19116147/be437722-8b14-11e6-8759-f36ef2007d80.png)

Would be nice to have two different IDs there :)

BTW, awesome plugin. Kudos to you, guys!

[2016-10-05 15:02] boluda opened #704 "Bad expiration date format when editing member"
When editing a member, the prepopulated expiration date format is not the proper one

![screen shot 2016-10-05 at 16 59 20](https://cloud.githubusercontent.com/assets/4599915/19118599/2c983228-8b1d-11e6-8195-e8e310b43867.png)

The main problem, is that if you don't see it, when updating any other field, the date is automatically changed to January 1, 1970, and the membership status change to expir

[2016-10-05 17:27] boluda opened #705 "Link payment ID to payment Gateway on member details page"
I'm not sure if this is a bug, in case it's not, just close it.

In EDD payment IDs are linked to the gateway's payment transaction details page. At least if they pay with Stripe and Paypal, so when I click on them, I go to the merchant's payment page.

But in RCP there is no link to the merchant's payment page, right?

Again, sorry if it's not a bug, but it's so convenient! :)

Thanks!

[2016-10-05 17:33] boluda opened #706 "Wrong translation"
There is a misspelling in a Spanish translation of "Active". It says "Acitvado" instead of "Activado".

I modified my po and mo file, how should I send you the right version? Is Github the proper way, or I should do it somewhere else?

Thanks.

[2016-10-05 17:46] mindctrl commented on #706
@boluda you can open a PR here, or you can email them to us via the support form here: https://restrictcontentpro.com/support/

[2016-10-05 17:57] pippinsplugins commented on #705
Where are you clicking on them from? The transaction IDs show in Restrict > Payments are linked.

[2016-10-05 19:27] boluda commented on #705
Oh, cool! I was clicking on the "payments section" on "rcp-members&edit_member". That brings me to "rcp-"payments&payment_id", where there is no link. Thanks!

[2016-10-05 19:29] boluda commented on #706
OK, thanks John!

[2016-10-05 19:29] #706 closed

[2016-10-05 21:35] pippinsplugins commented on #704
@boluda what is your WordPress date format set to?

[2016-10-05 21:37] boluda commented on #704
That one!
![screen shot 2016-10-05 at 23 37 05](https://cloud.githubusercontent.com/assets/4599915/19132599/ae92b4ec-8b54-11e6-9c17-5ef0426891c7.png)

[2016-10-05 21:37] pippinsplugins commented on #705
We should add a link there.

[2016-10-05 21:38] boluda commented on #705
Cool, thanks, that would be useful :)

[2016-10-06 18:45] mindctrl opened #708 "Expiration date for pending members"
If you view the pending member list in admin, many/most of the members will show an expiration date of today. That's because they don't have a real expiration date, only a pending one.

`rcp_get_expiration_date()` specifically calls the `get_expiration_date()` method in RCP_Member with the second param as false, which tells it not to use the pending expiration... which means it defaults to today.

[2016-10-07 13:21] geoffreybr commented on #354
Still not working for me.
The comment from @thomasfw helps me to sort it out.Thanks!

[2016-10-07 17:55] mindctrl opened #709 "Comments visible when post only restricted by role"
If a post is restricted only via user access/role, the comments on the post are visible if a user doesn't have access.

In `rcp_hide_comments()` we check for access with `rcp_user_can_access()`, but that doesn't check the role at all.

I did a quick test by adjusting the `can_access()` method in `RCP_Member` to check for a role, and it seems to work ok, but we'd need to do some thorough testing if

[2016-10-07 18:02] pippinsplugins commented on #709
Seems like a good fix.

[2016-10-10 16:18] pippinsplugins commented on #704
This happens because we pass the expiration date straight to the `set_expiration_date()` method of `RCP_Member` without converting it to the expected date format.

[2016-10-10 16:22] pippinsplugins commented on #704
@mindctrl could you give this a test?

[2016-10-12 04:46] boluda opened #712 "Stripe Checkout: data-panel-label adds price even if changed"
Hi there!

I noticed than in [register_form_stripe], the data-panel-label adds the {price} no matter what, even if a different value is defined in that parameter.

So if i go for data-panel-label="$10 month", the output is "**$10 month 10,00€**", which is weird. Since we are dealing with subscriptions, something like this would make sense:

![image](https://cloud.githubusercontent.com/assets/45999

[2016-10-12 13:50] pippinsplugins commented on #712
Thanks for the headsup! We'll get that resoolved.

[2016-10-12 13:56] boluda commented on #712
Great! :)

[2016-10-12 14:58] mindctrl opened #713 "Add helper function for creating a member"
When a member is created several things need to be handled, such as subscription level, join date, status, etc. It would be nice to have a helper function that handles all these things, so it's easier for us to handle in RCP core, in add-ons, and for customers looking to programmatically create members themselves.

Something like: `rcp_set_as_member( $user_id, $args = array() )`

[2016-10-14 16:39] pippinsplugins commented on #651
Ready for testing

[2016-10-14 16:39] pippinsplugins commented on #651
![screen shot 2016-10-14 at 11 39 20 am](https://cloud.githubusercontent.com/assets/1034109/19395362/de0fb6d4-9202-11e6-9761-7c043404a233.png)

[2016-10-14 16:47] mindctrl commented on #651
Works great. Will merge when tests pass.

[2016-10-14 17:12] #651 closed

[2016-10-17 06:24] sumobi opened #716 "WordPress database error on installation"
With latest master I'm getting this message on a fresh WP MS installation:

[2016-10-17 12:06] mindctrl commented on #716
Related: https://github.com/restrictcontentpro/restrict-content-pro/issues/669, https://github.com/restrictcontentpro/restrict-content-pro/issues/380

[2016-10-17 14:21] pippinsplugins commented on #704
See https://github.com/restrictcontentpro/restrict-content-pro/pull/715 for additional changes.

[2016-10-20 11:44] sanderdewijs opened #717 "Disable fees if non-recurring member upgrades or extends membership"
At the moment fees are always charged for users with a non-recurring subscription. Even if they upgrade their existing membership. It would be great if there was an option to only charge fees after the user registers for the first time.

[2016-10-20 21:02] pippinsplugins commented on #717
@sanderdewijs are you referring to signup fees?

[2016-10-21 05:33] sanderdewijs commented on #717
Yes exactly

[2016-10-21 13:39] michaelbeil opened #718 "Add a per-category restricted message"
It could be neat to add the option to change the restricted (Premium Content Message) message on a per-category basis.

Ref: https://secure.helpscout.net/conversation/266897596/45094/?folderId=841776

[2016-10-21 13:50] pippinsplugins commented on #718
Agreed.

[2016-10-21 13:57] pippinsplugins commented on #717
Ok so this is for a member that has paid a one-time fee for an account, reached the expiration date, and then renewed the account through a second one time payment. When renewing the account, you want to disable the signup fee.

Is that correct?

[2016-10-21 14:14] sanderdewijs commented on #717
That's it exactly!

[2016-10-21 14:56] sanderdewijs commented on #717
Perhaps an extra helper function like
`function rcp_is_user_active_or_expired($user_id = 0){
    if( empty( $user_id ) && is_user_logged_in() ) {
		$user_id = get_current_user_id();
	}
	$member = new RCP_Member( $user_id );
        if($member->is_active || $member->is_expired) {
            return true;
         }
	return false;
}`

[2016-10-24 14:30] mindctrl commented on #717
So, support for one-time signup fees? Interesting idea. I don't recall any other requests for this, but it might make a nice addition alongside https://github.com/restrictcontentpro/restrict-content-pro/issues/548 to give more control.

[2016-10-25 02:25] pippinsplugins commented on #717
I rather like the idea, but I vote we hold off on it until we have more requests for it.

[2016-10-25 13:21] mindctrl opened #720 "Incorrect member status when moving from free trial to paid with manual gateway"
When a member upgrades from a free trial to a paid plan and uses the manual payment gateway, the member remains active instead of pending. The member should be pending until approved manually.

[2016-10-25 13:48] mindctrl opened #721 "Incorrect expiration date when upgrading with manual gateway"
When upgrading a subscription using the manual gateway, the expiration date is incorrectly set for the member.

Steps to reproduce:
- buy a subscription 1 month expiration date and note your expiration date
- immediately upgrade to another 1 month subscription

At this point, the expiration date is 2 months out. The user has only paid for 1 month, as he was prorated when buying the second subscrip

[2016-10-25 18:09] mindctrl commented on #513
Related to this, customer suggested a new email tag for sending the verification link in the active/free subscription email. Something like `%verification_link%`.

[2016-10-26 00:12] pippinsplugins commented on #335
Request: https://secure.helpscout.net/conversation/268745742/45342/?folderId=841776

[2016-10-26 13:24] mindctrl opened #722 "Set headers in expiring email notices"
In `rcp_email_expiring_notice()` we don't set the email headers like we do in other emails, which can result in the From info to be from "WordPress <wordpress@domain>".

[2016-10-26 15:12] mindctrl opened #723 "Invalid character in SoftDescriptor in PayPal Pro"
When using PayPal Pro, subscriptions fail to be created. The following error is shown:

[code]

This appears to be due to the colon character we pass [here](https://github.com/restrictcontentpro/restrict-content-pro/blob/2.6.8/includes/gateways/class-rcp-payment-gateway-paypal-pro.php#L73).

Colon is no longer supported apparently: https://developer.paypal.com/docs/classic/api/merchant/DoExpressCh

[2016-10-26 15:41] pippinsplugins commented on #722
This could be one of the reasons some sites never saw these emails send
reliably.

On Wednesday, October 26, 2016, John Parris <notifications@github.com>
wrote:

[2016-10-26 16:08] mindctrl commented on #704
@geoffreybr your fix works great. Merged. Thanks. Thanks @boluda for reporting this.

[2016-10-26 16:08] #704 closed

[2016-10-26 16:15] mindctrl commented on #722
Very likely.

[2016-10-26 16:19] #723 closed

[2016-10-26 16:20] #720 closed

[2016-10-26 16:20] #722 closed

[2016-10-26 16:20] #703 closed

[2016-10-26 16:21] #708 closed

[2016-10-26 16:28] boluda commented on #703
Great!

[2016-10-26 16:34] #701 closed

[2016-10-26 17:29] pippinsplugins commented on #721
Was the member `pending` or `active` before upgrading?

[2016-10-26 17:57] mindctrl commented on #721
@pippinsplugins `active`.

[2016-10-26 20:07] pippinsplugins commented on #721
@mindctrl Thinking on this more. Wouldn't it be correct to extend from the current expiration if we are renewing the same subscription level? So we should only use the current time (I think) if we're buying a different level.

[2016-10-26 20:13] #709 closed

[2016-10-26 21:27] pippinsplugins commented on #721
@mindctrl looks good to me!

[2016-10-27 01:15] #721 closed

[2016-10-27 03:17] kevinlampron916 commented on #335
Hey guys! Just wanted to chime in and say thank you Pippin and the crew for making awesome plugins!

I would also like to say that a Free Trial option would be absolutely huge! I know just because I am one looking for this option.

I really hope you all put this one at the top of your lists. I have 3 of the top Membership plugins.
RCP, MemberPress & Woo Memberships.

I would really like to use RCP

[2016-10-27 12:38] mindctrl opened #731 "Improper role check in can_access() method of RCP_Member"
Introduced in https://github.com/restrictcontentpro/restrict-content-pro/pull/730. `rcp_user_level` gets saved with `All` instead of being left empty.

[2016-10-27 13:02] michaelbeil commented on #731
Everything checks out here.

[2016-10-27 13:29] #731 closed

[2016-10-28 13:54] mindctrl opened #734 "Add Swedish translation files"
A customer sent over a partial translation, with mostly front end strings it seems.

[2016-10-28 14:43] mindctrl commented on #718
What happens if a post is in multiple categories?

[2016-10-28 14:50] renatonascalves opened #736 "Checkbox to Hide/Show Payment Gateway Settings"
The default behavior in this tab is to show the 3 most used gateway.

Gateway Options
![screenshot_1](https://cloud.githubusercontent.com/assets/19148962/19810584/d1216ade-9d0c-11e6-885a-4b1d8175108a.png)

Gateway Settings
![screenshot_2](https://cloud.githubusercontent.com/assets/19148962/19810645/0c7a05aa-9d0d-11e6-9536-ee25495de7eb.png)

I'd suggest to show the settings for the ones only checke

[2016-10-28 14:53] mindctrl commented on #736
@renatonascalves That's a good idea. We're planning to redo the whole settings panel at some point. https://github.com/restrictcontentpro/restrict-content-pro/issues/155

At that point the whole layout may be different, but this is something we'll consider. I'm going to close this and link to it from the original issue. Thanks for the suggestion!

[2016-10-28 14:53] #736 closed

[2016-10-28 14:54] mindctrl commented on #155
Suggestion for settings when we get here: https://github.com/restrictcontentpro/restrict-content-pro/issues/736

[2016-10-28 15:08] #734 closed

[2016-10-28 15:11] pippinsplugins commented on #718
Two things we could do:

1. Default to the first term
2. If WP SEO is active, default to the one set as Primary (this will be most sites)

[2016-10-28 16:27] renatonascalves opened #737 "Improve User Notes"
I'd suggest to improve the user notes area. Could use WooCommerce as a inspiration. Not necessarily to add notes, but the presentation of it, also allow hooking (this part I'm not sure if already exists.).

https://12407-presscdn-0-33-pagely.netdna-ssl.com/wp-content/uploads/2016/02/Screen-Shot-2016-02-26-at-5.10.56-PM.png

[2016-10-28 18:40] mindctrl commented on #737
@renatonascalves we have an issue to improve notes here: https://github.com/restrictcontentpro/restrict-content-pro/issues/384

[2016-10-28 18:40] #737 closed

[2016-10-28 22:07] renatonascalves commented on #737
Thanks! =)

[2016-10-28 22:07] renatonascalves commented on #384
Also improve its layout! The current implementation is ugly. :)

[2016-10-28 22:09] renatonascalves commented on #736
Ok!

[2016-10-31 17:47] mindctrl opened #738 "Improve system info report"
We're missing some things that would help with support. Some are:

- [ ] whether or not API keys are set for payment processors (we'd not send the keys themselves, just that they're set or not. also need to check if the secret/publishable keys at least start with the right characters. people swap them sometimes.)
- [x] a list of subscription levels and their price (helpful for determining the beha

[2016-10-31 17:52] mindctrl opened #739 "Add default email settings to improve new customer experience"
The emails come totally unconfigured. It would be great to automatically set up some simple defaults to make it easier for new customers to get going.

[2016-10-31 18:22] pippinsplugins commented on #739
:+1:

On Mon, Oct 31, 2016 at 12:52 PM, John Parris <notifications@github.com>
wrote:

[2016-11-02 02:39] pippinsplugins commented on #693
PR submitted to disable toolbar.

[2016-11-02 02:55] pippinsplugins commented on #529
PR submitted. Includes upgrade routine to changes all existing discount codes to lower case.

[2016-11-02 03:03] pippinsplugins commented on #95
Ready for testing!

[2016-11-02 13:31] mindctrl commented on #95
Works great. Merged.

[2016-11-02 13:31] #95 closed

[2016-11-02 13:42] mindctrl commented on #529
Works great. Merged.

[2016-11-02 13:42] #529 closed

[2016-11-02 13:53] mindctrl commented on #693
Merged.

[2016-11-02 13:53] #693 closed

[2016-11-02 14:29] pippinsplugins commented on #693
This only hid the toolbar so updated issue title to reflect that change.

I vote we send people to `Remove Dashboard Access` if they want to remove the whole admin too.

[2016-11-02 14:58] mindctrl opened #744 "Validate inputs on price fields on subscription level add/edit screen"
Just had a customer getting Stripe token errors. Turns out she had input a bunch of text in the price field, like this: `22.00 ($21.00 monthly + $1.00 Processing fee for credit card payments)`

We should prevent that from happening. We should also ensure the other fields are validated for proper input.

[2016-11-02 17:09] mindctrl opened #745 "Uncaught exception on Stripe card declines"
When a card is declined, we're not catching it and displaying a nice error message. We should improve that and any other errors we can catch.

`Fatal error: Uncaught Stripe\Error\Card: Your card was declined. in /app/public/wp-content/plugins/restrict-content-pro/includes/libraries/stripe/lib/ApiRequestor.php:112`

To replicate, test with this card #: 4000000000000002

We did some improvements in

[2016-11-02 20:23] mindctrl commented on #744
PR submitted. I adjusted what we use on the payment screen for pattern. My regex-fu is not good, so would like another set of eyeballs on this for sure.

[2016-11-02 20:28] pippinsplugins commented on #744
My regex-fu is also not good. Which patters do you intend to allow?

[2016-11-02 20:29] mindctrl commented on #744
Basically these:
1.00
1
1,00

no negative amounts.

[2016-11-02 20:30] mindctrl commented on #744
Didn't catch the comma I see. Do we need to?

[2016-11-02 20:34] pippinsplugins commented on #744
Commas should be supported.

[2016-11-02 21:31] mindctrl commented on #744
@pippinsplugins updated pattern. found that one here: http://www.regexlib.com/DisplayPatterns.aspx?cattabindex=2&categoryId=3&AspxAutoDetectCookieSupport=1

[2016-11-02 21:36] pippinsplugins commented on #744
:+1:

Can we sanitize at DB level too please?

[2016-11-04 01:51] pippinsplugins commented on #658
Ready for testing!
![screen shot 2016-11-03 at 8 51 39 pm](https://cloud.githubusercontent.com/assets/1034109/19991873/59575630-a207-11e6-8586-44e2f9b579ff.png)

[2016-11-04 01:53] pippinsplugins opened #748 "Introduce RCP_Emails"
It is time RCP had a nice emails class to handle email delivery and templates. This will also allow us to easily introduce HTML emails.

[2016-11-04 01:54] pippinsplugins opened #749 "Enable rich editor on email settings"
Once #748 is completed, we should update the email settings to use rich editors.

[2016-11-04 02:19] pippinsplugins commented on #748
WIP submitted.

[2016-11-04 11:40] michaelbeil opened #751 "Improve email-functions.php inline docs"
`Triggers the cancellation notice when an account is marked as active` - https://github.com/restrictcontentpro/restrict-content-pro/blob/a250b030f204e4691fe5c18b6075be80dbcbca60/includes/email-functions.php#L243

Should be `Triggers the cancellation notice when an account is marked as canceled`.

`send welcome email` - https://github.com/restrictcontentpro/restrict-content-pro/blob/a250b030f204e46

[2016-11-04 12:23] #751 closed

[2016-11-04 13:32] #540 closed

[2016-11-04 15:07] mindctrl commented on #354
Fixed here: https://github.com/restrictcontentpro/restrict-content-pro/pull/740

[2016-11-04 17:35] mindctrl commented on #745
PR at least prevents the fatal error. If we want to improve the display and avoid hitting `wp_die()`, we'll need to do some more.

[2016-11-05 20:10] nosegraze commented on #360
Got a request for this today.

[2016-11-07 15:45] mindctrl commented on #158
Started this in `issue/158`, but we need to consider what we'll do inside `includes/content-filters.php`.

[2016-11-07 15:54] mindctrl opened #754 "Update rcp_insert_payment() function to use RCP_Payments class."
It's soft deprecated, but might as well update it.

[2016-11-07 16:04] nosegraze opened #756 "Fix fatal error on unsupported PHP versions"
If someone's PHP version is lower than 5.3, none of the plugin files get loaded, but the `rcp_register_databases` action still triggers. This causes a fatal error when trying to use classes (like `RCP_Payments`) that don't exist.

Moving the action into the `else` block for the version check fixes the problem.

See #755

[2016-11-07 19:37] mindctrl commented on #756
Works great. Merged.

[2016-11-07 19:55] mindctrl commented on #712
Stripe says this:

I read that to mean we can't remove the price from the button.

[2016-11-07 20:00] mindctrl commented on #712
Re-open if you disagree.

[2016-11-07 20:00] #712 closed

[2016-11-07 21:12] pippinsplugins commented on #712
:+1:

[2016-11-07 21:14] pippinsplugins commented on #756
We have several other actions that tie in at `plugins_loaded` so each of those pieces of functionality need thoroughly tested:

- integration classes
- gateway loading

Could I get confirmation both of those are still working? They should but just to be safe.

[2016-11-07 21:20] pippinsplugins commented on #158
:+1:

[2016-11-07 21:32] nosegraze commented on #756
Well the only one I moved was:

`add_action( 'plugins_loaded', 'rcp_register_databases', 11 );`

which looks to only be setting up global variables:

[code]

This is the one function that was being loaded *outside* of the PHP check.

The gateway and integration classes are hooked in separate files, which are only conditionally loaded in the `else` portion of the PHP version check anyway. For examp

[2016-11-07 21:39] mindctrl commented on #322
Started this in `issue/322`. I don't see that PayPal sends the IP address, and saw a recommendation online to send it via the CUSTOM param - but we're using that for the user ID already. Any thoughts on this? I may need someone else to do PayPal. My sandbox accounts are entirely hosed.

[2016-11-07 21:50] pippinsplugins commented on #322
We could store it on the member before going to PayPal. Needs to be gateway
agnostic anyway.

On Monday, November 7, 2016, John Parris <notifications@github.com> wrote:

[2016-11-07 21:51] pippinsplugins commented on #756
All good then!

On Monday, November 7, 2016, Ashley Gibson <notifications@github.com> wrote:

[2016-11-07 21:51] mindctrl commented on #756
Both payments and integrations working for me. We only moved `add_action( 'plugins_loaded', 'rcp_register_databases', 11 );` from outside the PHP version check to inside it... we didn't wrap it in another `add_action`.

[2016-11-07 21:51] #756 closed

[2016-11-07 23:38] #745 closed

[2016-11-08 00:46] pippinsplugins commented on #553
Ready for testing!

[2016-11-08 01:28] pippinsplugins commented on #483
I have this started and working for PayPal Standard.

Adding support for the other gateways is a bit trickier. For PayPal Pro and Express, we'll likely need to completely refactor those gateways to mimic the ones in EDD Recurring Payments.

Todo:

- [ ] Stripe
- [ ] PayPal Express
- [ ] PayPal Pro
- [ ] 2Checkout

[2016-11-08 01:33] pippinsplugins commented on #483
Needs testing:

- [ ] PayPal Standard
- [ ] 2Checkout
- [ ] PayPal Pro
- [ ] PayPal Express
- [ ] Stripe

[2016-11-08 13:32] mindctrl commented on #553
Pushed a small update. Ready to merge when tests finish.

[2016-11-08 13:44] mindctrl commented on #658
This breaks Stripe, with Stripe missing token error.

[2016-11-08 14:16] mindctrl commented on #658
Updated. Tested with:
* [x] Stripe
* [x] Manual
* [ ] PayPal Standard
* [ ] PayPal Express
* [ ] PayPal Pro
* [x] Braintree (works but when other gateway is selected, its fields still show. Will open issue there.

[2016-11-08 14:16] mindctrl commented on #658
@pippinsplugins can you test all the PayPal gateways? I still have a broken sandbox.

[2016-11-08 14:21] mindctrl commented on #658
Visually, I'd like to consider displaying the radio buttons side by side like we do in EDD, instead of vertically.

[2016-11-08 14:46] #553 closed

[2016-11-08 15:33] pippinsplugins commented on #658
I agree.

[2016-11-08 16:15] pippinsplugins commented on #754
Ready for testing.

[2016-11-08 16:32] mindctrl commented on #754
Works great. Will merge when tests finish.

[2016-11-08 16:34] #754 closed

[2016-11-08 17:05] pippinsplugins commented on #497
Started in #760

[2016-11-09 15:03] geoffreybr opened #761 "Not preventing account sharing if the first user connected never connects again"
My use case is with three users : **A**, **B** and **C** using the same account, with prevent account sharing enabled.
1. User **A** logs in and get connected. He closes his web browser without logging out.
2. User **B** logs in and get connected.
3. User **C** logs in and get connected.
4. Unless user **A** connects again using the connection cookie set up during step 1, user **B** is never logge

[2016-11-09 20:55] mindctrl commented on #761
Works great. Thanks @geoffreybr.

[2016-11-09 20:55] #761 closed

[2016-11-10 17:31] mindctrl commented on #351
Started mocking this up in `issue/351`. Will continue building it out.

[2016-11-10 20:58] mindctrl commented on #351
I don't remember what I meant here: `Login redirect for those without active subscriptions when using [edd_login]`

[2016-11-11 11:37] nosegraze opened #763 "Option to show excerpts by default"
I've gotten two requests now to have a way to enable excerpts for non-members by default without having to select the option each time.

[2016-11-11 16:56] mindctrl commented on #351
@pippinsplugins our Woo integration has separate settings for viewing and purchasing, but the UI is totally different. On EDD products we use the standard restriction UI. Adding another set of those same controls for controlling purchasing separate will not look good in my opinion. Right now the code on `issue/351` just ties purchasing ability to the viewing. Do you want us to separate the two and

[2016-11-11 16:57] mindctrl commented on #351
I'm ok with doing it like it is now and splitting them later if we get enough requests.

[2016-11-11 17:00] pippinsplugins commented on #351
I'm fine with just limiting viewing / purchasing with a single UI.

[2016-11-11 17:07] mindctrl commented on #351
Added a PR to make it easier to see. We can continue working on it.

[2016-11-12 11:55] nosegraze opened #765 "Option to auto add new users to subscription level"
Ref: https://secure.helpscout.net/conversation/274782280/46322/?folderId=1100052

Could be useful for free subscription levels.

[2016-11-12 15:00] nosegraze opened #766 "Support for payment plans"
Example:

* Specify a plan of a $297 payment every month for four months.
* User makes first payment of $297 and gets immediate access to all content.
* User has to make the $297 payment again each month until all four payments have been made.
* If a payment isn't made, the user's account is expired/suspended.
* Once all four payments have been made, they have lifetime access to the content.

I se

[2016-11-12 15:48] nosegraze commented on #717
Got a request for this. The guy is using negative fees to offer a first month free, but only wants it applied for the very first order -- not during upgrades.

This is the way that I found to give a free month for every new subscriber, but I don't want to give a extra free month when they upgrade their plan.

Ref: https://secure.helpscout.net/conversation/276436351/46586/?folderId=1100052

[2016-11-14 04:08] pippinsplugins commented on #766
I would _love_ to see this get added.

[2016-11-14 15:34] mindctrl opened #767 "Make it easier to customize the jQuery blockUI overlay"
A number of people have asked about customizing it, mainly because they don't like it or they want to change the color of it. I'd like to look into ways to make it easier for customers to customize.

[2016-11-14 15:48] pippinsplugins commented on #767
Perhaps we could write up a quick doc on how to style it with CSS.

[2016-11-14 16:57] mindctrl commented on #351
Checklist of items tested:

* [x] Download links do not work if member is expired (edd_file_download_has_access filter)
* [x] Removing restricted items from the /downloads archive listing, if "Hide Premium Posts" is enabled and the member doesn't have access.
* [x] Removing restricted items from [downloads] shortcode output if "Hide Premium Posts" is enabled and the member doesn't have access.
* [

[2016-11-14 16:58] pippinsplugins commented on #351
Are file downloads only restricted if the product or category has restrictions?

[2016-11-14 16:59] mindctrl commented on #351
Yes.

[2016-11-14 16:59] mindctrl commented on #351
Just noticed, need to restrict product description in [downloads] shortcode output if user doesn't have access. Currently EDD uses a different method for displaying it. Will update this in a bit.

[2016-11-14 17:18] mindctrl commented on #351
Updated PR for `[downloads]` excerpt filter.

[2016-11-14 19:01] mindctrl commented on #202
Gonna work on finishing this up.

[2016-11-14 20:47] pippinsplugins commented on #202
:+1:

[2016-11-14 20:54] pippinsplugins commented on #351
Everything ready for testing?

[2016-11-14 21:12] mindctrl commented on #351
@pippinsplugins I think so. Hopefully didn't miss too much. If you have any other ideas for areas we need to cover, we can do that too.

[2016-11-15 14:13] nosegraze opened #768 "Can't use another payment gateway if Stripe Checkout has been selected"
To reproduce:

* Enable Stripe Checkout and another gateway (I tested with PayPal).
* On register form, choose Credit / Debit Card (Stripe Checkout).
* Then change to PayPal after the ajax finishes.
* Press submit.

The Stripe Checkout modal pops up instead of taking you to PayPal.

[2016-11-15 14:27] pippinsplugins commented on #768
Replicated.

[2016-11-16 08:58] geoffreybr opened #769 "Add filters and actions in rcp_process_profile_editor_updates"
I added few fields in the profile editor ('Edit your profile' page) : URL of the user's Facebook page, a small description of the user, etc. ; the goal was to show these contents in the comments of the registered users without giving them access to the WP back-office.
In `rcp_process_profile_editor_updates`, there is no filters and actions equivalent to `rcp_form_errors` and `rcp_form_processing`

[2016-11-16 15:26] pippinsplugins commented on #769
This looks good to me!

[2016-11-16 15:39] mindctrl commented on #658
@pippinsplugins I think we're good here. Just need to confirm no unintended issues with PayPal gateways. I've reached out to PayPal again about my sandbox being hosed, but nothing yet. Can you do a test on those 3 above?

[2016-11-16 16:15] mindctrl opened #771 "Add option to remove all data when uninstalling plugin"
When uninstalling RCP, we should have an option that allows for removing all plugin data, tables, etc. It should default to off, so that people don't accidentally remove all data. EDD has an option like this.

[2016-11-16 16:23] pippinsplugins commented on #658
All three work properly! Merging.

[2016-11-17 14:45] mindctrl commented on #769
Merged. Thanks @geoffreybr

[2016-11-17 14:45] #769 closed

[2016-11-17 14:48] geoffreybr commented on #769
@mindctrl Do you know when the v2.7 will be released ? I will need this soon (so will probably have to integrate the feature in my version) but it could be good to have an approximative date :wink:. Thanks!

[2016-11-17 15:07] mindctrl commented on #768
PR submitted. Needs testing.

[2016-11-17 15:11] mindctrl opened #773 "StripeCheckout.configure: Type mismatch for option 'alipay'"
In #701, we changed the boolean value to a string, but since then it looks like something changed on Stripe. Now I'm seeing these messages in the console:

[code]

We need to switch back and test to ensure Alipay doesn't show when it's not enabled.

[2016-11-17 15:13] mindctrl commented on #769
@geoffreybr we don't have a set date yet. My guess would be within the next 2 months, but that depends largely on how things go during the holiday season.

[2016-11-17 15:26] mindctrl commented on #768
Just had a thought that this may need to be updated for the radio buttons in 2.7.

[2016-11-17 19:16] mindctrl opened #774 "Add support for multiple active subscriptions per user"
We've been asked a lot about supporting multiple active subscriptions per user. We need to add support for it. There's a lot to consider for this, and we should make a master list here to refer to when the time comes.

[x] How it works with upgrades/downgrades
[x] Helper functions currently assume one sub. We'll need to introduce new helpers, and possibly update existing ones.
[x] Member status an